{include file="/public/header"}
<style>
    .information {
        font-size: 0.9em;
        color: black
    }
</style>
<body style="background:#f5f5f5;;overflow-x: hidden;padding: 1em;font-family: '微软雅黑 Light'">
    <div class="layui-container" style="padding: 0;margin-top: 1em;">
        <div class="layui-row layui-col-space8">
            <div class="layui-col-sm12" style="padding: 0em;">
                <div class="layui-card" style="border-radius: 0.5em">
                    <div class="layui-row layui-col-space8">
                        <div class="layui-col-xs2">
                            <div style="border-radius: 0.5em;width: 3em;text-align: center;height: 3em;line-height: 3em;color:white;margin: 0.8em;box-shadow: 3px 3px 16px #eee">
                                {if !$userInfo}
                                <img src="{__IMG__}pays.png" alt="{$title}" width="35">
                                {else}
                                <img src="{$userInfo['img']}" alt="{$title}" width="35">
                                {/if}
                            </div>
                        </div>
                        <div class="layui-col-xs10">
                            <div class="layui-card-header" style="font-size: 1.1em;font-family: '微软雅黑 Light'">
                                {:t('order_ui.order_info')}
                            </div>
                            <div class="layui-card-body information">
                                {switch name="$row['type']" }
                                    {case value="recharge"}
                                        <div>{:t('order_ui.recharge_amount', ['amount' => $row['money']])}</div>
                                    {/case}
                                    {default /}<div>{:t('order_ui.recharge_amount', ['amount' => $row['money']])}</div>
                                {/switch}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6" style="margin-top: 0.5em;">
                <div class="layui-card" style="border-radius: 0.5em">
                    <div class="layui-card-header">
                        <img src="{__IMG__}logo.png" style="height:23px; "/> {$title}
                        <span style="float: right;">
                            <span class="layui-badge" style="background-color: lightsalmon">{:t('order_ui.auto_delivery')}</span>
                        </span>
                    </div>
                    <div class="layui-row layui-col-space8">
                        <div class="layui-col-xs2">
                            <div style="border-radius: 0.5em;text-align: center;height: 3em;line-height: 3em;background-color: #ff6f58;color:white;margin: 0.8em;box-shadow: 3px 3px 16px #eee">
                                <img src="{$userInfo['img']}" style="width: 100%;border-radius: 0.5em"/>
                            </div>
                        </div>
                        <div class="layui-col-xs10">
                            <div class="layui-card-header" style="font-size: 1.1em;line-height: 3.4em;height:auto;">{$row['name']}</div>
                                <div class="layui-card-body information layui-text" style="line-height: 2em">
                                    <p>
                                        <span onclick="layer.msg('份数×{:t('common_ui.quantity_field')}={:t('order_ui.quantity')}')">{:t('order_ui.quantity')}</span>
                                        <span style="float: right;">{:t('order_ui.quantity_value', ['count' => 1])}</span>
                                    </p>
                                    <p>
                                        {:t('order_ui.product_price')}
                                        <span style="float: right;">
                                           {:t('order_ui.money_amount', ['amount' => $row['money']])}
                                        </span>
                                    </p>
                                    <p style="float: right;margin-top: 0.8em;font-size: 1.05em">
                                        {:t('order_ui.subtotal', ['count' => $row['num'], 'amount' => $row['money'] * $row['num']])}
                                        <div style="color:#ff4500;font-size: 1.1em">
                                            ￥ {$row['money'] * $row['num']}
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6" style="margin-top: 0.5em;">
                    <div class="layui-card" style="border-radius: 0.5em">
                        <div class="layui-card-body layui-form layui-form-pane" style="padding: 0.5em">
                            <input type="hidden" name="orderid" value="{$row['trade_no']}" />
                            <input type="hidden" name="type" value="" />
                            {if !empty($alipay_api)}
                            <div style="padding: 0.3em;border-radius: 0.3em;line-height: 2em;height: 2.5em;">
                                <input type="radio" name="pay" value="1" title="<p style='width:100%'><img src='{__IMG__}alipay.png' width='13px' /> {:t('common_ui.alipay')}</p>">
                            </div>
                            {/if}
                            {if !empty($wxpay_api)}
                            <div style="padding: 0.3em;border-radius: 0.3em;line-height: 2em;height: 2.5em;">
                                <input type="radio" name="pay"  value="2" title="<p style='width:100%'><img src='{__IMG__}wxpay.png' width='13px' /> {:t('common_ui.wechat')}</p>">
                            </div>
                            {/if}
                            {if !empty($qqpay_api)}
                            <div style="padding: 0.3em;border-radius: 0.3em;line-height: 2em;height: 2.5em;">
                                <input type="radio" name="pay"  value="3" title="<p style='width:100%'><img src='{__IMG__}qqpay.png' width='13px' /> {:t('order_ui.qq_wallet')}</p>">
                            </div>
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <div class="layui-card" style="border-radius: 0.5em">
                        <div class="layui-card-body" style="padding: 0;height: 4em;line-height: 4em;text-align: right;border-radius: 0.8em">
                            <button class="layui-btn layui-btn-danger layui-btn-radius" id="btnSubmit" style="float: right;margin:0.5em 1em 0 1em;background: linear-gradient(to right, #f85032, #e73827);margin-right: 0.5em;">
                                {:t('order_ui.submit_order')}
                            </button>
                            <span style="font-size: 1.2em;float: right;text-indent: 0.5em">
                                <span style="color: #A6A6A6;font-size: 1em">
                                    {:t('order_ui.quantity_value', ['count' => $row['num']])}，
                                </span>
                                <span>
                                    {:t('order_ui.total_label')}<span style="color:#ff4500">{:t('order_ui.money_amount', ['amount' => $row['num'] * $row['money']])}</span>
                                </span>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file="/public/footer"}
<script>var checkstandM = 297;</script>
<script>
    layui.use(['form', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;

        window.custom_close =  function (){
            layer.confirm(window.t('confirm.close_window'), {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                top.location.href = '{:SITE_URL}/MyInfo/recharge';
            });
        }
        $(function(){
            var orderid = $("input[name='orderid']").val();
            if(orderid==''){
                notice.msg(window.t('order_ui.params_incomplete'),{icon:2, audio:'1'});
                return false;
            }
            $("#btnSubmit").click(function(){
                var pay = $('input:radio[name="pay"]:checked').val();
                if(pay == null){
                    notice.msg(window.t('order_ui.select_payment'),{icon:2, audio:'1'});
                }else if(pay == 1){
                    notice.msg(window.t('order_ui.redirecting_pay'), {icon: 4, close: true});
                    window.location.href="{:url('/Index/submit')}?type=alipay&orderid="+orderid;
                }else if(pay == 2){
                    notice.msg(window.t('order_ui.redirecting_pay'), {icon: 4, close: true});
                    window.location.href="{:url('/Index/submit')}?type=wxpay&orderid="+orderid;
                }else if(pay == 3){
                    notice.msg(window.t('order_ui.redirecting_pay'), {icon: 4, close: true});
                    window.location.href="{:url('/Index/submit')}?type=qqpay&orderid="+orderid;
                }
            });
        });
    // Auto-select first payment method
    var firstPay = $('input[name=pay]').first();
    if (firstPay.length && !$('input[name=pay]:checked').length) {
        firstPay.prop('checked', true);
        form.render('radio');
    }
    });
</script>
</body>
</html>
