{include file="/public/header"}
<!-- 加载动画 -->
<div class="page-loading">
    <div class="signal-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<div id="SF"></div>
{include file="/public/footer"}
<script>
    layui.use(['form', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;
        var paymentRequest = {$payment_payload|raw};
        notice.msg(window.t('order_ui.redirecting_wait'), {icon: 4, close: true});
        $(document).ready(function(){
            $.ajax({
                type: "POST",
                url: '{:url("/Index/check")}',
                data: paymentRequest,
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    admin.removeLoading();
                    if (data.code == 0) {
                        if(data.data.hasOwnProperty('url')){
                            window.location.replace(data.data.url);
                        }else if(data.data.hasOwnProperty('html')){
                            $("#SF").html(data.data.html);
                        }else{
                            notice.error({
                                title: window.t('order_ui.redirect_fail'),
                                message: window.t('order_ui.get_link_fail'),
                                animateInside:true,
                                position:'topCenter',
                                transitionOut:'flipOutX',
                                transitionOutMobile: 'flipOutX',
                                displayMode:'2',
                                audio:'1',
                                onClosing: function () {
                                    top.location.href = '/';
                                }
                            });
                        }
                    } else {
                        notice.error({
                            title: window.t('order_ui.redirect_fail'),
                            message: data.msg,
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1',
                            onClosing: function () {
                                top.location.href = '/';
                            }
                        });
                    }
                },
                error: function() {
                    notice.destroy();
                    admin.removeLoading();
                    notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                }
            });
        });

    });
</script>
</body>
</html>
