<!DOCTYPE html>
<html lang="{:t('common.lang_code')}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{:t('payment_ui.pay_result_title')}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/Assets/css/system-message.css?v=20261004" />
    <link rel="stylesheet" href="/Assets/css/payment.css?v=20261004" />
</head>
<body class="payment-page epay-return">
<div class="system-message {if condition='$success'}success{else/}error{/if}">
    <h1>{$msg}</h1>
    {notempty name="trade_no"}<p>{:t('payment_ui.merchant_order_no')}{$trade_no}</p>{/notempty}
    {if condition="$success"}
    <p>{:t('payment_ui.pay_success_closing')}</p>
    {else/}
    <p>{:t('common.page_auto_redirect', ['time' => $time])}</p>
    {/if}
    <a id="href" href="{$url}" class="btn">{if condition='$success'}{:t('common.complete')}{else/}{:t('common.go_back')}{/if}</a>
</div>
<script>
(function () {
    var payload = {
        type: "{$message_type}",
        trade_no: "{$trade_no|default=''}",
        msg: "{$msg}"
    };
    try {
        if (window.parent && window.parent !== window) {
            window.parent.postMessage(payload, window.location.origin);
        }
    } catch (e) {}
    var wait = document.getElementById('wait');
    var href = document.getElementById('href');
    if (!wait || !href) return;
    var interval = setInterval(function () {
        var time = parseInt(wait.innerHTML, 10) - 1;
        wait.innerHTML = time;
        if (time <= 0) {
            location.href = href.href;
            clearInterval(interval);
        }
    }, 1000);
})();
</script>
</body>
</html>
