
<!DOCTYPE html>
<html lang="{:t('common.lang_code')}">
<head>
    <meta charset="utf-8">
    <title>{$title}|{:t('install_ui.login_backend_btn')}</title>
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{__LIBS__}layui/css/layui.css"/>
    <link rel="stylesheet" href="{__MODULE__}admin.css?v=318"/>
    <link rel="stylesheet" href="{__CSS__}login.css?v=20261004"/>
    .

</head>
<body style="background-image: url('{__IMG__}background.svg');background-size: cover;">
<a href="javascript:SF_LANG.toggle();" title="{:t('common.language')}" style="position:absolute;right:24px;top:18px;color:#fff;z-index:3;">{:t('common.lang_toggle')}</a>
<div class="login-wrapper layui-anim layui-anim-scale layui-hide">
    <form class="layui-form layui-card-body" id="divLoading"
    style="padding: 28px 15px;box-sizing: border-box;min-height: 126px;opacity: 0.95">
        <div class="layui-form-item">
            <img class="logo" src="{__IMG__}logo.png" />
            <div class="title">{:t('login.login_backend')}</div>
            <div class="desc">
               {:t('login.admin_subtitle')}
            </div>
        </div>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-username"></i>
            <input class="layui-input" name="user" placeholder="{:t('login.username_placeholder')}" autocomplete="off"
                   lay-verType="tips" lay-verify="required" >
        </div>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-password"></i>
            <input class="layui-input" name="pass" placeholder="{:t('login.password_placeholder')}" type="password"
                   lay-verType="tips" lay-verify="required" >
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="remember" title="{:t('login.remember_me')}" lay-skin="primary" checked>
            <a href="{:url('/login/forgot')}" class="layui-link pull-right">{:t('login.forgot_password')}</a>
        </div>
        <div class="layui-form-item">
            <button type="button" class="layui-btn layui-btn-fluid sf" id="login">{:t('login.login_backend')}</button>
        </div>
        {if condition="!empty($login_switch)"}
        <div class="layui-form-item page-account-other" style="font-size: 14px;">
            <span>{:t('login.other_login')}</span>
            {if in_array('qq', $login_switch)}<a id="qq_login"><img src="{__IMG__}qq.svg" alt="qq"></a>{/if}{if in_array('qrcode', $login_switch)}<a id="code"><img src="{__IMG__}code.svg" alt="{:t('login.qq_scan')}"></a>{/if}&emsp;
        </div>
        {/if}
    </form>
</div>

<script src="//lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{__LIBS__}layui/layui.js"></script>
<script>window.SF_I18N_LOCALE = "{:t('common.lang_code')}"; window.SF_I18N_MESSAGES = {:json_encode(app()->lang->get(), 271)};</script>
<script type="text/javascript" src="{__JS__}lang.js?v=20260501"></script>
<script type="text/javascript" src="{__JS__}common.js?v=321"></script>
<script type="text/javascript" src="{__JS__}qq-oauth.js?v=20261004_3"></script>
<script src="{__JS__}gt.js"></script>
<script>
    layui.use(['layer', 'form', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;
        $('.login-wrapper').removeClass('layui-hide');

        {if in_array('qrcode', $login_switch)}
        $("#code").click(function(){
            admin.open({
                type: 2,
                title: t('login.admin_qr_title'),
                content: '/qrlogin/qrlogin.html?v=' + Date.now(),
                area: ['400px', '300px'],
                data: {type:'adminLogin'}
            });
        });
        {/if}
        {if $code != '' || $oauth_error != ''}
        var qqCallbackPayload = {$oauth_callback_json|raw};
        admin.btnLoading('#login');
        admin.showLoading('#divLoading', 2, '.8');
        $.ajax({
            type: "post",
            url: "/api.php/Social/login",
            data: qqCallbackPayload,
            dataType: "json",
            success: function(data) {
                if (data.code == 0) {
                    notice.msg(t('login.redirecting_qq'), {icon: 4, close: true, audio:'1'});
                    setTimeout(function (){
                        notice.destroy();
                        location.href=data.data.url;
                    },1000)
                } else {
                    notice.error({
                        title: t('common.nice_tips'),
                        message: data.msg,
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                }
                admin.removeLoading('#divLoading', true, true);
                admin.btnLoading('#login', false);
            }, error: function () {
                notice.error({
                    title: t('common.nice_tips'),
                    message: t('common.server_error'),
                    animateInside:true,
                    position:'topCenter',
                    transitionOut:'flipOutX',
                    transitionOutMobile: 'flipOutX',
                    timeout:false,
                    displayMode:'2',
                    audio:'1'
                });
                admin.removeLoading('#divLoading', true, true);
                admin.btnLoading('#login', false);
                return false;
            }
        });
        {/if}
        {if in_array('qq', $login_switch)}
        function handleAdminQqOauthResult(data) {
            admin.removeLoading('#divLoading', true, true);
            admin.btnLoading('#login', false);
            if (data && data.code == 0 && data.data && data.data.url) {
                notice.msg(data.msg || t('login.qq_success'), {icon:1});
                setTimeout(function(){ location.href = data.data.url; }, 500);
                return;
            }
            notice.error({title:t('login.qq_notice'), message:(data && data.msg) || t('login.qq_failed'), position:'topCenter'});
        }
        $("#qq_login").click(function(){
            admin.btnLoading('#login');
            admin.showLoading('#divLoading', 2, '.8');
            SfQqOauth.start({
                url:'/api.php/Social/login',
                data:{userType:'admin'},
                onResult:handleAdminQqOauthResult,
                onError:function(message){
                    admin.removeLoading('#divLoading', true, true);
                    admin.btnLoading('#login', false);
                    notice.error({title:t('login.qq_notice'), message:message, position:'topCenter'});
                }
            });
        });
        SfQqOauth.resume(handleAdminQqOauthResult, function(message){
            notice.error({title:t('login.qq_notice'), message:message, position:'topCenter'});
        });
        {/if}

        {if $captcha_open == '1'}
            var handlerEmbed = function(captchaObj) {
                var target;
                captchaObj.onReady(function() {
                    $("#wait").hide();
                }).onSuccess(function() {
                    var result = captchaObj.getValidate();
                    var user = $("input[name='user']").val();
                    var pass = $("input[name='pass']").val();
                    if (!result) {
                        notice.warning({
                            title: t('common.nice_tips'),
                            message: t('login.complete_verification'),
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                        return false;
                    }
                    admin.btnLoading('#login');
                    admin.showLoading('#divLoading', 2, '.8');
                    $.ajax({
                        type: "post",
                        url: "{:url('/Login/login')}",
                        data: {
                            "username": user,
                            "password": pass,
                            "geetest_challenge": result.geetest_challenge,
                            "geetest_validate": result.geetest_validate,
                            "geetest_seccode": result.geetest_seccode
                        },
                        dataType: "json",
                        success: function(data) {
                            if (data.code == 0) {
                                notice.success({
                                    title: t('common.nice_tips'),
                                    message: data.msg,
                                    animateInside:true,
                                    position:'topCenter',
                                    transitionOut:'flipOutX',
                                    transitionOutMobile: 'flipOutX',
                                    displayMode:'2',
                                    audio:'1'
                                });
                                setTimeout(function (){
                                    location.href="{:url('/Index/index')}";
                                },2000)
                            } else {
                                notice.error({
                                    title: t('common.nice_tips'),
                                    message: data.msg,
                                    animateInside:true,
                                    position:'topCenter',
                                    transitionOut:'flipOutX',
                                    transitionOutMobile: 'flipOutX',
                                    displayMode:'2',
                                    audio:'1'
                                });
                            }
                            admin.removeLoading('#divLoading', true, true);
                            admin.btnLoading('#login', false);
                        }, error: function () {
                            notice.error({
                                title: t('common.nice_tips'),
                                message: t('common.server_error'),
                                animateInside:true,
                                position:'topCenter',
                                transitionOut:'flipOutX',
                                transitionOutMobile: 'flipOutX',
                                timeout:false,
                                displayMode:'2',
                                audio:'1'
                            });
                            admin.removeLoading('#divLoading', true, true);
                            admin.btnLoading('#login', false);
                            return false;
                        }
                    });
                });
                $('#login').click(function() {
                    if ($(this).attr("data-lock") === "true") return;
                    var user = $("input[name='user']").val();
                    var pass = $("input[name='pass']").val();
                    if(!user){
                        notice.warning({
                            title: t('common.nice_tips'),
                            message: t('login.please_enter_username'),
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                        return false;
                    }
                    if(!pass){
                        notice.warning({
                            title: t('common.nice_tips'),
                            message: t('login.please_enter_password'),
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                        return false;
                    }
                    captchaObj.verify();
                });
                // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
            };
            $.ajax({
                // 获取id，challenge，success（是否启用failback）
                url: "/api.php/Captcha/?t=" + (new Date()).getTime(),
                // 加随机数防止缓存
                type: "get",
                asysn: true,
                dataType: "json",
                success: function(data) {
                    // 使用initGeetest接口
                    // 参数1：配置参数
                    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                    initGeetest({
                            width: '100%',
                            gt: data.gt,
                            challenge: data.challenge,
                            new_captcha: data.new_captcha,
                            product: "bind",
                            // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                            offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                            // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
                        },
                        handlerEmbed);
                }
            });
        {else/}
            $('#login').click(function() {
                var user = $("input[name='user']").val();
                var pass = $("input[name='pass']").val();
                if(!user || !pass){
                    layer.msg(t('login.credentials_required'));
                    return false;
                }
                load=layer.load(0);
                $.ajax({
                    type: "post",
                    url: "{:url('/login')}",
                    data: {
                        "username": user,
                        "password": pass,
                    },
                    dataType: "json",
                    success: function(data) {
                        layer.close(load);
                        if (data.code == 0) {
                            layer.msg(data.msg);
                            window.location.href="./index.php";
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            });
        {/if}
    });
</script>
