{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                {if $userid > 0}
                <input type="hidden" name="userid" value="{$userid}"/>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <span class="layui-badge layui-badge-blue">{:t('admin_cdkey.viewing_user', ['uid' => $userid])}</span>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" href="{:url('/Cdkey/list')}" style="margin-left:8px;">{:t('admin_user.view_all')}</a>
                    </div>
                </div>
                {/if}
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_auth_content_or_qq')}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common.status')}</label>
                        <div class="layui-input-inline">
                            <select name="status" class="ew-select-fixed">
                                <option value="">{:t('common_ui.select_used_status')}</option>
                                <option value="1">{:t('common.show')}</option>
                                <option value="0">{:t('common.hide')}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="QH_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('profile.application')}</label>
                        <div class="layui-input-inline">
                            <select class="layui-input ew-select-fixed" lay-filter="app" lay-search>
                                <option value="">{:t('common_ui.select_all_apps')}</option>
                                {volist name="app_list.data.data" id="res"}
                                <option value="{$res.id}">{$res.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->

            <table id="QH_Table" lay-filter="QH_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="QH_TbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>{:t('common.edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>{:t('common.delete')}</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="QH_TbState">
    <input type="checkbox" lay-filter="QH_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.used_unused')}" {{d.status==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="QH_TbPermanent_Switch">
    <input type="checkbox" lay-filter="QH_TbPermanent_SwitchCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.normal_separator')}" {{d.permanent_switch==1?'checked':''}} style="display: none;"/>
</script>

<script type="text/html" id="QH_Tbid">
    <span id="QH_span_{{d.id}}">{{d.status==0?'<span class="layui-badge-dot layui-bg-qh-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="QH_EditDialog">
    <form id="QH_EditForm" lay-filter="QH_EditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common_ui.belong_app_label')}</label>
            <div class="layui-input-block">
                <select name="appid" class="layui-input ew-select-fixed" lay-filter="appid" lay-search>
                    <option value="">{:t('admin_cdkey.select_app')}</option>
                    {volist name="app_list.data.data" id="res"}
                    <option value="{$res.id}">{$res.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div id="form_data" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('common_ui.cdkey_type_label')}</label>
                <div class="layui-input-block">
                    <input type="radio" name="cdkey_type" value="auth" title="{:t('common_ui.auth_type')}" lay-filter="cdkey_type">
                    <input type="radio" name="cdkey_type" value="user" title="{:t('common_ui.power_type')}" lay-filter="cdkey_type">
                    <input type="radio" name="cdkey_type" value="balance" title="{:t('accounting.balance')}" lay-filter="cdkey_type">
                    <input type="radio" name="cdkey_type" value="integral" title="{:t('accounting.point_unit')}" lay-filter="cdkey_type">
                </div>
            </div>
            <div id="auth_data" style="display: none">
                <div id="type" style="display: none">
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-required">{:t('common_ui.auth_time_label')}</label>
                        <div class="layui-input-block">
                            <select id="auth_price_list" name="type" class="layui-input ew-select-fixed" lay-filter="type">
                                <option value="">{:t('auth_portal.select_duration')}</option>
                            </select>
                        </div>
                    </div>
                    <div id="diy" style="display: none">
                        <div class="layui-form-item">
                            <label class="layui-form-label layui-form-required">{:t('common_ui.expire_time_label')}</label>
                            <div class="layui-input-block">
                                <input type="text" id="test" name="endtime" placeholder="{:t('auth_portal.select_expire_time')}" class="icon-date layui-input"
                                       lay-verType="tips"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('price_ui.permanent_label')}</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="permanent_switch" value="1" lay-skin="switch" lay-filter="permanent_switch" checked/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('auth_portal.status_label')}</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="auth_status" value="1" lay-skin="switch" checked/>
                    </div>
                </div>
            </div>
            <div id="user_data" style="display: none">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('common_ui.power_field')}</label>
                    <div class="layui-input-block">
                        <select id="power" name="power" class="layui-input ew-select-fixed" lay-search>
                            <option value="">{:t('common_ui.select_power')}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('admin_cdkey.user_status_label')}</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="user_status" lay-text="{:t('common_ui.normal_separator')}" value="1" lay-skin="switch" checked/>
                    </div>
                </div>
            </div>
            <div id="balance_data" style="display: none">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('common_ui.balance_field')}</label>
                    <div class="layui-input-block">
                        <input type="number" name="balance" placeholder="{:t('admin_cdkey.balance_placeholder')}" class="layui-input"
                               lay-verType="tips" step="0.01" min="0" max="999999"/>
                    </div>
                </div>
            </div>
            <div id="integral_data" style="display: none">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('common_ui.integral_field')}</label>
                    <div class="layui-input-block">
                        <input type="number" name="integral" placeholder="{:t('admin_cdkey.points_placeholder')}" class="layui-input"
                               lay-verType="tips" />
                    </div>
                </div>
            </div>
            <div id="number" style="display: none">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('common_ui.generate_count')}</label>
                    <div class="layui-input-block">
                        <input type="number" name="number" placeholder="{:t('admin_cdkey.count_placeholder')}" class="layui-input"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
            <div id="cdkey" style="display: none">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('common_ui.cdkey_label')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="cdkey" placeholder="{:t('common_ui.cdkey')}" class="layui-input"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="QH_EditSubmit" lay-submit>{:t('common.save')}</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
        </div>
    </form>
</script>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'notice', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var notice = layui.notice;
        var laydate = layui.laydate;
        var selectedUserId = parseInt('{$userid}', 10) || 0;
        var initialWhere = {};
        if (selectedUserId > 0) initialWhere.userid = selectedUserId;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#QH_Table',
            url: '{:url("/Cdkey/list")}',
            method: 'post',
            where: initialWhere,
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>{:t('common.add')}</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>{:t('common.delete')}</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {field: 'id', title: 'ID', templet: '#QH_Tbid', sort: true, width: 80, fixed: true},
                {field: 'appName', title: '{:t("profile.application")}', sort: true, minWidth: 120, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">'+d.appName+'</span>';
                    }},
                {field: 'cdkey_type', title: '{:t("common_ui.cdkey_type")}', sort: true, minWidth: 80, templet: function (d) {
                        if(d.cdkey_type == 'auth'){
                            return '<span class="layui-badge layui-badge-red">{:t('common_ui.auth_type')}</span>';
                        }else if(d.cdkey_type == 'user'){
                            return '<span class="layui-badge layui-badge-blue">{:t('common_ui.power_type')}</span>';
                        }else if(d.cdkey_type == 'balance'){
                            return '<span class="layui-badge layui-badge-green">{:t('accounting.balance')}</span>';
                        }else if(d.cdkey_type == 'integral'){
                            return '<span class="layui-badge layui-badge-yellow">{:t('accounting.point_unit')}</span>';
                        }
                    },
                },
                {field: 'cdkey', title: '{:t("common_ui.cdkey")}', minWidth: 240},
                {field: 'info', title: '{:t("common.detail")}', sort: true, minWidth: 150, templet: function (d) {
                    if (!d.info) return '-';
                    try {
                        var info = typeof d.info === 'string' ? JSON.parse(d.info) : d.info;
                        if (d.cdkey_type === 'balance') {
                            return '<span class="layui-badge layui-badge-green">{:t("accounting.balance")} +' + (info.balance || 0) + ' {:t("accounting.currency_unit")}</span>';
                        } else if (d.cdkey_type === 'integral') {
                            return '<span class="layui-badge layui-badge-yellow">{:t("accounting.point_unit")} +' + (info.integral || 0) + '</span>';
                        } else if (d.cdkey_type === 'user') {
                            return '<span class="layui-badge layui-badge-blue">' + (info.power_name || ('{:t("admin_cdkey.power_id")} ' + info.power) || '?') + '</span>';
                        } else if (d.cdkey_type === 'auth') {
                            var p = info.permanent_switch == 1 ? '{:t("auth_portal.permanent")}' : (info.endtime || '?');
                            return '<span class="layui-badge layui-badge-red">' + p + '</span>';
                        }
                    } catch(e) {}
                    return d.info;
                }},
                {field: 'userid', title: '{:t("admin_cdkey.parent_id")}', sort: true, minWidth: 100, templet: function (d) {
                        if(d.userid == 0){
                            return '<span class="layui-badge layui-badge-green">{:t('auth_portal.site_owner')}</span>';
                        }else{
                            return '<span class="layui-badge layui-badge-blue">'+d.userid+'</span>';
                        }
                    },
                },
                {field: 'addtime', title: '{:t("common_ui.use_time")}', sort: true, minWidth: 290, templet: function (d) {
                        if(d.usetime == null){
                            return '<span class="layui-badge layui-badge-blue">'+d.addtime+'</span> <span class="layui-badge layui-badge-green">{:t('common_ui.unused')}</span>';
                        }else{
                            return '<span class="layui-badge layui-badge-blue">'+d.addtime+'</span> <span class="layui-badge layui-badge-red">'+d.usetime+'</span>';
                        }
                    }
                },
                {field: 'status', title: '{:t("common.status")}', templet: '#QH_TbState', minWidth: 100},
                {title: '{:t("common.operation")}', toolbar: '#QH_TbBar', align: 'center', minWidth: 180}
            ]]
        });


        form.on('select(type)', function (data) {
            let diy = $("#auth_price_list option:selected").attr('diy');
            if (diy == '1') {
                $("#diy").css("display", "inherit");
            }else{
                $("#diy").css("display", "none");
            }
        });
        form.on('switch(permanent_switch)', function (data) {
            if (data.elem.checked) {
                $("#type").css("display", "none");
            }else{
                $("#type").css("display", "inherit");
            }
        });
        /* 表格搜索 */
        form.on('submit(QH_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        form.on('select(app)', function (data) {
            var where = {appid:data.value};
            if (selectedUserId > 0) where.userid = selectedUserId;
            insTb.reload({where: where, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true},{field: 'id', title: 'ID', templet: '#QH_Tbid', sort: true, width: 80, fixed: true}]]});
            return false;
        });
        {if $appid != ''}
        initialWhere.appid = {$appid};
        insTb.reload({where: initialWhere, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true},{field: 'id', title: 'ID', templet: '#QH_Tbid', sort: true, width: 80, fixed: true}]]});
        {/if}
            /* 表格工具条点击事件 */
            table.on('tool(QH_Table)', function (obj) {
                if (obj.event === 'edit') { // 修改
                    showEditModel(obj.data);
                } else if (obj.event === 'del') { // 删除
                    doDel(obj);
                }
                laydate.render({
                    elem: '#test', //指定元素
                    mark: {
                        '0-3-15': 'QH'
                    },
                    type: 'datetime',
                    trigger: 'click'
                });
            });

            /* 表格头工具栏点击事件 */
            table.on('toolbar(QH_Table)', function (obj) {
                if (obj.event === 'add') { // 添加
                    showEditModel();
                } else if (obj.event === 'del') { // 删除
                    var checkRows = table.checkStatus('QH_Table');
                    if (checkRows.data.length === 0) {
                        notice.msg('{:t("confirm.please_select_data")}', {icon: 3, audio:'1'});
                        return;
                    }
                    var ids = checkRows.data.map(function (d) {
                        return d.id;
                    });
                    doDel({ids: ids});
                }
                laydate.render({
                    elem: '#test', //指定元素
                    mark: {
                        '0-3-15': 'QH'
                    },
                    type: 'datetime',
                    trigger: 'click'
                });
            });

            /* 显示表单弹窗 */
            function showEditModel(mData) {
                admin.popupRight({
                    type: 1,
                    title: (mData ? '{:t("common.edit")}' : '{:t("common.add")}') + '{:t("common_ui.cdkey")}',
                    content: $('#QH_EditDialog').html(),
                    success: function (layero, dIndex) {
                        // 回显表单数据
                        var empty = [{"cdkey_type":0,info: {"1":"","balance":"","power":"","integral":"","user_status":"","auth_status":""}}]
                        if(mData){
                            $("#form_data").css("display", "inherit");
                            $("#cdkey").css("display", "inherit");
                            $("#number").css("display", "none");
                            if (mData.cdkey_type == 'auth') {
                                notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                                $.ajax({
                                    type: "POST",
                                    url: '{:url("/Auth/getAuthPriceList")}',
                                    data: {appid:mData.appid},
                                    dataType: "json",
                                    success: function(data) {
                                        notice.destroy();
                                        if (data.code == 0) {
                                            notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                            var content = '<option value="">{:t('auth_portal.select_duration')}</option>';
                                            $.each(data.data,function(index, value){
                                                $.each(value,function(index, value){
                                                    if(value.diy_switch == 1){
                                                        content += '<option value="'+value.id+'" diy="1">'+value.name+'</option>';
                                                    }else{
                                                        content += '<option value="'+value.id+'" diy="0">'+value.name+'</option>';
                                                    }
                                                });
                                            });
                                            $("#auth_price_list").html(content);
                                        } else {
                                            notice.msg(data.msg, {icon: 2, audio:'1'});
                                        }
                                        form.render();
                                        if (mData.info.permanent_switch != 1) {
                                            $("#type").css("display", "inherit");
                                        }
                                        form.val('QH_EditForm', mData);
                                        form.val('QH_EditForm', mData.info);
                                    },
                                    error: function() {
                                        notice.destroy();
                                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                                    }
                                });
                                $("#auth_data").css("display", "inherit");
                                $("#user_data").css("display", "none");
                                $("#balance_data").css("display", "none");
                                $("#integral_data").css("display", "none");
                            }else if (mData.cdkey_type == 'user'){
                                notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                                $.ajax({
                                    type: "POST",
                                    url: '{:url("/Cdkey/getPowerList")}',
                                    data: {"appid":mData.appid},
                                    dataType: "json",
                                    success: function(data) {
                                        notice.destroy();
                                        if (data.code == 0) {
                                            notice.msg(data.msg, {icon: 1, audio:'1'});
                                            var content = '<option value="">{:t("common_ui.select_power")}</option>';
                                            $.each(data.data.data, function(index, value) {
                                                content +='<option value="'+value.id+'">'+value.name+'</option>';
                                            });
                                            $("#power").html(content);
                                        } else {
                                            notice.msg(data.msg, {icon: 2, audio:'1'});
                                        }
                                        form.render();
                                        form.val('QH_EditForm', mData);
                                        form.val('QH_EditForm', mData.info);
                                    },
                                    error: function() {
                                        notice.destroy();
                                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                                    }
                                });
                                $("#auth_data").css("display", "none");
                                $("#user_data").css("display", "inherit");
                                $("#balance_data").css("display", "none");
                                $("#integral_data").css("display", "none");
                            }else if (mData.cdkey_type == 'balance'){
                                $("#auth_data").css("display", "none");
                                $("#user_data").css("display", "none");
                                $("#balance_data").css("display", "inherit");
                                $("#integral_data").css("display", "none");
                                form.val('QH_EditForm', mData);
                                form.val('QH_EditForm', mData.info);
                            }else if (mData.cdkey_type == 'integral'){
                                $("#auth_data").css("display", "none");
                                $("#user_data").css("display", "none");
                                $("#balance_data").css("display", "none");
                                $("#integral_data").css("display", "inherit");
                                form.val('QH_EditForm', mData);
                                form.val('QH_EditForm', mData.info);
                            }
                            form.on('radio(cdkey_type)', function (data) {
                                if (data.value == 'auth') {
                                    let appid = $("select[name='appid']").val();
                                    notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                                    $.ajax({
                                        type: "POST",
                                        url: '{:url("/Auth/getAuthPriceList")}',
                                        data: {appid:appid},
                                        dataType: "json",
                                        success: function(data) {
                                            notice.destroy();
                                            if (data.code == 0) {
                                                notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                                var content = '<option value="">{:t('auth_portal.select_duration')}</option>';
                                                $.each(data.data,function(index, value){
                                                    $.each(value,function(index, value){
                                                        if(value.diy_switch == 1){
                                                            content += '<option value="'+value.id+'" diy="1">'+value.name+'</option>';
                                                        }else{
                                                            content += '<option value="'+value.id+'" diy="0">'+value.name+'</option>';
                                                        }
                                                    });
                                                });
                                                $("#auth_price_list").html(content);
                                            } else {
                                                notice.msg(data.msg, {icon: 2, audio:'1'});
                                            }
                                            form.render();
                                        },
                                        error: function() {
                                            notice.destroy();
                                            notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                                        }
                                    });
                                    $("#auth_data").css("display", "inherit");
                                    $("#user_data").css("display", "none");
                                    $("#balance_data").css("display", "none");
                                    $("#integral_data").css("display", "none");
                                }else if (data.value == 'user'){
                                    let appid = $("select[name='appid']").val();
                                    notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                                    $.ajax({
                                        type: "POST",
                                        url: '{:url("/Cdkey/getPowerList")}',
                                        data: {"appid":appid},
                                        dataType: "json",
                                        success: function(data) {
                                            notice.destroy();
                                            if (data.code == 0) {
                                                notice.msg(data.msg, {icon: 1, audio:'1'});
                                                var content = '<option value="">{:t("common_ui.select_power")}</option>';
                                                $.each(data.data.data, function(index, value) {
                                                    content +='<option value="'+value.id+'">'+value.name+'</option>';
                                                });
                                                $("#power").html(content);
                                            } else {
                                                notice.msg(data.msg, {icon: 2, audio:'1'});
                                            }
                                            form.render();
                                        },
                                        error: function() {
                                            notice.destroy();
                                            notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                                        }
                                    });
                                    $("#auth_data").css("display", "none");
                                    $("#user_data").css("display", "inherit");
                                    $("#balance_data").css("display", "none");
                                    $("#integral_data").css("display", "none");
                                }else if (data.value == 'balance'){
                                    $("#auth_data").css("display", "none");
                                    $("#user_data").css("display", "none");
                                    $("#balance_data").css("display", "inherit");
                                    $("#integral_data").css("display", "none");
                                }else if (data.value == 'integral'){
                                    $("#auth_data").css("display", "none");
                                    $("#user_data").css("display", "none");
                                    $("#balance_data").css("display", "none");
                                    $("#integral_data").css("display", "inherit");
                                }
                            });
                        }else{
                            form.on('select(appid)', function (data) {
                                if (data.value == "") {
                                    $("#form_data").css("display", "none");
                                    $("#diy").css("display", "none");
                                }else{
                                    $("#form_data").css("display","inherit");
                                }
                                $("input[name='cdkey_type']").prop('checked', false);
                                form.render('radio');
                                $("#auth_data").css("display", "none");
                                $("#user_data").css("display", "none");
                                $("#balance_data").css("display", "none");
                                $("#integral_data").css("display", "none");
                                $("#number").css("display", "none");
                            });
                            form.on('radio(cdkey_type)', function (data) {
                                if (data.value == 'auth') {
                                    let appid = $("select[name='appid']").val();
                                    notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                                    $.ajax({
                                        type: "POST",
                                        url: '{:url("/Auth/getAuthPriceList")}',
                                        data: {appid:appid},
                                        dataType: "json",
                                        success: function(data) {
                                            notice.destroy();
                                            if (data.code == 0) {
                                                notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                                var content = '<option value="">{:t('auth_portal.select_duration')}</option>';
                                                $.each(data.data,function(index, value){
                                                    $.each(value,function(index, value){
                                                        if(value.diy_switch == 1){
                                                            content += '<option value="'+value.id+'" diy="1">'+value.name+'</option>';
                                                        }else{
                                                            content += '<option value="'+value.id+'" diy="0">'+value.name+'</option>';
                                                        }
                                                    });
                                                });
                                                $("#auth_price_list").html(content);
                                            } else {
                                                notice.msg(data.msg, {icon: 2, audio:'1'});
                                            }
                                            form.render();
                                        },
                                        error: function() {
                                            notice.destroy();
                                            notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                                        }
                                    });
                                    $("#auth_data").css("display", "inherit");
                                    $("#user_data").css("display", "none");
                                    $("#balance_data").css("display", "none");
                                    $("#integral_data").css("display", "none");
                                    $("#number").css("display", "inherit");
                                }else if (data.value == 'user'){
                                    let appid = $("select[name='appid']").val();
                                    notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                                    $.ajax({
                                        type: "POST",
                                        url: '{:url("/Cdkey/getPowerList")}',
                                        data: {"appid":appid},
                                        dataType: "json",
                                        success: function(data) {
                                            notice.destroy();
                                            if (data.code == 0) {
                                                notice.msg(data.msg, {icon: 1, audio:'1'});
                                                var content = '<option value="">{:t("common_ui.select_power")}</option>';
                                                $.each(data.data.data, function(index, value) {
                                                    content +='<option value="'+value.id+'">'+value.name+'</option>';
                                                });
                                                $("#power").html(content);
                                            } else {
                                                notice.msg(data.msg, {icon: 2, audio:'1'});
                                            }
                                            form.render();
                                        },
                                        error: function() {
                                            notice.destroy();
                                            notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                                        }
                                    });
                                    $("#auth_data").css("display", "none");
                                    $("#user_data").css("display", "inherit");
                                    $("#balance_data").css("display", "none");
                                    $("#integral_data").css("display", "none");
                                    $("#number").css("display", "inherit");
                                }else if (data.value == 'balance'){
                                    $("#auth_data").css("display", "none");
                                    $("#user_data").css("display", "none");
                                    $("#balance_data").css("display", "inherit");
                                    $("#integral_data").css("display", "none");
                                    $("#number").css("display", "inherit");
                                }else if (data.value == 'integral'){
                                    $("#auth_data").css("display", "none");
                                    $("#user_data").css("display", "none");
                                    $("#balance_data").css("display", "none");
                                    $("#integral_data").css("display", "inherit");
                                    $("#number").css("display", "inherit");
                                }
                            });
                            form.render();
                            $("#form_data").css("display","none");
                            $("#cdkey").css("display", "none");
                            $("#number").css("display", "none");
                            $("#type").css("display", "none");
                            $("#diy").css("display", "none");
                        }

                        // 表单提交事件
                        form.on('submit(QH_EditSubmit)', function (data) {
                            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                            $.ajax({
                                type: "POST",
                                url: '{:url("/Cdkey/edit")}',
                                data: data.field,
                                dataType: "json",
                                success: function(data) {
                                    notice.destroy();
                                    if (data.code == 0) {
                                        table.reload('QH_Table');
                                        notice.msg(data.msg, {icon: 1, audio:'1'});
                                    } else {
                                        notice.msg(data.msg, {icon: 2, audio:'1'});
                                    }
                                },
                                error: function() {
                                    notice.destroy();
                                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                                }
                            });
                            return false;
                        });
                        // 禁止弹窗出现滚动条
                        $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    }
                });
            }

            /* 删除 */
            function doDel(obj) {
                layer.confirm('{:t("auth_portal.confirm_delete")}', {
                    skin: 'layui-layer-admin',
                    icon: 3,
                    shade: .1
                }, function (i) {
                    layer.close(i);
                    notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                    $.ajax({
                        type: "POST",
                        url: obj.data ? '{:url("/Cdkey/drop")}' : '{:url("/Cdkey/batchDrop")}',
                        data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                        dataType: "json",
                        success: function(data) {
                            notice.destroy();
                            if (data.code == 0) {
                                insTb.reload();
                                notice.msg(data.msg, {icon: 1, audio:'1'});
                            }else{
                                notice.msg(data.msg, {icon: 2, audio:'1'});
                            }
                        },
                        error: function() {
                            notice.destroy();
                            notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                        }
                    });
                });
            }

            /* 修改用户状态 */
            form.on('switch(QH_TbStateCk)', function (obj) {
                notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url:'{:url("/Cdkey/setStatus")}',
                    data: {id:obj.value,status:obj.elem.checked ? 1 : 0},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            insTb.reload();
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    }
                });
            });
        });
</script>
