{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_pirate_content')}"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="QH_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->

            <table id="QH_Table" lay-filter="QH_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="QH_TbBar">
    <a class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-search"></i>{:t('common.view')}</a>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="QH_EditDialog">
    <form id="QH_EditForm" lay-filter="QH_EditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div style="display: none">
            <textarea id="copy" name="copy"/></textarea>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('pirate_ui.content_label')}</label>
            <div class="layui-input-block">
                <input type="text" name="pirate_info" placeholder="{:t('pirate_ui.no_content')}" class="layui-input layui-disabled"
                       lay-verType="tips" disabled/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">IP:</label>
            <div class="layui-input-block">
                <input type="text" name="ip" placeholder="{:t('pirate_ui.no_ip')}" class="layui-input layui-disabled"
                       lay-verType="tips" disabled/>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">{:t('pirate_ui.request_params_label')}</label>
            <div class="layui-input-block">
                <textarea name="param" class="layui-textarea layui-disabled" style="height:100px" placeholder="{:t('pirate_ui.no_params')}" disabled></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">{:t('pirate_ui.added_at_label')}</label>
            <div class="layui-input-block">
                <input type="datetime" name="addtime" placeholder="{:t('pirate_ui.no_added_at')}" class="icon-date layui-input layui-disabled"
                       lay-verType="tips" disabled/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="QH_EditSubmit" lay-submit>{:t('common.copy')}</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.close')}</button>
        </div>
    </form>
</script>
{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var notice = layui.notice;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#QH_Table',
            url: '{:url("/Pirate/list")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {field: 'id', title: 'ID', sort: true, width: 80, fixed: true},
                {field: 'appName', title: '{:t("profile.application")}', sort: true, minWidth: 120, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">'+d.appName+'</span>';
                    }},
                {field: 'pirate_info', title: '{:t("pirate_ui.content")}', sort: true, minWidth: 160},
                {field: 'param', title: '{:t("common_ui.request_params")}', sort: true, minWidth: 120},
                {field: 'ip', title: 'IP', sort: true, minWidth: 100},
                {field: 'addtime', title: '{:t("common.add_time")}', sort: true, minWidth: 180},
                {title: '{:t("common.operation")}', toolbar: '#QH_TbBar', align: 'center', minWidth: 180}
            ]]
        });

        /* 表格搜索 */
        form.on('submit(QH_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(QH_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            }
        });

        function copyText(text) {
            var textarea = document.createElement("textarea");//创建input对象
            var currentFocus = document.activeElement;//当前获得焦点的元素
            document.body.appendChild(textarea);//添加元素
            textarea.value = text;
            textarea.focus();
            if(textarea.setSelectionRange)
                textarea.setSelectionRange(0, textarea.value.length);//获取光标起始位置到结束位置
            else
                textarea.select();
            try {
                var flag = document.execCommand("copy");//执行复制
            } catch(eo) {
                var flag = false;
            }
            document.body.removeChild(textarea);//删除元素
            currentFocus.focus();
            return flag;
        }

        function showEditModel(mData) {
            layer.confirm(t('pirate_ui.view_confirm', {price:'<span class="layui-badge layui-badge-yellow">{$price} {:t("accounting.currency_unit")}</span>'}), {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                admin.popupRight({
                    type: 1,
                    title: '{:t("pirate_ui.view_title")}',
                    content: $('#QH_EditDialog').html(),
                    success: function (layero, dIndex) {
                        // 回显表单数据
                        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/Pirate/edit")}',
                            data :{'id':mData.id, 'appid':mData.appid},
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    notice.msg(data.msg, {icon: 1, audio:'1'});
                                    var content = '{:t("auth_portal.auth_content_label")}'+data.data.data.pirate_info+'\n{:t("pirate_ui.request_params_label")}'+(data.data.data.param?data.data.data.param:'{:t("pirate_ui.no_params")}')+'\nIP: '+data.data.data.ip+'\n{:t("pirate_ui.added_at_label")}'+data.data.data.addtime;
                                    $('#copy').val(content);
                                    form.render();
                                    form.val('QH_EditForm', data.data.data);
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                        // 表单提交事件
                        form.on('submit(QH_EditSubmit)', function (data) {
                            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                            var ssrsss = data.field.copy//获取文本
                            var flag = copyText(ssrsss); //传递文本
                            notice.destroy();
                            notice.msg(flag ? "{:t('auth_portal.copy_success')}" : "{:t('notify.copy_failed')}", {icon: 1, audio:'1'});
                            return false;
                        });

                        // 禁止弹窗出现滚动条
                        $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    }
                });
            });
        }
    });
</script>
