<html lang="{:t('common.lang_code')}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{:t('payment_ui.qqpay')}</title>
    <link href="//cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 center-block" style="float: none;">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center;">
            <h3 class="panel-title">
                <img src="{__IMG__}qqpay.png">{:t('payment_ui.qpay_mobile')}
            </h3>
        </div>
        <div class="list-group" style="text-align: center;">
            <div class="list-group-item">
                <h1>￥{$row['money']}</h1>
            </div>
            <div class="list-group-item">
                {:t('payment_ui.product_name')}{$row['name']}<br/>
                {:t('payment_ui.merchant_order_no')}{$row['trade_no']}<br/>
                {:t('codepay_ui.label_create_time')}：{$row['addtime']}
            </div>
            <div class="list-group-item">
                <a href="" id="openUrl" class="btn btn-primary btn-block">{:t('payment_ui.jump_qq_pay')}</a>
            </div>
            <div class="list-group-item">
                <a href="#" onclick="checkresult()" class="btn btn-success btn-block">{:t('payment_ui.check_pay_status')}</a>
            </div>
            <div class="list-group-item">
                <a href="{:url('/QqPay/index')}?trade_no={$row['trade_no']}&sitename={$title}" class="btn btn-default btn-sm btn-block">{:t('payment_ui.use_scan_pay')}</a>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script>
    var isSafari = navigator.userAgent.indexOf("Safari") > -1;
    var code_url = '{$code_url}';
    var	tencentSeries = 'mqqapi://forward/url?src_type=web&style=default&=1&version=1&url_prefix='+window.btoa(code_url);
    if(isSafari){
        location.href = tencentSeries;
    } else{
        var iframe = document.createElement("iframe");
        iframe.style.display = "none";
        iframe.src = tencentSeries;
        document.body.appendChild(iframe);
    }
    document.getElementById("openUrl").href = tencentSeries;
    // 检查是否支付完成
    function loadmsg() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{:url('/Index/getPayResult')}",
            timeout: 10000, //ajax请求超时时间10s
            data: {type: "qqpay", trade_no: "{$row['trade_no']}"}, //post数据
            success: function (data, textStatus) {
                //从服务器得到数据，显示数据并继续查询
                if (data.code == 0) {
                    if (confirm({:json_encode(t('confirm.payment_done'), 271)})) {
                        window.location.href=data.data.backurl;
                    } else {
                        // 用户取消
                    }
                }else{
                    setTimeout("loadmsg()", 4000);
                }
            },
            //Ajax请求超时，继续查询
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (textStatus == "timeout") {
                    setTimeout("loadmsg()", 1000);
                } else { //异常
                    setTimeout("loadmsg()", 4000);
                }
            }
        });
    }
    function checkresult() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{:url('/Index/getPayResult')}",
            timeout: 10000, //ajax请求超时时间10s
            data: {type: "qqpay", trade_no: "{$row['trade_no']}"}, //post数据
            success: function (data, textStatus) {
                //从服务器得到数据，显示数据并继续查询
                if (data.code == 0) {
                    if (confirm({:json_encode(t('confirm.payment_done'), 271)})) {
                        window.location.href = data.data.backurl;
                    } else {
                        // 用户取消
                    }
                }
            },
            //Ajax请求超时，继续查询
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert({:json_encode(t('common.server_error'), 271)});
            }
        });
    }
    window.onload = loadmsg();
</script>
</body>
</html>
