
<!DOCTYPE html>
<html lang="{:t('common.lang_code')}">
<head>
    <meta charset="utf-8">
    <title>{$title}|{:t('install_ui.login_backend_btn')}</title>
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{__LIBS__}layui/css/layui.css"/>
    <link rel="stylesheet" href="{__MODULE__}admin.css?v=318"/>
    <link rel="stylesheet" href="{__CSS__}login.css?v=20261004"/>
    .

</head>
<body style="background-image: url('{__IMG__}background.svg');background-size: cover;">
<a href="javascript:SF_LANG.toggle();" title="{:t('common.language')}" style="position:absolute;right:24px;top:18px;color:#fff;z-index:3;">{:t('common.lang_toggle')}</a>
<div class="login-wrapper layui-anim layui-anim-scale layui-hide">
    <form class="layui-form layui-card-body" id="divLoading"
    style="padding: 28px 15px;box-sizing: border-box;min-height: 126px;opacity: 0.95">
        <div class="layui-form-item">
            <img class="logo" src="{__IMG__}logo.png" />
            <div class="title">{:t('login.login_user')}</div>
            <div class="desc">{:t('login.user_subtitle')}
            </div>
        </div>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-username"></i>
            <input class="layui-input" name="user" placeholder="{:t('login.username_placeholder')}" autocomplete="off"
                   lay-verType="tips" lay-verify="required" >
        </div>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-password"></i>
            <input class="layui-input" name="pass" placeholder="{:t('login.password_placeholder')}" type="password"
                   lay-verType="tips" lay-verify="required" >
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="remember" title="{:t('login.remember_me')}" lay-skin="primary" checked>
            <a href="{:url('/login/forgot')}" class="layui-link pull-right">{:t('login.forgot_password')}</a>
            <a href="{:url('/login/reg')}" class="layui-link">{:t('login.register_user')}</a>
        </div>
        <div class="layui-form-item">
            <button type="button" class="layui-btn layui-btn-fluid sf" id="loginBtn">{:t('login.login_user')}</button>
        </div>
        {if condition="!empty($login_switch)"}
        <div class="layui-form-item page-account-other" style="font-size: 14px;">
            <span>{:t('login.other_login')}</span>
            {if in_array('qq', $login_switch)}<a id="qq_login"><img src="{__IMG__}qq.svg" alt="qq"></a>{/if}{if in_array('qrcode', $login_switch)}<a id="code"><img src="{__IMG__}code.svg" alt="{:t('login.qq_scan')}"></a>{/if}&emsp;
        </div>
        {/if}
    </form>
</div>

<script src="//lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{__LIBS__}layui/layui.js"></script>
<script>window.SF_I18N_LOCALE = "{:t('common.lang_code')}"; window.SF_I18N_MESSAGES = {:json_encode(app()->lang->get(), 271)};</script>
<script type="text/javascript" src="{__JS__}lang.js?v={__I18N_VERSION__}"></script>
<script type="text/javascript" src="{__JS__}common.js?v={__I18N_VERSION__}"></script>
<script type="text/javascript" src="{__JS__}qq-oauth.js?v=20261004_3"></script>
<script src="{__JS__}gt.js"></script>
<script>
    layui.use(['layer', 'form', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;
        $('.login-wrapper').removeClass('layui-hide');

        function qqOauthEscape(value) {
            return $('<div>').text(value == null ? '' : String(value)).html();
        }

        window.chooseQqOauthUser = function(userId, selectionToken) {
            notice.msg(t('login.logging_in'), {icon: 4, close: true});
            $.ajax({
                type: 'POST',
                url: '/api.php/Social/chooseUser',
                data: {user_id: userId, selection_token: selectionToken},
                dataType: 'json',
                success: function(result) {
                    notice.destroy();
                    window.handleQqOauthResult(result);
                },
                error: function() {
                    notice.destroy();
                    notice.error({title:t('login.notice'), message:t('common.server_error'), position:'topCenter'});
                }
            });
        };

        window.handleQqOauthResult = function(result) {
            if (!result || result.code != 0) {
                notice.error({
                    title: t('login.qq_notice'),
                    message: result && result.msg ? result.msg : t('login.qq_failed'),
                    position: 'topCenter', displayMode: '2', audio: '1'
                });
                return;
            }

            var payload = result.data || {};
            if (payload.status === 'unbound') {
                layer.confirm(t('login.first_qq_help'), {
                    title: t('login.first_qq_login'),
                    btn: [t('login.migrate_legacy_account'), t('login.create_new_account')],
                    skin: 'layui-layer-admin',
                    closeBtn: 0
                }, function(index) {
                    layer.close(index);
                    admin.open({
                        type: 2,
                        title: t('login.scan_migrate_legacy'),
                        content: '/qrlogin/qrlogin.html?v=' + Date.now(),
                        area: ['400px', '300px'],
                        data: {type:'oauthMigrate', pending_token:payload.pending_token}
                    });
                }, function() {
                    notice.msg(t('login.creating_account'), {icon: 4, close: true});
                    $.ajax({
                        type: 'POST',
                        url: '/api.php/Social/autoRegister',
                        data: {pending_token: payload.pending_token},
                        dataType: 'json',
                        success: function(data) {
                            notice.destroy();
                            window.handleQqOauthResult(data);
                        },
                        error: function() {
                            notice.destroy();
                            notice.error({title:t('login.registration_notice'), message:t('common.server_error'), position:'topCenter'});
                        }
                    });
                });
                return;
            }

            if (payload.status === 'select' && payload.accounts) {
                var content = '<div class="layui-card" style="margin:20px"><div class="layui-card-body">';
                $.each(payload.accounts, function(index, account) {
                    content += '<button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" style="margin:0 0 10px 0;height:auto;padding:12px" onclick="chooseQqOauthUser('
                        + parseInt(account.id, 10) + ',\'' + payload.selection_token + '\')">'
                        + '<b>' + qqOauthEscape(account.username) + '</b><br><small>'+t('login.account_app')
                        + qqOauthEscape(account.appname) + '</small></button>';
                });
                content += '</div></div>';
                layer.open({type:1, title:t('login.select_account'), content:content, area:['380px','auto'], closeBtn:0});
                return;
            }

            notice.msg(result.msg || t('login.success'), {icon: 1});
            setTimeout(function(){ location.href = payload.url || '/user.php/Index/index.html'; }, 600);
        };

        window.qrcodeLogin = function(username, appid){
            notice.msg(t('common.loading'), {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url: '/api.php/Qrlogin/userLogin',
                data: {username:username,appid:appid},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if(data.code == 0){
                        notice.success({
                            title: t('login.notice'),
                            message: data.msg,
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                        setTimeout(function (){location.href = '{:url("/Index/index")}';},1500);

                    }else{
                        notice.error({
                            title: t('login.notice'),
                            message: data.msg,
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.error({
                        title: t('login.notice'),
                        message: t('common.server_error'),
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                }
            });
        }
        {if in_array('qrcode', $login_switch)}
        $("#code").click(function(){
            admin.open({
                type: 2,
                title: t('login.qr_title'),
                content: '/qrlogin/qrlogin.html?v=' + Date.now(),
                area: ['400px', '300px'],
                data: {type:'userLogin'}
            });
        });
        {/if}
        {if $code != '' || $oauth_error != ''}
        var qqCallbackPayload = {$oauth_callback_json|raw};
        admin.btnLoading(' #loginBtn');
        admin.showLoading('#divLoading', 2, '.8');
        $.ajax({
            type: "post",
            url: "/api.php/Social/login",
            data: qqCallbackPayload,
            dataType: "json",
            success: function(data) {
                notice.destroy();
                if (window.opener && !window.opener.closed) {
                    notice.msg(t('login.oauth_returning'), {icon:1});
                } else {
                    window.handleQqOauthResult(data);
                }
                admin.removeLoading('#divLoading', true, true);
                admin.btnLoading(' #loginBtn', false);
            }, error: function () {
                notice.error({
                    title: t('common.nice_tips'),
                    message: t('common.server_error'),
                    animateInside:true,
                    position:'topCenter',
                    transitionOut:'flipOutX',
                    transitionOutMobile: 'flipOutX',
                    timeout:false,
                    displayMode:'2',
                    audio:'1'
                });
                admin.removeLoading('#divLoading', true, true);
                admin.btnLoading(' #loginBtn', false);
                return false;
            }
        });
        {/if}
        {if in_array('qq', $login_switch)}
        $("#qq_login").click(function(){
            admin.btnLoading(' #loginBtn');
            admin.showLoading('#divLoading', 2, '.8');
            SfQqOauth.start({
                url: '/api.php/Social/login',
                data: {userType:'user'},
                onResult: function(data) {
                    admin.removeLoading('#divLoading', true, true);
                    admin.btnLoading(' #loginBtn', false);
                    window.handleQqOauthResult(data);
                },
                onError: function(message) {
                    admin.removeLoading('#divLoading', true, true);
                    admin.btnLoading(' #loginBtn', false);
                    notice.error({title:t('login.qq_notice'), message:message, position:'topCenter'});
                }
            });
        });
        SfQqOauth.resume(window.handleQqOauthResult, function(message){
            notice.error({title:t('login.qq_notice'), message:message, position:'topCenter'});
        });
        {/if}

        {eq name="captcha_open" value="1"}
            initGeetest4({
                captchaId: '{$captcha_id}',
                product: 'bind',
            }, function (gt) {
                window.gt = gt
                gt
                    .appendTo("#captcha")
                    .onSuccess(function (e) {
                        var username = $("input[name='user']").val();
                        var password = $("input[name='pass']").val();
                        var result = gt.getValidate();
                        result.username = username;
                        result.password = password;
                        admin.btnLoading('#loginBtn');
                        admin.showLoading('#divLoading', 2, '.8');
                        $.ajax({
                            type: "post",
                            url: "{:url('/Login/login')}",
                            data: result,
                            dataType: "json",
                            success: function(data) {
                                if (data.code == 0) {
                                    notice.success({
                                        title: t('common.nice_tips'),
                                        message: data.msg,
                                        animateInside:true,
                                        position:'topCenter',
                                        transitionOut:'flipOutX',
                                        transitionOutMobile: 'flipOutX',
                                        displayMode:'2',
                                        audio:'1'
                                    });
                                    setTimeout(function (){
                                        location.href="{:url('/Index/index')}";
                                    },2000)
                                } else {
                                    notice.error({
                                        title: t('common.nice_tips'),
                                        message: data.msg,
                                        animateInside:true,
                                        position:'topCenter',
                                        transitionOut:'flipOutX',
                                        transitionOutMobile: 'flipOutX',
                                        displayMode:'2',
                                        audio:'1'
                                    });
                                }
                                admin.removeLoading('#divLoading', true, true);
                                admin.btnLoading('#loginBtn', false);
                            }, error: function () {
                                notice.error({
                                    title: t('common.nice_tips'),
                                    message: t('common.server_error'),
                                    animateInside:true,
                                    position:'topCenter',
                                    transitionOut:'flipOutX',
                                    transitionOutMobile: 'flipOutX',
                                    timeout:false,
                                    displayMode:'2',
                                    audio:'1'
                                });
                                admin.removeLoading('#divLoading', true, true);
                                admin.btnLoading('#loginBtn', false);
                                return false;
                            }
                        });
                    });
            });

            $('#loginBtn').click(function () {
                var user = $("input[name='user']").val();
                var pass = $("input[name='pass']").val();
                if(!user){
                    notice.warning({
                        title: t('common.nice_tips'),
                        message: t('login.please_enter_username'),
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                    return false;
                }
                if(!pass){
                    notice.warning({
                        title: t('common.nice_tips'),
                        message: t('login.please_enter_password'),
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                    return false;
                }
                gt.showBox();
            });
        {else/}
            $(' #loginBtn').click(function() {
                var user = $("input[name='user']").val();
                var pass = $("input[name='pass']").val();
                if(!user){
                    notice.warning({
                        title: t('common.nice_tips'),
                        message: t('login.please_enter_username'),
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                    return false;
                }
                if(!pass){
                    notice.warning({
                        title: t('common.nice_tips'),
                        message: t('login.please_enter_password'),
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                    return false;
                }
                admin.btnLoading(' #loginBtn');
                admin.showLoading('#divLoading', 2, '.8');
                $.ajax({
                    type: "post",
                    url: "{:url('/Login/login')}",
                    data: {
                        "username": user,
                        "password": pass,
                    },
                    dataType: "json",
                    success: function(data) {
                        if (data.code == 0) {
                            notice.success({
                                title: t('common.nice_tips'),
                                message: data.msg,
                                animateInside:true,
                                position:'topCenter',
                                transitionOut:'flipOutX',
                                transitionOutMobile: 'flipOutX',
                                displayMode:'2',
                                audio:'1'
                            });
                            setTimeout(function (){
                                location.href="{:url('/Index/index')}";
                            },2000)
                        } else {
                            notice.error({
                                title: t('common.nice_tips'),
                                message: data.msg,
                                animateInside:true,
                                position:'topCenter',
                                transitionOut:'flipOutX',
                                transitionOutMobile: 'flipOutX',
                                displayMode:'2',
                                audio:'1'
                            });
                        }
                        admin.removeLoading('#divLoading', true, true);
                        admin.btnLoading(' #loginBtn', false);
                    }, error: function () {
                        notice.error({
                            title: t('common.nice_tips'),
                            message: t('common.server_error'),
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            timeout:false,
                            displayMode:'2',
                            audio:'1'
                        });
                        admin.removeLoading('#divLoading', true, true);
                        admin.btnLoading(' #loginBtn', false);
                        return false;
                    }
                });
            });
        {/eq}
    });
</script>
