{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_version')}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common.status')}</label>
                        <div class="layui-input-inline">
                            <select name="status" class="ew-select-fixed">
                                <option value="">{:t('common_ui.select_used_status')}</option>
                                <option value="1">{:t('common.show')}</option>
                                <option value="0">{:t('common.hide')}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="SF_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common_ui.belong_app')}</label>
                        <div class="layui-input-inline">
                            <select class="layui-input ew-select-fixed" lay-filter="app" lay-search>
                                <option value="">{:t('common_ui.select_all_apps')}</option>
                                {volist name="app_list.data.data" id="res"}
                                <option value="{$res.id}">{$res.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->

            <table id="SF_Table" lay-filter="SF_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="SF_TbBar">
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="upload"><i class="layui-icon layui-icon-upload"></i>{:t('common.upload')}</a>
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>{:t('common.edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>{:t('common.delete')}</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="SF_TbState">
    <input type="checkbox" lay-filter="SF_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.normal_separator')}" {{d.status==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SF_TbType">
    <input type="checkbox" lay-filter="SF_TbTypeCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.update_package_separator')}" {{d.type==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SF_TbBeta">
    <input type="checkbox" lay-filter="SF_TbBetaCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.beta_formal')}" {{d.beta==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SF_TbUpload">
    <div class="layui-card">
        <div class="layui-card-body layui-form-pane">
            <form class="layui-form" method="post" action="">
                <input type="hidden" name="form_submit" value="ok" />
                <blockquote class="layui-elem-quote-sf-info" id="sfVersionUploadHelp">
                    {:t('version_ui.upload_help')}
                </blockquote>
                <div class="layui-form-item text-center">
                    <input type="hidden" id="totalPage" value="0"/>
                    <input type="hidden" id="page" value="1"/>
                    <input type="hidden" id="status" value="0"/>
                    <div class="layui-upload-drag" id="fileUpload">
                        <i class="layui-icon layui-icon-upload-drag" style="color:#2d8cf0;"></i>
                        <p>{:t('version_ui.drag_upload')}</p>
                        <div class="layui-hide" id="uploadDemoView">
                            <hr>
                            <div class="layui-form-item">
                                <img src="" alt="{:t('version_ui.preview_alt')}" id="demo1" style="max-width: 196px">
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('version_ui.file_name')}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" id="name" value="" lay-verify="title" autocomplete="off" readonly="true" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item text-center">
                    <button type="button" class="layui-btn layui-btn-primary" lay-submit lay-filter="SF_DeleteFile"><i class="layui-icon">&#xe640;</i>{:t('common.delete')}</button>
                </div>
                <div class="mask sf-upload-mask"></div>
                <div class="loading sf-upload-loading">
                    <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgress">
                        <div class="layui-progress-bar" lay-percent="0%"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/html" id="SF_Tbid">
    <span id="SF_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-sf-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="SF_EditDialog">
    <form id="SF_EditForm" lay-filter="SF_EditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common_ui.belong_app_label')}</label>
            <div class="layui-input-block">
                <select name="appid" class="layui-input ew-select-fixed" lay-filter="appid" lay-search>
                    <option value="">{:t('admin_user.select_app')}</option>
                    {volist name="app_list.data.data" id="res"}
                    <option value="{$res.id}">{$res.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div id="form_data" style="display: none">
            <blockquote class="layui-elem-quote-sf-info">
                {:t('version_ui.record_help')}
            </blockquote>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('version_ui.display_version')}:</label>
                <div class="layui-input-block">
                    <input type="text" name="edition" placeholder="{:t('version_ui.display_version_placeholder')}" class="layui-input"
                           lay-verType="tips" lay-verify="required"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('version_ui.build_number')}:</label>
                <div class="layui-input-block">
                    <input type="number" name="version" min="1" step="1" placeholder="{:t('version_ui.build_number_placeholder')}" class="layui-input"
                           lay-verType="tips" lay-verify="required"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">{:t('common_ui.update_content')}:</label>
                <div class="layui-input-block">
                    <textarea name="update_log" class="layui-textarea" style="height:100px" placeholder="{:t('version_ui.update_content_placeholder')}"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('common_ui.type')}:</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="type" value="1" lay-text="{:t('common_ui.update_package_separator')}" lay-skin="switch"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('version_ui.beta')}:</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="beta" value="1" lay-skin="switch"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('common.status')}:</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" value="1" lay-skin="switch" checked/>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="SF_EditSubmit" lay-submit>{:t('common.save')}</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
        </div>
    </form>
</script>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'notice', 'upload', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var notice = layui.notice;
        var upload = layui.upload;
        var element = layui.element;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#SF_Table',
            url: '{:url("/Version/list")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>{:t("common.add")}</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>{:t("common.delete")}</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {field: 'id', title: 'ID', templet: '#SF_Tbid', sort: true, width: 80, fixed: true},
                {field: 'appName', title: '{:t("common_ui.belong_app")}', sort: true, minWidth: 120, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">'+d.appName+'</span>';
                    }},
                {field: 'edition', title: '{:t("version_ui.display_version")}', sort: true, minWidth: 120},
                {field: 'version', title: '{:t("version_ui.build_number")}', sort: true, minWidth: 120},
                {field: 'update_log', title: '{:t("common_ui.update_content")}', minWidth: 100, templet: function (d) {
                        return '<a class="layui-btn layui-btn-xs" lay-event="seeUpdateLog">{:t("version_ui.click_view")}</a>';
                    }
                },
                {field: 'number', title: '{:t("common_ui.download_count")}', sort: true, minWidth: 100, templet: function (d) {
                        return '<span class="layui-badge layui-badge-green">'+d.number+'</span>';
                    }
                },
                {field: 'download_catalogue', title: '{:t("common_ui.dir")}', minWidth: 180},
                {field: 'type', title: '{:t("common_ui.type")}', templet: '#SF_TbType', sort: true, minWidth: 100},
                {field: 'beta', title: '{:t("common_ui.is_beta")}', templet: '#SF_TbBeta', sort: true, minWidth: 100},
                {field: 'status', title: '{:t("common.status")}', templet: '#SF_TbState', sort: true, minWidth: 100},
                {field: 'addtime', title: '{:t("common.add_time")}', sort: true, minWidth: 180},
                {title: '{:t("common.operation")}', toolbar: '#SF_TbBar', align: 'center', minWidth: 300}
            ]]
        });
        form.on('select(appid)', function (data) {
            if (data.value == "") {
                $("#form_data").css("display", "none");
            }else{
                $("#form_data").css("display","inherit");
            }
        });

        /* 表格搜索 */
        form.on('submit(SF_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        form.on('select(app)', function (data) {
            if(data.value == ''){
                insTb.reload({where: {appid:data.value}, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true}, {field: 'id', title: 'ID', templet: '#SF_Tbid', sort: true, width: 80, fixed: true}]]});
            }else{
                insTb.reload({where: {appid:data.value}, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true},{field: 'id', title: 'ID', templet: '#SF_Tbid', sort: true, width: 80, fixed: true}]]});
            }
            return false;
        });
        {if $appid != ''}
        insTb.reload({where: {appid:{$appid}}, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true},{field: 'id', title: 'ID', templet: '#SF_Tbid', sort: true, width: 80, fixed: true}]]});
        {/if}
        /* 表格工具条点击事件 */
        table.on('tool(SF_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            } else if (obj.event === 'seeUpdateLog') {
                admin.open({
                    title: '{:t("version_ui.update_record")} - '+obj.data.edition,
                    type: 1,
                    content: '<div class="layui-card"><div class="layui-card-body layui-form-pane"><div class="layui-form-item layui-form-text"><label class="layui-form-label">{:t("version_ui.update_record")}</label><div class="layui-input-block"><textarea class="layui-textarea layui-disabled" style="height:100px" disabled>'+obj.data.update_log+'</textarea></div></div></div></div>'
                });
            } else if (obj.event === 'upload') {
                $.ajax({
                    type: "POST",
                    url: '{:url("/Version/checkFile")}',
                    data: {id:obj.data.id},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        admin.open({
                            title: (obj.data.type==0?'{:t("version_ui.upload_install_package")}':'{:t("version_ui.upload_update_package")}')+'：'+obj.data.edition+' ({:t("version_ui.build")} '+obj.data.version+')',
                            type: 1,
                            content: $('#SF_TbUpload').html(),
                        });
                        $('#sfVersionUploadHelp').text(obj.data.type == 0
                            ? '{:t("version_ui.current_version")}：'+obj.data.edition+'，{:t("version_ui.build_number")}：'+obj.data.version+'。{:t("version_ui.install_package_help")}'
                            : '{:t("version_ui.update_package_help")}');
                        if (data.code == 0) {
                            $('#name').val('SF.zip');
                            layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', '{__MODULE__}fileChoose/img/zip.png');
                        } else {
                            layui.$('#uploadDemoView').addClass('layui-hide');
                        }
                        upload.render({
                            elem: '#fileUpload',
                            url: '{:url("/Upload/app")}', //处理上传文件接口
                            accept: 'file',
                            auto: false,
                            acceptMime: '*.*',//允许上传的文件类型
                            data: {id:obj.data.id},
                            choose: function (obj) {
                                element.progress('uploadProgress', '0%');
                                $('.mask').show();
                                $('.loading').show();
                                var data = this.data;
                                var files = obj.pushFile();
                                var LENGTH = 500 * 1024; //每片文件大小
                                obj.preview(function (index, file, result) {
                                    var totalSize = file.size;
                                    var totalPage = Math.ceil(totalSize / LENGTH);
                                    $('#totalPage').val(totalPage);
                                    $('#page').val('1');
                                    $('#status').val('1');
                                    var fileName = file.name;
                                    $('#name').val(fileName);
                                    var fileExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                                    fileName = fileName.substr(0, fileName.lastIndexOf('.'));
                                    var progressTimer = setInterval(function () {
                                        var totalPage = parseInt($('#totalPage').val());
                                        var page = parseInt($('#page').val());
                                        var status = $('#status').val();
                                        if (parseInt(totalPage) == parseInt(page) && (parseInt(status) == 2 || parseInt(status) == -1)) {
                                            clearInterval(progressTimer);
                                        } else {
                                            if (status == 1) {
                                                $('#status').val('0');
                                                data.fileName = fileName;
                                                data.page = page;
                                                data.totalPage = totalPage;
                                                data.fileExt = fileExt;
                                                obj.upload(index, file.slice((page - 1) * LENGTH, page * LENGTH));
                                            }
                                        }
                                    }, 100);
                                });
                            },
                            done: function (res) {
                                if(res.code == 0) {
                                    if (res.data.status == 1) { //分片上传
                                        var page = parseInt($('#page').val());
                                        var totalPage = parseInt($('#totalPage').val());
                                        element.progress('uploadProgress', Math.ceil(page * 100 / totalPage) + '%');
                                        page = page + 1;
                                        $('#page').val(page);
                                        $('#status').val('1');
                                    } else if (res.data.status == 2) { //上传完成
                                        element.progress('uploadProgress', '100%');
                                        $('#status').val('2');
                                        $('#downUrl').val(res.data.downUrl);
                                        layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', '{__MODULE__}fileChoose/img/zip.png');
                                        notice.msg(res.data.publish_msg || '{:t("version_ui.upload_success")}', {icon: 1,audio: '1',time: 5000,onOpening: function () {
                                                $('.mask').hide();
                                                $('.loading').hide();}
                                        });
                                    } else { //上传错误
                                        $('#status').val('-1');
                                        element.progress('uploadProgress', '0%');
                                        if (typeof (res.data.downUrl) == "undefined") {
                                        } else {
                                            $('#downUrl').val(res.data.downUrl);
                                        }
                                        notice.msg(res.msg, {icon: 2,audio: '1',onOpening: function () {
                                                $('.mask').hide();
                                                $('.loading').hide();}
                                        });
                                    }
                                }else{
                                    $('#status').val('-1');
                                    element.progress('uploadProgress', '0%');
                                    if (typeof (res.data.downUrl) == "undefined") {
                                    } else {
                                        $('#downUrl').val(res.data.downUrl);
                                    }
                                    notice.msg(res.msg, {icon: 2,audio: '1',onOpening: function () {
                                            $('.mask').hide();
                                            $('.loading').hide();}
                                    });
                                }
                            },
                            error: function(){
                                notice.msg('{:t("common.server_error")}', {icon: 2,audio: '1',onOpening: function () {
                                        $('.mask').hide();
                                        $('.loading').hide();}
                                });
                            }
                        });
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg('{:t("common.server_error")}', {icon: 2, audio:'1'});
                    }
                });
                form.on('submit(SF_DeleteFile)', function () {
                    notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                    $.ajax({
                        type: "POST",
                        url: '{:url("/Version/deleteFile")}',
                        data: {id:obj.data.id},
                        dataType: "json",
                        success: function(data) {
                            notice.destroy();
                            if (data.code == 0) {
                                notice.msg(data.msg, {icon: 1, audio:'1'});
                                layui.$('#uploadDemoView').addClass('layui-hide');
                            } else {
                                notice.msg(data.msg, {icon: 2, audio:'1'});
                            }
                        },
                        error: function() {
                            notice.destroy();
                            notice.msg('{:t("common.server_error")}', {icon: 2, audio:'1'});
                        }
                    });
                });
            }
        });
        /* 表格头工具栏点击事件 */
        table.on('toolbar(SF_Table)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('SF_Table');
                if (checkRows.data.length === 0) {
                    notice.msg('{:t("confirm.please_select_data")}', {icon: 3, audio:'1'});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.popupRight({
                type: 1,
                title: (mData ? '{:t("common.edit")}' : '{:t("common.add")}') + ' {:t("version_ui.version_suffix")}',
                content: $('#SF_EditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    if(mData){
                        $("#form_data").css("display", "inherit");
                        form.val('SF_EditForm', mData);
                    }else{
                        $("#form_data").css("display","none");
                    }
                    form.render();
                    // 表单提交事件
                    form.on('submit(SF_EditSubmit)', function (data) {
                        notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/Version/edit")}',
                            data: data.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    table.reload('SF_Table');
                                    notice.msg(data.msg, {icon: 1, audio:'1'});
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg('{:t("common.server_error")}', {icon: 2, audio:'1'});
                            }
                        });
                        return false;
                    });
                    // 禁止弹窗出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('{:t("confirm.delete_selected")}', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/Version/drop")}' : '{:url("/Version/batchDrop")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            table.reload('SF_Table');
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg('{:t("common.server_error")}', {icon: 2, audio:'1'});
                    }
                });
            });
        }

        /* 修改用户状态 */
        form.on('switch(SF_TbStateCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/Version/setStatus")}',
                data: {id:obj.value,status:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        table.reload('SF_Table');
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg('{:t("common.server_error")}', {icon: 2, audio:'1'});
                }
            });
        });
        form.on('switch(SF_TbBetaCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/Version/setBeta")}',
                data: {id:obj.value,beta:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        table.reload('SF_Table');
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg('{:t("common.server_error")}', {icon: 2, audio:'1'});
                }
            });
        });
        form.on('switch(SF_TbTypeCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/Version/setType")}',
                data: {id:obj.value,type:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        table.reload('SF_Table');
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg('{:t("common.server_error")}', {icon: 2, audio:'1'});
                }
            });
        });
    });
</script>
