{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_name')}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common.status')}</label>
                        <div class="layui-input-inline">
                            <select name="status" class="ew-select-fixed">
                                <option value="">{:t('common_ui.select_used_status')}</option>
                                <option value="1">{:t('common.show')}</option>
                                <option value="0">{:t('common.hide')}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="QH_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('price_ui.template')}</label>
                        <div class="layui-input-inline">
                            <select id="select_template_list" class="layui-input ew-select-fixed" lay-filter="template" lay-search>
                                <option value="">{:t('price_ui.all_prices')}</option>

                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->

            <table id="QH_Table" lay-filter="QH_Table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="QH_SortBar">
<a lay-event="setSortTop" lay-tips="{:t('price_ui.move_top')}" lay-direction="4" lay-bg="#4facfe">
    <img src="{__IMG__}top.svg" style="width: 25px;">
</a>
<a lay-event="setSortUp" lay-tips="{:t('price_ui.move_up')}" lay-direction="1" lay-bg="#4facfe">
    <img src="{__IMG__}up.svg" style="width: 25px;">
</a>
<a lay-event="setSortDown" lay-tips="{:t('price_ui.move_down')}" lay-direction="3" lay-bg="#4facfe">
    <img src="{__IMG__}down.svg" style="width: 25px;">
</a>
<a lay-event="setSortBottom" lay-tips="{:t('price_ui.move_bottom')}" lay-direction="2" lay-bg="#4facfe">
    <img src="{__IMG__}bottom.svg" style="width: 25px;">
</a>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="QH_TbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>{:t('common.edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>{:t('common.delete')}</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="QH_TbState">
    <input type="checkbox" lay-filter="QH_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.show_hide')}" {{d.status==1?'checked':''}} style="display: none;"/>
    <p style="display: none;">{{d.status==0?'{:t("common.show")}':'{:t("common.hide")}'}}</p>
</script>

<script type="text/html" id="QH_Tbid">
    <span id="QH_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-qh-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="QH_EditDialog">
    <form id="QH_EditForm" lay-filter="QH_EditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('price_ui.template_label')}</label>
            <div class="layui-input-block">
                <select id="template_list" name="tid" class="layui-input ew-select-fixed" lay-filter="tid" lay-search>
                    <option value="">{:t('app_ui.select_template')}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('price_ui.price_name_label')}</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="{:t('price_ui.name_placeholder')}" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('price_ui.price_label')}</label>
            <div class="layui-input-block">
                <input type="number" name="money" placeholder="{:t('price_ui.sale_price_placeholder')}" class="layui-input"
                       lay-verType="tips" step="0.01" min="0" max="999999"/>
            </div>
        </div>
        <div id="all" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('price_ui.wildcard_price_label')}</label>
                <div class="layui-input-block">
                    <input type="number" name="all_money" placeholder="{:t('price_ui.wildcard_placeholder')}" class="layui-input"
                           lay-verType="tips" step="0.01" min="0" max="999999"/>
                </div>
            </div>
        </div>
        <div id="day" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('price_ui.auth_days_label')}</label>
                <div class="layui-input-block">
                    <input type="number" name="day" placeholder="{:t('price_ui.auth_days_placeholder')}" class="layui-input"
                           lay-verType="tips"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('price_ui.custom_time_label')}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="diy_switch" value="1" lay-skin="switch" lay-filter="diy_switch"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('price_ui.permanent_label')}</label>
            <div class="layui-input-block">
                <input type="checkbox" name="permanent_switch" value="1" lay-skin="switch" lay-filter="permanent_switch" checked/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('auth_portal.status_label')}</label>
            <div class="layui-input-block">
                <input type="checkbox" name="status" value="1" lay-skin="switch" checked/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="QH_EditSubmit" lay-submit>{:t('common.save')}</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
        </div>
    </form>
</script>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var notice = layui.notice;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#QH_Table',
            url: '{:url("/AuthPrice/list")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            where: {tid:{$tid}},
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>{:t('common.add')}</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>{:t('common.delete')}</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {notempty name="tid"}
                {field: 'sort', title: '{:t("plugin_ui.sort")}', templet: '#QH_SortBar', width: 150, fixed: true},
                {/notempty}
                {field: 'id', title: 'ID', templet: '#QH_Tbid', sort: true, width: 80, fixed: true},
                {field: 'templateName', title: '{:t("price_ui.owned_template")}', sort: true, minWidth: 120, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">'+d.templateName+'</span>';
                    }},
                {field: 'name', title: '{:t("price_ui.price_name")}', sort: true, minWidth: 120},
                {
                    field: 'day', title: '{:t("price_ui.auth_days")}', align: 'right', templet: function (d) {
                        if (d.permanent_switch == '1') {
                            return '<span class="layui-badge layui-badge-green">{:t('auth_portal.permanent')}</span>';
                        } else if (d.diy_switch == '1'){

                            return '<span class="layui-badge layui-badge-yellow">￥ ' + Math.ceil((d.money / d.day) * 100) / 100 + ' / {:t("price_ui.day")}</span>';
                        } else {
                            return '<span class="layui-badge layui-badge-blue">'+d.day+' {:t("price_ui.days")}</span>';
                        }
                    }, sort: true, minWidth: 150
                },
                {field: 'addtime', title: '{:t("common.add_time")}', sort: true, minWidth: 200},
                {field: 'status', title: '{:t("common.status")}', templet: '#QH_TbState', sort: true, minWidth: 100},
                {title: '{:t("common.operation")}', toolbar: '#QH_TbBar', align: 'center', minWidth: 180}
            ]]
        });

        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
        $.ajax({
            type: "POST",
            url: '{:url("/AuthTemplate/getList")}',
            dataType: "json",
            success: function(data) {
                notice.destroy();
                if (data.code == 0) {
                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                    var content = '<option value="">{:t('app_ui.select_template')}</option>';
                    $.each(data.data,function(index, value){
                        $.each(value,function(index, value){
                            content += '<option value="'+value.id+'">'+value.name+'</option>';
                        });
                    });
                    $("#select_template_list").html(content);
                } else {
                    notice.msg(data.msg, {icon: 2, audio:'1'});
                }
                form.render();
            },
            error: function() {
                notice.destroy();
                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
            }
        });

        form.on('switch(permanent_switch)', function (data) {
            if (data.elem.checked) {
                $("#day").css("display","none");
            }else{
                $("#day").css("display","inherit");
            }
        });

        form.on('select(tid)', function (data) {
            let check_type = $("#template_list option:selected").attr('check_type');
            if(check_type == 'domain'){
                $("#all").css("display","inherit");
            } else {
                $("#all").css("display","none");
            }
        });

        /* 表格搜索 */
        form.on('submit(QH_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        form.on('select(template)', function (data) {
            if(data.value == ''){
                insTb.reload({where: {tid:data.value}, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true}, {field: 'id', title: 'ID', templet: '#QH_Tbid', sort: true, width: 80, fixed: true}]]});
            }else{
                insTb.reload({where: {tid:data.value}, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true},{field: 'sort', title: '{:t("plugin_ui.sort")}', templet: '#QH_SortBar', width: 150, fixed: true}]]});
            }
            return false;
        });
        /* 表格工具条点击事件 */
        table.on('tool(QH_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            } else if (obj.event === 'setSortTop') {
                setSortTop(obj.data);
            } else if (obj.event === 'setSortUp') {
                setSortUp(obj.data);
            } else if (obj.event === 'setSortDown') {
                setSortDown(obj.data);
            } else if (obj.event === 'setSortBottom') {
                setSortBottom(obj.data);
            }
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(QH_Table)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('QH_Table');
                if (checkRows.data.length === 0) {
                    notice.msg('{:t("confirm.please_select_data")}', {icon: 3, audio:'1'});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
        });
        function setSortTop(data){
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type : 'POST',
                url : '{:url("/AuthPrice/setSort")}',
                data : {tid:data.tid, id:data.id, type:'4'},
                dataType : 'json',
                success : function(data) {
                    table.reload('QH_Table');
                    notice.destroy();
                    notice.msg(data.msg, {icon: 1, audio:'1'});
                },
                error:function(data){
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    return false;
                }
            });
        }
        function setSortUp(data){
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type : 'POST',
                url : '{:url("/AuthPrice/setSort")}',
                data : {tid:data.tid, id:data.id, type:'1'},
                dataType : 'json',
                success : function(data) {
                    table.reload('QH_Table');
                    notice.destroy();
                    notice.msg(data.msg, {icon: 1, audio:'1'});
                },
                error:function(data){
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    return false;
                }
            });
        }
        function setSortDown(data){
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type : 'POST',
                url : '{:url("/AuthPrice/setSort")}',
                data : {tid:data.tid, id:data.id, type:'2'},
                dataType : 'json',
                success : function(data) {
                    table.reload('QH_Table');
                    notice.destroy();
                    notice.msg(data.msg, {icon: 1, audio:'1'});
                },
                error:function(data){
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    return false;
                }
            });
        }
        function setSortBottom(data){
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type : 'POST',
                url : '{:url("/AuthPrice/setSort")}',
                data : {tid:data.tid, id:data.id, type:'3'},
                dataType : 'json',
                success : function(data) {
                    table.reload('QH_Table');
                    notice.destroy();
                    notice.msg(data.msg, {icon: 1, audio:'1'});
                },
                error:function(data){
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    return false;
                }
            });
        }
        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.popupRight({
                type: 1,
                title: mData ? '{:t("price_ui.edit_price")}' : '{:t("price_ui.add_price")}',
                content: $('#QH_EditDialog').html(),
                success: function (layero, dIndex) {

                    // 回显表单数据
                    if(mData){
                        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/AuthTemplate/getList")}',
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                    var content = '<option value="">{:t('app_ui.select_template')}</option>';
                                    $.each(data.data,function(index, value){
                                        $.each(value,function(index, value){
                                            content += '<option value="'+value.id+'" check_type="'+value.check_type+'">'+value.name+'</option>';
                                        });
                                    });
                                    $("#template_list").html(content);
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                                if(mData.check_type == 'domain') {
                                    $("#all").css("display", "inherit");
                                }
                                if (mData.permanent_switch != 1) {
                                    $("#day").css("display", "inherit");
                                }
                                form.val('QH_EditForm', mData);
                                form.render();
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                    }else{
                        $("#all").css("display", "none");
                        $("#day").css("display", "none");
                        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/AuthTemplate/getList")}',
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                    var content = '<option value="">{:t('app_ui.select_template')}</option>';
                                    $.each(data.data,function(index, value){
                                        $.each(value,function(index, value){
                                            content += '<option value="'+value.id+'" check_type="'+value.check_type+'">'+value.name+'</option>';
                                        });
                                    });
                                    $("#template_list").html(content);
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                                form.render();
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                    }
                    // 表单提交事件
                    form.on('submit(QH_EditSubmit)', function (data) {
                        notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/AuthPrice/edit")}',
                            data: data.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    table.reload('QH_Table');
                                    notice.msg(data.msg, {icon: 1, audio:'1'});
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                        return false;
                    });
                    // 禁止弹窗出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('{:t("auth_portal.confirm_delete")}', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/AuthPrice/drop")}' : '{:url("/AuthPrice/batchDrop")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            insTb.reload({page: {curr: 1}});
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    }
                });
            });
        }

        /* 修改用户状态 */
        form.on('switch(QH_TbStateCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/AuthPrice/setStatus")}',
                data: {id:obj.value,status:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        insTb.reload({page: {curr: 1}});
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                }
            });
        });
    });
</script>
