<!DOCTYPE html>
<html lang="{:t('common.lang_code')}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{:t('common.nice_tips')}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/Assets/css/system-message.css?v=20261004" />
</head>
<body>
<div class="system-message error">
    <div class="image">
        <img src="/Assets/img/error.svg" alt="" width="150" />
    </div>
    <h1>{$msg}</h1>
    {notempty name="url"}
    <p class="jump">
        {:t('common.page_auto_redirect', ['time' => $time])}</p>
    <p class="clearfix">
        <a href="/" class="btn btn-grey">{:t('common.go_back')}</a>
        <a id="href" href="{$url}" class="btn btn-primary">{:t('common.jump_now')}</a>
    </p>
    <script type="text/javascript">
        (function () {
            var wait = document.getElementById('wait');
            var interval = setInterval(function () {
                var time = --wait.innerHTML;
                if (time <= 0) {
                    location.href = document.getElementById('href').href;
                    clearInterval(interval);
                }
            }, 1000);
        })();
    </script>
    {/notempty}
</div>
</body>
</html>
