<script>window.SF_I18N_LOCALE = {:json_encode(t('common.lang_code'))}; window.SF_I18N_MESSAGES = {:json_encode(app()->lang->get(), 271)};</script>
<script type="text/javascript" src="{__JS__}lang.js?v=20260501"></script>
<script type="text/javascript" src="{__LIBS__}layui/layui.js"></script>
<script type="text/javascript" src="{__JS__}common.js?v=321"></script>
<script src="//lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>
<!--<script type="text/javascript" src="{__JS__}template.js"></script>-->
