<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="renderer" content="webkit">
    <title>{:t('payment_ui.wx_pay')} - {$title}</title>
    <link href="{__PAY__}wechat_pay.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="body">
    <h1 class="mod-title">
        <span class="ico-wechat"></span><span class="text">{:t('payment_ui.wxpay')}</span>
    </h1>
    <div class="mod-ct">
        <div class="order">
        </div>
        <div class="amount">￥{$row['money']}</div>
        <div class="qr-image" id="qrcode">
        </div>

        <div class="detail" id="orderDetail">
            <dl class="detail-ct" style="display: none;">
                <dt>{:t('payment_ui.merchant')}</dt>
                <dd id="storeName">{$title}</dd>
                <dt>{:t('payment_ui.product')}</dt>
                <dd id="productName">{$row['name']}</dd>
                <dt>{:t('payment_ui.order_no')}</dt>
                <dd id="billId">{$row['trade_no']}</dd>
                <dt>{:t('codepay_ui.label_create_time')}</dt>
                <dd id="createTime">{$row['addtime']}</dd>
            </dl>
            <a href="javascript:void(0)" class="arrow"><i class="ico-arrow"></i></a>
        </div>
        <div class="tip">
            <span class="dec dec-left"></span>
            <span class="dec dec-right"></span>
            <div class="ico-scan"></div>
            <div class="tip-text">
                <p>{:t('payment_ui.scan_qr')}</p>
                <p>{:t('payment_ui.scan_pay')}</p>
            </div>
        </div>
        <div class="tip-text">
        </div>
    </div>
    <div class="foot">
        <div class="inner">
            <p>{:t('payment_ui.save_qr_mobile')}</p>
            <p>在{:t('common_ui.wechat')}扫一扫中{:t('common_ui.choose')}“相册”即可</p>
        </div>
    </div>
</div>
<script src="//cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script>
    $('#qrcode').qrcode({
        text: "{$code_url}",
        width: 230,
        height: 230,
        foreground: "#000000",
        background: "#ffffff",
        typeNumber: -1
    });
    // 订单详情
    $('#orderDetail .arrow').click(function (event) {
        if ($('#orderDetail').hasClass('detail-open')) {
            $('#orderDetail .detail-ct').slideUp(500, function () {
                $('#orderDetail').removeClass('detail-open');
            });
        } else {
            $('#orderDetail .detail-ct').slideDown(500, function () {
                $('#orderDetail').addClass('detail-open');
            });
        }
    });
    // 检查是否支付完成
    function loadmsg() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{:url('/Index/getPayResult')}",
            timeout: 10000, //ajax请求超时时间10s
            data: {type: "wxpay", trade_no: "{$row['trade_no']}"}, //post数据
            success: function (data, textStatus) {
                //从服务器得到数据，显示数据并继续查询
                if (data.code == 0) {
                    if (confirm("您已支付完成，需要跳转到订单页面吗？")) {
                        window.location.href=data.data.backurl;
                    } else {
                        // 用户取消
                    }
                }else{
                    setTimeout("loadmsg()", 4000);
                }
            },
            //Ajax请求超时，继续查询
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (textStatus == "timeout") {
                    setTimeout("loadmsg()", 1000);
                } else { //异常
                    setTimeout("loadmsg()", 4000);
                }
            }
        });
    }
    window.onload = loadmsg();
</script>
</body>
</html>