{include file="/public/header"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('feedback.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_order_no')}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common.status')}</label>
                        <div class="layui-input-inline">
                            <select name="status" class="ew-select-fixed">
                                <option value="">{:t('common_ui.select_used_status')}</option>
                                <option value="0">{:t('common_ui.status_pending')}</option>
                                <option value="1">{:t('common_ui.status_completed')}</option>
                                <option value="2">{:t('common_ui.status_processing')}</option>
                                <option value="3">{:t('common_ui.status_abnormal')}</option>
                                <option value="4">{:t('common_ui.status_refunded')}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="SF_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="SF_Table" lay-filter="SF_Table"></table>
        </div>
    </div>
</div>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'dropdown', 'form', 'table', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var notice = layui.notice;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#SF_Table',
            url: '{:url("/Order/list")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>{:t('common.delete')}</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {field: 'id', title: 'ID', templet: '#SF_Tbid', sort: true, width: 80, fixed: true, templet: function (d) {
                        switch(d.status){
                            case 1:
                                return '<span><span class="layui-badge-dot layui-bg-sf-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span> '+d.id+'</span>';
                            case 2:
                                return '<span><span class="layui-badge-dot layui-bg-sf-yellow" style="height: 6px;width: 6px;position: relative;top: -2px"></span> '+d.id+'</span>';
                            case 3:
                                return '<span><span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span> '+d.id+'</span>';
                            case 4:
                                return '<span><span class="layui-badge-dot layui-bg-gray" style="height: 6px;width: 6px;position: relative;top: -2px"></span> '+d.id+'</span>';
                            default:
                                return '<span><span class="layui-badge-dot layui-bg-sf-purple" style="height: 6px;width: 6px;position: relative;top: -2px"></span> '+d.id+'</span>';
                        }
                    }
                },
                {field: 'name', title: '{:t("order_list.product_name")}', sort: true, minWidth: 140},
                {field: 'trade_no', title: '{:t("order_list.order_no")}', sort: true, minWidth: 200, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">{:t("common_ui.system_order_no")}'+d.trade_no+'</span><br><span class="layui-badge layui-badge-blue">{:t("common_ui.remote_order_no")}'+d.api_trade_no+'</span>';
                    }
                },
                {field: 'buy_type', title: '{:t("common_ui.order_type")}', sort: true, minWidth: 120, templet: function (d) {
                        return buyType(d.buy_type);
                    },
                },
                {field: 'type', title: '{:t("common_ui.payment_method")}', sort: true, minWidth: 120, templet: function (d) {
                        switch(d.type){
                            case 'alipay':
                                return '<span class="layui-badge layui-badge-blue">{:t('order_ui.alipay')}</span>';
                            case 'wxpay':
                                return '<span class="layui-badge layui-badge-green">{:t('order_ui.wechat')}</span>';
                            case 'qqpay':
                                return '<span class="layui-badge layui-badge-red">QQ</span>';
                        }
                    }
                },
                {field: 'money', title: '{:t("common_ui.order_amount")}', sort: true, minWidth: 120},
                {field: 'input', title: '{:t("common_ui.order_info_field")}', sort: true, minWidth: 120, templet: function (d) {
                        if(d.input == '' || d.input == null){
                            return '{:t("common_ui.none")}';
                        }
                        try {
                            var info = typeof d.input === 'string' ? JSON.parse(d.input) : d.input;
                            if (info.original_money) {
                                return t('order_list.discount_price', {original: info.original_money, paid: d.money});
                            }
                        } catch(e) {}
                        return d.input;
                    }
                },
                {field: 'num', title: '{:t("common_ui.quantity_field")}', sort: true, minWidth: 80},
                {field: 'ip', title: '{:t("common_ui.ip_address")}', sort: true, minWidth: 100},
                {field: 'addtime', title: '{:t("common_ui.order_time")}', sort: true, minWidth: 200, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">{:t("order_list.created_at")}：'+d.addtime+'</span><br><span class="layui-badge layui-badge-green">{:t("order_list.completed_at")}：'+d.endtime+'</span>';
                    }
                },
                {field: 'status', title: '{:t("common.status")}', templet: '#SF_TbState', minWidth: 100, templet: function (d) {
                        switch(d.status){
                            case 1:
                                return '<span class="layui-badge layui-badge-green">{:t('common_ui.status_completed')}</span>';
                            case 2:
                                return '<span class="layui-badge layui-badge-yellow">{:t('common_ui.status_processing')}</span>';
                            case 3:
                                return '<span class="layui-badge layui-badge-red">{:t('common_ui.status_abnormal')}</span>';
                            case 4:
                                return '<span class="layui-badge layui-badge-gray">{:t('common_ui.status_refunded')}</span>';
                            default:
                                return '<span class="layui-badge layui-badge-purple">{:t('common_ui.status_pending')}</span>';
                        }
                    }
                },
                {field: 'return', title: '{:t("common_ui.return_info")}', minWidth: 100, templet: function (d) {
                        if(d.return == '' || d.return == null){
                            return '{:t("common_ui.none")}';
                        }else{
                            return d.return;
                        }
                    }
                }
            ]]
        });

        function buyType(type){
            switch (type){
                case 'recharge':
                    return '{:t("common_ui.user_recharge")}';
                default:
                    return '{:t("common_ui.type_error")}';
            }
        }
        /* 表格搜索 */
        form.on('submit(SF_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(SF_Table)', function (obj) {
            if (obj.event === 'del') { // 删除
                doDel(obj);
            }
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(SF_Table)', function (obj) {
            if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('SF_Table');
                if (checkRows.data.length === 0) {
                    notice.msg('{:t("confirm.please_select_data")}', {icon: 3, audio:'1'});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
        });

        /* 删除 */
        function doDel(obj) {
            layer.confirm('{:t("auth_portal.confirm_delete")}', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('{:t("common_ui.processing")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/Order/drop")}' : '{:url("/Order/batchDrop")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            table.reload('SF_Table');
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    }
                });
            });
        }
    });
</script>
