{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('feedback.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_log_title_or_ip')}"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="SF_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common_ui.power_type')}</label>
                        <div class="layui-input-inline">
                            <select class="layui-input ew-select-fixed" lay-filter="power" lay-search>
                                <option value="">{:t('common.all')}</option>
                                <option value="1">{:t('auth_portal.site_owner')}</option>
                                <option value="2">{:t('admin_user.user_suffix')}</option>
                                <option value="3">{:t('common_ui.guest_label')}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->

            <table id="SF_Table" lay-filter="SF_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="SF_TbBar">
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>{:t('common.delete')}</a>
</script>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var notice = layui.notice;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#SF_Table',
            url: '{:url("/Log/list")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>{:t('common.delete')}</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {field: 'id', title: 'ID', sort: true, width: 80, fixed: true},
                {field: 'title', title: '{:t("common_ui.log_title")}', sort: true, minWidth: 120},
                {field: 'username', title: '{:t("common_ui.operator")}', sort: true, minWidth: 120, templet: function (d) {
                    if(d.username == 1 && d.is_admin == 1){
                        return '<span class="layui-badge layui-badge-orange">{:t("common_ui.admin_label")}'+d.username+'</span>';
                    }else if(d.username == 0){
                        return '<span class="layui-badge layui-badge-yellow">{:t('common_ui.guest_label')}</span>';
                    }else{
                        return '<span class="layui-badge layui-badge-blue">{:t("common_ui.user_label")}'+d.username+'</span>';
                    }
                }},
                {field: 'method', title: '{:t("common_ui.request_type")}', sort: true, minWidth: 80},
                {field: 'module', title: '{:t("common_ui.model")}', sort: true, minWidth: 80},
                {field: 'action', title: '{:t("common_ui.op_method")}', sort: true, minWidth: 180},
                {field: 'content', title: '{:t("common_ui.log_content")}', sort: true, minWidth: 160},
                {field: 'param', title: '{:t("common_ui.request_params")}', sort: true, minWidth: 160},
                {field: 'ip', title: 'IP', sort: true, minWidth: 100},
                {field: 'user_agent', title: 'User-Agent', sort: true, minWidth: 160},
                {field: 'create_time', title: '{:t("common.add_time")}', sort: true, minWidth: 180},
                {title: '{:t("common.operation")}', toolbar: '#SF_TbBar', align: 'center', minWidth: 100}
            ]]
        });

        /* 表格搜索 */
        form.on('submit(SF_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        form.on('select(power)', function (data) {
            if(data.value == ''){
                insTb.reload({where: {power:data.value}, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true}, {field: 'id', title: 'ID', sort: true, width: 80, fixed: true}]]});
            }else{
                insTb.reload({where: {power:data.value}, page: {curr: 1}, cols: [[{type: 'checkbox', fixed: true},{field: 'id', title: 'ID', sort: true, width: 80, fixed: true}]]});
            }
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(SF_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            }
        });
        /* 表格头工具栏点击事件 */
        table.on('toolbar(SF_Table)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('SF_Table');
                if (checkRows.data.length === 0) {
                    notice.msg('{:t("confirm.please_select_data")}', {icon: 3, audio:'1'});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
        });

        /* 删除 */
        function doDel(obj) {
            layer.confirm('{:t("auth_portal.confirm_delete")}', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('{:t("common_ui.processing")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/Log/drop")}' : '{:url("/Log/batchDrop")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            table.reload('SF_Table');
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    }
                });
            });
        }
    });
</script>
