{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                {if $userid > 0}
                <input type="hidden" name="userid" value="{$userid}"/>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.current_user')}</label>
                        <div class="layui-input-inline">
                            <span class="layui-badge layui-badge-blue" style="margin-top: 10px;">UID: {$userid}</span>
                            <a href="{:url('/Auth/list')}" style="margin-left: 10px;">{:t('auth_portal.view_all')}</a>
                        </div>
                    </div>
                </div>
                {/if}
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_auth_content_or_qq')}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common.status')}</label>
                        <div class="layui-input-inline">
                            <select name="status" class="ew-select-fixed">
                                <option value="">{:t('common_ui.select_used_status')}</option>
                                <option value="1">{:t('common.show')}</option>
                                <option value="0">{:t('common.hide')}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="SF_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common_ui.belong_app')}</label>
                        <div class="layui-input-inline">
                            <select class="layui-input ew-select-fixed" lay-filter="app" lay-search>
                                <option value="">{:t('common_ui.select_all_apps')}</option>
                                {volist name="app_list.data.data" id="res"}
                                <option value="{$res.id}">{$res.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->

            <table id="SF_Table" lay-filter="SF_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="SF_TbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>{:t('common.edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>{:t('common.delete')}</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="SF_TbState">
    <input type="checkbox" lay-filter="SF_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.normal_separator')}" {{d.status==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SF_TbPermanent_Switch">
    <input type="checkbox" lay-filter="SF_TbPermanent_SwitchCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common.open')}|{:t('common.close')}" {{d.permanent_switch==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SF_Beta_Switch">
    <input type="checkbox" lay-filter="SF_Beta_SwitchCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common.open')}|{:t('common.close')}" {{d.beta==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SF_Tbid">
    <span id="SF_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-sf-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="SF_EditDialog">
    <form id="SF_EditForm" lay-filter="SF_EditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common_ui.belong_app_label')}</label>
            <div class="layui-input-block">
                <select name="appid" class="layui-input ew-select-fixed" lay-filter="appid" lay-search>
                    <option value="">{:t('auth_portal.select_app')}</option>
                    {volist name="app_list.data.data" id="res"}
                    <option value="{$res.id}">{$res.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div id="form_data" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('auth_portal.auth_content_label')}</label>
                <div class="layui-input-block">
                    <input type="text" name="auth_info" placeholder="{:t('auth_portal.auth_content_placeholder')}" class="layui-input"
                           lay-verType="tips" lay-verify="required"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('common_ui.auth_qq')}:</label>
                <div class="layui-input-block">
                    <input type="number" name="qq" placeholder="{:t('auth_portal.auth_qq_placeholder')}" class="layui-input"
                           lay-verType="tips" lay-verify="required"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">{:t('auth_portal.auth_ip_label')}</label>
                <div class="layui-input-block">
                    <textarea name="ip" class="layui-textarea" style="height:100px" placeholder="{:t('common_ui.ip_placeholder_hint')}" ></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('auth_portal.auth_duration_label')}</label>
                <div class="layui-input-block">
                    <select id="auth_price_list" name="type" class="layui-input ew-select-fixed" lay-filter="type">
                        <option value="">{:t('auth_portal.select_duration')}</option>
                    </select>
                </div>
            </div>
            <div id="diy" style="display: none">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('auth_portal.expire_time_label')}</label>
                    <div class="layui-input-block">
                        <input type="text" id="test" name="endtime" placeholder="{:t('auth_portal.select_expire_time')}" class="icon-date layui-input"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('auth_portal.beta_access')}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="beta" value="1" lay-skin="switch"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('common.status')}:</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" value="1" lay-skin="switch" checked/>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="SF_EditSubmit" lay-submit>{:t('common.save')}</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
        </div>
    </form>
</script>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'notice', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var notice = layui.notice;
        var laydate = layui.laydate;
        var selectedUserId = parseInt('{$userid}', 10) || 0;
        var initialWhere = {};
        if (selectedUserId > 0) {
            initialWhere.userid = selectedUserId;
        }
        {if $appid != ''}
        initialWhere.appid = {$appid};
        {/if}

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#SF_Table',
            url: '{:url("/Auth/list")}',
            method: 'post',
            where: initialWhere,
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>'+t('common.add')+'</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>'+t('common.delete')+'</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {field: 'id', title: 'ID', templet: '#SF_Tbid', sort: true, width: 80, fixed: true},
                {field: 'appName', title: t('common_ui.belong_app'), sort: true, minWidth: 120, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">'+d.appName+'</span>';
                    }},
                {field: 'userid', title: t('auth_portal.parent_id'), sort: true, minWidth: 100, templet: function (d) {
                        if(d.userid == 0){
                            return '<span class="layui-badge layui-badge-green">'+t('auth_portal.site_owner')+'</span>';
                        }else{
                            return '<span class="layui-badge layui-badge-blue">UID:'+d.userid+'</span>';
                        }
                    },
                },
                {field: 'auth_info', title: t('common_ui.auth_content'), sort: true, minWidth: 160},
                {field: 'qq', title: t('common_ui.auth_qq'), sort: true, minWidth: 120},
                {field: 'permanent_switch', title: t('auth_portal.permanent'), templet: '#SF_TbPermanent_Switch', minWidth: 100},
                {
                    field: 'endtime', title: t('common_ui.expire_time'), align: 'right', templet: function (d) {
                        if (d.permanent_switch == '1') {
                            return '<span class="layui-badge layui-badge-green">'+t('auth_portal.permanent')+'</span>';
                        } else {
                            if(checkEndTime(d.endtime) == false){
                                return '<span class="layui-badge layui-badge-orange">'+t('auth_portal.expired')+'</span>';
                            }else{
                                return '<span class="layui-badge layui-badge-blue">'+d.endtime+'</span>';
                            }
                        }
                    }, sort: true, minWidth: 180
                },
                {field: 'authcode', title: t('common_ui.auth_code'), minWidth: 100, templet: function (d) {
                        return '<a class="layui-btn layui-btn-xs" lay-event="seeAuthcode">'+t('auth_portal.view')+'</a>';
                    }
                },
                {field: 'beta', title: t('auth_portal.beta_access'), templet: '#SF_Beta_Switch', minWidth: 100},
                {field: 'sign', title: t('common_ui.feature_code'), sort: true, minWidth: 100},
                {field: 'addtime', title: t('common.add_time'), sort: true, minWidth: 180},
                {field: 'status', title: t('common.status'), templet: '#SF_TbState', minWidth: 100},
                {title: t('common.operation'), toolbar: '#SF_TbBar', align: 'center', minWidth: 180}
            ]]
        });

        function checkEndTime(date){
            var oDate1 = new Date();
            var oDate2 = new Date(date);
            if(oDate1.getTime() > oDate2.getTime()){
                return false;
            } else  if(oDate1.getTime() < oDate2.getTime()){
                return true;
            }else if(oDate1.getTime() == oDate2.getTime()){
                return false;
            }
        }

        form.on('select(appid)', function (data) {
            if (data.value == "") {
                $("#form_data").css("display", "none");
                $("#diy").css("display", "none");
            }else{
                notice.msg(t('common.loading_list'), {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: '{:url("/Auth/getAuthPriceList")}',
                    data: {appid:data.value},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            notice.msg(t('common.list_success'), {icon: 1, audio:'1'});
                            var content = '<option value="">'+t('auth_portal.select_duration')+'</option>';
                            $.each(data.data,function(index, value){
                                $.each(value,function(index, value){
                                    if(value.diy_switch == 1){
                                        content += '<option value="'+value.id+'" diy="1">'+value.name+'</option>';
                                    }else{
                                        content += '<option value="'+value.id+'" diy="0">'+value.name+'</option>';
                                    }
                                });
                            });
                            $("#auth_price_list").html(content);
                        } else {
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                        form.render();
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg(t('common.server_error'), {icon: 2, audio:'1'});
                    }
                });
                $("#form_data").css("display","inherit");
            }
        });
        form.on('select(type)', function (data) {
            let diy = $("#auth_price_list option:selected").attr('diy');
            if (diy == '1') {
                $("#diy").css("display", "inherit");
            }else{
                $("#diy").css("display", "none");
            }
        });

        /* 表格搜索 */
        form.on('submit(SF_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        form.on('select(app)', function (data) {
            var where = {appid: data.value};
            if (selectedUserId > 0) {
                where.userid = selectedUserId;
            }
            insTb.reload({where: where, page: {curr: 1}});
            return false;
        });
        /* 表格工具条点击事件 */
        table.on('tool(SF_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            } else if (obj.event === 'seeAuthcode') {
                admin.open({
                    title: t('auth_portal.view_code_title') + ' - ' + obj.data.auth_info,
                    type: 1,
                    content: '<div class="layui-card"><div class="layui-card-body"><div class="layui-form layui-form-pane"><div class="layui-form-item"><label class="layui-form-label">'+t('common_ui.auth_code')+'</label><div class="layui-input-block"><input type="text" id="copy" class="layui-input layui-disabled" value="'+obj.data.authcode+'"/></div></div></div><a class="layui-btn layui-btn-fluid" onclick="copy()">'+t('auth_portal.copy_code')+'</a></div></div>'
                });
            }
            laydate.render({
                elem: '#test', //指定元素
                mark: {
                    '0-3-15': 'SF'
                },
                type: 'datetime',
                trigger: 'click'
            });
        });
        window.copy = function (){
            notice.msg(t('common.loading'), {icon: 4, close: true});
            var e = document.getElementById("copy");
            e.select();
            document.execCommand("Copy");//执行复制
            notice.destroy();
            notice.msg(t('notify.copy_success'), {icon: 1, audio:'1'});
        }
        /* 表格头工具栏点击事件 */
        table.on('toolbar(SF_Table)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('SF_Table');
                if (checkRows.data.length === 0) {
                    notice.msg(t('confirm.please_select_data'), {icon: 3, audio:'1'});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
            laydate.render({
                elem: '#test', //指定元素
                mark: {
                    '0-3-15': 'SF'
                },
                type: 'datetime',
                trigger: 'click'
            });
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.popupRight({
                type: 1,
                title: mData ? t('auth_portal.edit_auth') : t('auth_portal.add_auth_title'),
                content: $('#SF_EditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    if(mData){
                        $("#form_data").css("display", "inherit");
                        notice.msg(t('common.loading_list'), {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/Auth/getAuthPriceList")}',
                            data: {appid:mData.appid},
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    notice.msg(t('common.list_success'), {icon: 1, audio:'1'});
                                    var content = '<option value="-1">'+t('auth_portal.no_renewal')+'</option>';
                                    $.each(data.data,function(index, value){
                                        $.each(value,function(index, value){
                                            if(value.diy_switch == 1){
                                                content += '<option value="'+value.id+'" diy="1">'+value.name+'</option>';
                                            }else{
                                                content += '<option value="'+value.id+'" diy="0">'+value.name+'</option>';
                                            }
                                        });
                                    });
                                    $("#auth_price_list").html(content);
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                                form.render();
                                mData.type = '-1';
                                form.val('SF_EditForm', mData);
                                $("#diy").css("display", "inherit");
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg(t('common.server_error'), {icon: 2, audio:'1'});
                            }
                        });
                        if (mData.permanent_switch != 1) {
                            $("#type").css("display", "inherit");
                            if(mData.type == 'diy'){
                                $("#diy").css("display", "inherit");
                            }
                        }
                    }else{
                        form.render();
                        $("#form_data").css("display","none");
                        $("#type").css("display", "none");
                        $("#diy").css("display", "none");
                    }

                    // 表单提交事件
                    form.on('submit(SF_EditSubmit)', function (data) {
                        notice.msg(t('common.loading'), {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/Auth/edit")}',
                            data: data.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    table.reload('SF_Table');
                                    notice.msg(data.msg, {icon: 1, audio:'1'});
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg(t('common.server_error'), {icon: 2, audio:'1'});
                            }
                        });
                        return false;
                    });
                    // 禁止弹窗出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm(t('confirm.delete_selected'), {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg(t('common.loading'), {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/Auth/drop")}' : '{:url("/Auth/batchDrop")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            table.reload('SF_Table');
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg(t('common.server_error'), {icon: 2, audio:'1'});
                    }
                });
            });
        }

        /* 修改用户状态 */
        form.on('switch(SF_TbStateCk)', function (obj) {
            notice.msg(t('common.loading'), {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/Auth/setStatus")}',
                data: {id:obj.value,status:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        table.reload('SF_Table');
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(t('common.server_error'), {icon: 2, audio:'1'});
                }
            });
        });

        form.on('switch(SF_TbPermanent_SwitchCk)', function (obj) {
            notice.msg(t('common.loading'), {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/Auth/setPermanentSwitch")}',
                data: {id:obj.value,permanent_switch:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        table.reload('SF_Table');
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(t('common.server_error'), {icon: 2, audio:'1'});
                }
            });
        });

        form.on('switch(SF_Beta_SwitchCk)', function (obj) {
            notice.msg(t('common.loading'), {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/Auth/setBetaSwitch")}',
                data: {id:obj.value,beta:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        table.reload('SF_Table');
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(t('common.server_error'), {icon: 2, audio:'1'});
                }
            });
        });
    });
</script>
