{include file="/public/header"}
<style>
    .mask{position:fixed;width:100%;height:100%;top:0;left:0;background:#000;opacity:0.8;filter:alpha(Opacity=80);-moz-opacity:0.8;z-index:999;display:none;}
    .loading{position:fixed;width:300px;left:50%;margin-left:-150px;top:200px;height:18px;border-radius:10px;background:#fff;z-index:9999;overflow:hidden;display:none;}
</style>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form formBasForm">
                <input type="hidden" id="totalPage" value="0"/>
                <input type="hidden" id="page" value="1"/>
                <input type="hidden" id="status" value="0"/>
                <input type="hidden" name="filename" value=""/>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('common_ui.belong_app')}:</label>
                    <div class="layui-input-block">
                        <select name="appid" class="layui-input ew-select-fixed" lay-filter="appid" lay-search>
                            <option value="">{:t('add_code.select_app')}</option>
                            {volist name="app_list.data.data" id="res"}
                            <option value="{$res.id}">{$res.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">{:t('add_code.upload_file')}:</label>
                    <div class="layui-input-block">
                        <div class="layui-upload-drag" id="fileUpload">
                            <i class="layui-icon layui-icon-upload-drag" style="color:#2d8cf0;"></i>
                            <p>{:t('version_ui.drag_upload')}</p>
                            <div class="layui-hide" id="uploadDemoView">
                                <hr>
                                <div class="layui-form-item">
                                    <img src="" alt="{:t('addon_ui.upload_preview_alt')}" id="demo1" style="max-width: 196px">
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{:t('version_ui.file_name')}</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="name" id="name" value="" lay-verify="title" autocomplete="off" readonly="true" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mask"></div>
                <div class="loading">
                    <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgress">
                        <div class="layui-progress-bar" lay-percent="0%"></div>
                    </div>
                </div>
                <div class="layui-form-item text-right">
                    <button class="layui-btn" lay-filter="SF_EditSubmit" lay-submit>{:t('add_code.start')}</button>
                    <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.reset')}</button>
                </div>
                <div class="layui-form-item">
                    <div class="sf-tips">
                        {:t('add_code.support_notice')}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'admin', 'notice' ,'upload', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;
        var upload = layui.upload;
        var element = layui.element;

        upload.render({
            elem: '#fileUpload',
            url: '{:url("/Upload/temp")}', //处理上传文件接口
            accept: 'file',
            auto: false,
            acceptMime: '*.*',//允许上传的文件类型
            data: {name:'addCode'},
            choose: function (obj) {
                element.progress('uploadProgress', '0%');
                $('.mask').show();
                $('.loading').show();
                var data = this.data;
                var files = obj.pushFile();
                var LENGTH = 500 * 1024; //每片文件大小
                obj.preview(function (index, file, result) {
                    var totalSize = file.size;
                    var totalPage = Math.ceil(totalSize / LENGTH);
                    $('#totalPage').val(totalPage);
                    $('#page').val('1');
                    $('#status').val('1');
                    var fileName = file.name;
                    $('#name').val(fileName);
                    var fileExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                    fileName = fileName.substr(0, fileName.lastIndexOf('.'));
                    var progressTimer = setInterval(function () {
                        var totalPage = parseInt($('#totalPage').val());
                        var page = parseInt($('#page').val());
                        var status = $('#status').val();
                        if (parseInt(totalPage) == parseInt(page) && (parseInt(status) == 2 || parseInt(status) == -1)) {
                            clearInterval(progressTimer);
                        } else {
                            if (status == 1) {
                                $('#status').val('0');
                                data.fileName = fileName;
                                data.page = page;
                                data.totalPage = totalPage;
                                data.fileExt = fileExt;
                                obj.upload(index, file.slice((page - 1) * LENGTH, page * LENGTH));
                            }
                        }
                    }, 100);
                });
            },
            done: function (res) {
                if(res.code == 0) {
                    if (res.data.status == 1) { //分片上传
                        var page = parseInt($('#page').val());
                        var totalPage = parseInt($('#totalPage').val());
                        element.progress('uploadProgress', Math.ceil(page * 100 / totalPage) + '%');
                        page = page + 1;
                        $('#page').val(page);
                        $('#status').val('1');
                    } else if (res.data.status == 2) { //上传完成
                        element.progress('uploadProgress', '100%');
                        $('#status').val('2');
                        layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', '{__MODULE__}fileChoose/img/zip.png');
                        notice.msg('{:t("version_ui.upload_success")}', {icon: 1,audio: '1',onOpening: function () {
                                $("input[name='filename']").val(res.data.filename);
                                $('.mask').hide();
                                $('.loading').hide();}
                        });
                    } else { //上传错误
                        $('#status').val('-1');
                        element.progress('uploadProgress', '0%');
                        if (typeof (res.data.downUrl) == "undefined") {
                        } else {
                            $('#downUrl').val(res.data.downUrl);
                        }
                        notice.msg(res.msg, {icon: 2,audio: '1',onOpening: function () {
                                $('.mask').hide();
                                $('.loading').hide();}
                        });
                    }
                }else{
                    $('#status').val('-1');
                    element.progress('uploadProgress', '0%');
                    if (typeof (res.data.downUrl) == "undefined") {
                    } else {
                        $('#downUrl').val(res.data.downUrl);
                    }
                    notice.msg(res.msg, {icon: 2,audio: '1',onOpening: function () {
                            $('.mask').hide();
                            $('.loading').hide();}
                    });
                }
            },
            error: function(){
                notice.msg('{:t("common.server_error")}', {icon: 2,audio: '1',onOpening: function () {
                        $('.mask').hide();
                        $('.loading').hide();}
                });
            }
        });

        form.on('submit(SF_EditSubmit)', function (data) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url: '{:addon_url("AddCode/index")}',
                data: {},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    } else {
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                }
            });
            return false;
        });

    });
</script>
