{include file="/public/header"}
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">{:t('accounting.checkin_history')}</div>
    <div class="layui-card-body">
      <div class="layui-form">
        <div class="layui-form-item" style="display:inline-block;margin-bottom:6px;">
          <input type="text" id="searchUsername" placeholder="{:t('checkin_ui.search_user')}" class="layui-input" style="width:200px;">
        </div>
        <button class="layui-btn" id="btnSearch" style="margin-bottom:6px;"><i class="layui-icon layui-icon-search"></i> {:t('common_ui.search_btn')}</button>
      </div>
      <table id="recordsTable" lay-filter="recordsTable"></table>
    </div>
  </div>
</div>
{include file="/public/footer"}
<script>
layui.use(['table'], function(){
  var $ = layui.jquery;
  var table = layui.table;
  table.render({
    elem: '#recordsTable',
    url: '{:url("/Checkin/records")}',
    method: 'POST',
    where: {username: ''},
    cols: [[
      {field: 'id', title: 'ID', width: 70, sort: true},
      {field: 'username', title: '{:t("admin_user.user_suffix")}', width: 130},
      {field: 'checkin_date', title: '{:t("accounting.checkin_date")}', width: 120, sort: true},
      {field: 'consecutive_days', title: '{:t("accounting.consecutive_days")}', width: 100, sort: true},
      {field: 'points_earned', title: '{:t("accounting.points_earned")}', width: 110, sort: true},
      {field: 'ip', title: '{:t("common_ui.ip_address")}', width: 150},
      {field: 'created_at', title: '{:t("accounting.checkin_time")}', width: 170, sort: true}
    ]],
    page: true,
    limit: 15,
    limits: [10, 15, 20, 50],
    request: {pageName: 'page', limitName: 'limit'},
    parseData: function(res){ return {code: res.code, msg: res.msg, count: res.count, data: res.data}; }
  });

  $('#btnSearch').click(function(){
    table.reload('recordsTable', {where: {username: $('#searchUsername').val()}});
  });
});
</script>
