{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_id_or_name')}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('common.status')}</label>
                        <div class="layui-input-inline">
                            <select name="status" class="ew-select-fixed">
                                <option value="">{:t('common_ui.select_used_status')}</option>
                                <option value="1">{:t('set_ui.speed_normal')}</option>
                                <option value="0">{:t('common.ban')}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="QH_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="QH_Table" lay-filter="QH_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="QH_TbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>{:t('common.edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>{:t('common.delete')}</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="QH_TbState">
    <input type="checkbox" lay-filter="QH_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.show_hide')}" {{d.status==1?'checked':''}} style="display: none;"/>
    <p style="display: none;">{{d.status==0?'{:t("common.normal")}':'{:t("common.ban")}'}}</p>
</script>

<script type="text/html" id="QH_Tbid">
    <span id="QH_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-qh-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="QH_EditDialog">
    <form id="QH_EditForm" lay-filter="QH_EditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <input name="form_mode" type="hidden" value=""/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common_ui.power_field')}</label>
            <div class="layui-input-block">
                <select id="power" name="power" class="layui-input ew-select-fixed" lay-search>
                    <option value="">{:t('common_ui.select_power')}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common_ui.username_field')}</label>
            <div class="layui-input-block">
                <input type="text" name="username" placeholder="{:t('password_recovery.username_placeholder')}" class="layui-input"
                       lay-verType="tips" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common_ui.password_field')}</label>
            <div class="layui-input-block">
                <input type="text" name="password" placeholder="{:t('admin_user.password_keep_placeholder')}" class="layui-input"
                       lay-verType="tips"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common_ui.qq_field')}</label>
            <div class="layui-input-block">
                <input type="number" name="qq" placeholder="{:t('common_ui.qq_placeholder')}" class="layui-input"
                       lay-verType="tips" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:t('common_ui.email_field')}</label>
            <div class="layui-input-block">
                <input type="text" name="email" placeholder="{:t('common_ui.email_placeholder')}" class="layui-input"
                       lay-verType="tips"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:t('common_ui.balance_field')}</label>
            <div class="layui-input-block">
                <input type="number" name="balance" placeholder="{:t('common_ui.balance_hint')}" class="layui-input"
                       lay-verType="tips" step="0.01" min="0" max="999999"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:t('common_ui.integral_field')}</label>
            <div class="layui-input-block">
                <input type="number" name="integral" placeholder="{:t('common_ui.integral_hint')}" class="layui-input"
                       lay-verType="tips"/>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">{:t('common_ui.allow_ip_field')}</label>
            <div class="layui-input-block">
                <textarea name="ip" class="layui-textarea" style="height:100px" placeholder="{:t('common_ui.ip_placeholder_hint')}" ></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('common.status')}:</label>
            <div class="layui-input-block">
                <input type="checkbox" name="status" value="1" lay-skin="switch" checked/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="QH_EditSubmit" lay-submit>{:t('common.save')}</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
        </div>
    </form>
</script>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var notice = layui.notice;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#QH_Table',
            url: '{:url("/User/list")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>{:t('common.add')}</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>{:t('common.delete')}</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {field: 'id', title: 'ID', templet: '#QH_Tbid', sort: true, width: 80, fixed: true},
                {field: 'img', title: '{:t("common_ui.avatar_field")}', templet: function (d) {
                        var url = d.imgUrl || '//q4.qlogo.cn/headimg_dl?dst_uin='+d.qq+'&spec=100';
                        return '<img data-index="' + (d.LAY_TABLE_INDEX) + '" src="' + url + '" class="tb-img-circle" tb-img alt=""/>';
                    }, width: 70, unresize: true},
                {field: 'appName', title: '{:t("profile.application")}', sort: true, minWidth: 120, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">'+d.appName+'</span>';
                    }},
                {field: 'username', title: '{:t("registration.username")}', sort: true, minWidth: 150},
                {field: 'powerName', title: '{:t("common_ui.power_type")}', align: 'right', sort: true, minWidth: 130, templet: function (d) {
                        return '<span class="layui-badge layui-badge-'+d.powerSpan+'">'+d.powerName+'</span>';
                    }},
                {field: 'qq', title: 'QQ', align: 'right', sort: true, minWidth: 108},
                {field: 'email', title: '{:t("registration.email")}', align: 'right', sort: true, minWidth: 170},
                {field: 'balance', title: '{:t("common_ui.property_field")}', align: 'right', templet: function (d) {
                        return '<span class="layui-badge layui-badge-green">{:t("common_ui.balance_field")}'+d.balance+'</span> <span class="layui-badge layui-badge-yellow">{:t("common_ui.integral_field")}'+d.integral+'</span>';
                    }, sort: true, minWidth: 171},

                {field: 'ip', title: 'IP', align: 'right', sort: true, minWidth: 140},
                {field: 'addtime', title: '{:t("common.add_time")}', sort: true, minWidth: 200},
                {field: 'status', title: '{:t("common.status")}', templet: '#QH_TbState', sort: true, minWidth: 100},
                {title: '{:t("common.operation")}', toolbar: '#QH_TbBar', align: 'center', minWidth: 180}
            ]]
        });
        $(document).off('click.tbImg').on('click.tbImg', '[tb-img]', function () {
            var list = table.cache['QH_Table'];
            var imgList = [];
            $.each(list, function(index, d) {
                imgList[parseInt(d.LAY_TABLE_INDEX)] = {
                    alt: d.username,
                    src: d.imgUrl || '//q4.qlogo.cn/headimg_dl?dst_uin='+d.qq+'&spec=100'
                };
            });
            layer.photos({photos: {data: imgList, start: $(this).data('index')}, shade: .1, closeBtn: true});
        });
        /* 表格搜索 */
        form.on('submit(QH_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(QH_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            }
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(QH_Table)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('QH_Table');
                if (checkRows.data.length === 0) {
                    notice.msg('{:t("confirm.please_select_data")}', {icon: 3, audio:'1'});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.popupRight({
                type: 1,
                title: (mData ? '{:t("common.edit")}' : '{:t("common.add")}') + '{:t("admin_user.user_suffix")}',
                content: $('#QH_EditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    $('input[name="form_mode"]').val(mData ? 'edit' : 'add');
                    notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                    if(mData){
                        $.ajax({
                            type: "POST",
                            url: '{:url("/User/getPowerList")}',
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                    var content = '<option value="">{:t("common_ui.select_power")}</option>';
                                    $.each(data.data.data, function(index, value) {
                                        content +='<option value="'+value.id+'">'+value.name+'</option>';
                                    });
                                    $("#power").html(content);
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                                form.render();
                                mData.balance = 0;
                                mData.integral = 0;
                                mData.password = '';
                                form.val('QH_EditForm', mData);
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                    }else{
                        $.ajax({
                            type: "POST",
                            url: '{:url("/User/getPowerList")}',
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                    var content = '<option value="">{:t("common_ui.select_power")}</option>';
                                    $.each(data.data.data, function(index, value) {
                                        content +='<option value="'+value.id+'">'+value.name+'</option>';
                                    });
                                    $("#power").html(content);
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                                form.render();
                                form.val('QH_EditForm', mData);
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                    }
                    // 表单提交事件
                    form.on('submit(QH_EditSubmit)', function (data) {
                        notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/User/edit")}',
                            data: data.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    table.reload('QH_Table');
                                    notice.msg(data.msg, {icon: 1, audio:'1'});
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                        return false;
                    });
                    // 禁止弹窗出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('{:t("auth_portal.confirm_delete")}', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/User/drop")}' : '{:url("/User/batchDrop")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            insTb.reload({page: {curr: 1}});
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    }
                });
            });
        }

        /* 修改用户状态 */
        form.on('switch(QH_TbStateCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/User/setStatus")}',
                data: {id:obj.value,status:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        insTb.reload({page: {curr: 1}});
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                }
            });
        });
    });
</script>
