{include file="/public/header"}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form layui-form-pane" id="formBasForm" lay-filter="formBasForm">
                <input name="id" type="hidden"/>
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">{:t('app_ui.app_config')}</li>
                        <li>{:t('app_ui.system_config')}</li>
                        <li>{:t('app_ui.price_config')}</li>
                        <li>{:t('app_ui.auth_config')}</li>
                        <li>{:t('app_ui.pirate_config')}</li>
                        <li>{:t('app_ui.notice_config')}</li>
                        <li>{:t('app_ui.public_installer')}</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="height: 32px;border-radius: 4px;">{:t('app_ui.app_name')}</label>
                                <div class="layui-input-block">
                                    <input type="text" style="border-radius: 0px 4px 4px 0px;" name="name" class="layui-input" placeholder="{:t('app_ui.app_name_placeholder')}"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.app_logo')}</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="logo" placeholder="{:t('app_ui.app_logo_placeholder')}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-upload-drag" id="upload">
                                    <i class="layui-icon layui-icon-upload-drag" style="color:#2d8cf0;"></i>
                                    <p>{:t('version_ui.drag_upload')}</p>
                                    <div class="layui-hide" id="uploadDemoView">
                                        <hr>
                                        <img src="" alt="{:t('app_ui.upload_preview_alt')}" id="demo1" style="max-width: 196px">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.app_desc')}</label>
                                <div class="layui-input-block">
                                    <textarea name="introduce" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.app_desc_placeholder')}"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.judge_rule')}</label>
                                <div class="layui-input-block">
                                    <select class="layui-input" name="check_type" lay-filter="check_type" lay-search>
                                        <option value="">{:t('app_ui.select_judge_rule')}</option>
                                        {volist name="check_type_list" id="res"}
                                        <option value="{$res.type}">{$res.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.app_status')}</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="status" value="2" title="{:t('app_ui.normal_run')}" checked>
                                    <input type="radio" name="status" value="1" title="{:t('app_ui.system_maintain')}">
                                    <input type="radio" name="status" value="0" title="{:t('app_ui.stop_run')}">
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.auth_query')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="auth_query_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.proxy_query')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="user_query_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.self_register')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="register_switch" value="1" lay-filter="register_switch" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.self_auth')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="auth_query_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.cdkey_exchange')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="cdkey_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.replace_auth')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="replace_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.replace_count')}</label>
                                <div class="layui-input-block">
                                    <input type="number" name="free_replace_number" class="layui-input" placeholder="{:t('app_ui.free_replace_count')}"/>
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.api_interface')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="api_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.auth_epay')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="pay_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('auth_portal.bind')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="binding_auth_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.api_key')}</label>
                                <div class="layui-input-block">
                                    <input type="number" name="API_KEY" class="layui-input" placeholder="{:t('app_ui.api_key_placeholder')}"/>
                                </div>
                            </div>
                            <div id="register_blacklist">
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">{:t('app_ui.register_blacklist')}</label>
                                    <div class="layui-input-block">
                                        <textarea name="register_blacklist" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.ip_placeholder')}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>{:t('app_ui.auth_price_config')}</legend>
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">{:t('app_ui.price_template')}</label>
                                        <div class="layui-input-block">
                                            <select id="auth_template" class="layui-input" name="auth_template" lay-search>
                                                <option value="">{:t('app_ui.select_price_template')}</option>
                                                <option value="1">{:t('app_ui.default_template')}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>{:t('app_ui.power_price_config')}</legend>
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">{:t('app_ui.price_template')}</label>
                                        <div class="layui-input-block">
                                            <select id="power_template" class="layui-input" name="power_template" lay-search>
                                                <option value="">{:t('app_ui.select_power_template')}</option>
                                                <option value="1">{:t('app_ui.default_template')}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>{:t('app_ui.other_price_config')}</legend>
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">{:t('app_ui.view_pirate')}</label>
                                        <div class="layui-input-block">
                                            <input type="number" name="pirate_money" class="layui-input" placeholder="{:t('app_ui.pirate_deduct_price')}" step="0.01" min="0" max="999999"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">{:t('app_ui.gift_balance')}</label>
                                        <div class="layui-input-block">
                                            <input type="number" name="give_money" class="layui-input" placeholder="{:t('app_ui.sub_agent_balance')}" step="0.01" min="0" max="999999"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">{:t('app_ui.replace_price')}</label>
                                        <div class="layui-input-block">
                                            <input type="number" name="replace_money" class="layui-input" placeholder="{:t('app_ui.free_replace_price')}" step="0.01" min="0" max="999999"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.public_key')}</label>
                                <div class="layui-input-block">
                                    <textarea name="public_key" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.public_key_placeholder')}"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.private_key')}</label>
                                <div class="layui-input-block">
                                    <textarea name="private_key" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.private_key_placeholder')}"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="qh-tips">
                                    {:t('app_ui.key_generation_url')}：<a href="https://www.bejson.com/enc/rsa/" target="_blank">https://www.bejson.com/enc/rsa/</a>
                                </div>
                            </div>

                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.online_update')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="update_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.pirate_save')}</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="pirate_switch" value="0" title="{:t('common.close')}" checked>
                                    <input type="radio" name="pirate_switch" value="1" title="{:t('app_ui.pirate_save')}">
                                    <input type="radio" name="pirate_switch" value="2" title="{:t('app_ui.pirate_save_all')}">
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.detect_ip')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="ip_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.detect_auth_code')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="authcode_switch" value="1" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item" pane>
                                <label class="layui-form-label">{:t('app_ui.submit_method')}</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="check_auth_method" value="1" lay-text="POST|GET" lay-skin="switch" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.verify_file')}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="authcode_file" class="layui-input" placeholder="{:t('app_ui.authcode_file_placeholder')}" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.update_sql')}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="sql_file" class="layui-input" placeholder="{:t('app_ui.sql_file_placeholder')}"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div id="blocktext">
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">{:t('code_view.pirate_tip')}</label>
                                    <div class="layui-input-block">
                                        <textarea name="pirate_msg" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.pirate_msg_placeholder')}" ></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">{:t('app_ui.auth_expired_notice')}</label>
                                    <div class="layui-input-block">
                                        <textarea name="endtime_msg" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.endtime_msg_placeholder')}" ></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">{:t('app_ui.auth_blocked_notice')}</label>
                                    <div class="layui-input-block">
                                        <textarea name="status_msg" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.status_msg_placeholder')}" ></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">{:t('app_ui.authcode_error_notice')}</label>
                                    <div class="layui-input-block">
                                        <textarea name="authcode_msg" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.authcode_msg_placeholder')}" ></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">{:t('app_ui.ip_error_notice')}</label>
                                    <div class="layui-input-block">
                                        <textarea name="ip_msg" class="layui-textarea" style="height:100px" placeholder="{:t('app_ui.ip_msg_placeholder')}" ></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{:t('app_ui.backdoor_url')}</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="hacker_file" class="layui-input" placeholder="{:t('app_ui.backdoor_url_placeholder')}"/>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{:t('app_ui.backdoor_password')}</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="hacker_key" class="layui-input" placeholder="{:t('app_ui.backdoor_password_placeholder')}"/>
                                    </div>
                                </div>
                                <div class="layui-form-item" pane>
                                    <label class="layui-form-label">{:t('code_view.pirate_tip')}</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="pirate_msg_switch" value="1" lay-skin="switch" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.app_notice')}</label>
                                <div class="layui-input-block">
                                    <textarea id="app_notice_editor" name="app_notice" class="layui-textarea qh-rich-editor" style="height:160px" placeholder="{:t('app_ui.app_notice_placeholder')}" ></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.cdkey_notice')}</label>
                                <div class="layui-input-block">
                                    <textarea id="cdkey_notice_editor" name="cdkey_notice" class="layui-textarea qh-rich-editor" style="height:160px" placeholder="{:t('app_ui.cdkey_notice_placeholder')}" ></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.recharge_notice')}</label>
                                <div class="layui-input-block">
                                    <textarea id="pay_notice_editor" name="pay_notice" class="layui-textarea qh-rich-editor" style="height:160px" placeholder="{:t('app_ui.pay_notice_placeholder')}" ></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.register_notice')}</label>
                                <div class="layui-input-block">
                                    <textarea id="register_notice_editor" name="register_notice" class="layui-textarea qh-rich-editor" style="height:160px" placeholder="{:t('app_ui.register_notice_placeholder')}" ></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{:t('app_ui.replace_notice')}</label>
                                <div class="layui-input-block">
                                    <textarea id="replace_notice_editor" name="replace_notice" class="layui-textarea qh-rich-editor" style="height:160px" placeholder="{:t('app_ui.replace_notice_placeholder')}" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <blockquote class="layui-elem-quote-qh-info" style="text-align:left;">
                                {:t('app_ui.public_installer_help')}
                            </blockquote>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.current_file')}</label>
                                <div class="layui-input-block" style="line-height:38px;"><span id="qhInstallerName">{:t('app_ui.not_uploaded')}</span></div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('app_ui.file_info')}</label>
                                <div class="layui-input-block" style="line-height:26px;word-break:break-all;">
                                    <div>{:t('app_ui.file_size')}：<span id="qhInstallerSize">-</span></div>
                                    <div>SHA-256：<span id="qhInstallerHash">-</span></div>
                                    <div>{:t('app_ui.upload_time')}：<span id="qhInstallerTime">-</span></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="qhInstallerUpload"><i class="layui-icon layui-icon-upload"></i>{:t('app_ui.upload_zip_installer')}</button>
                                    <p id="qhInstallerHint" style="color:#999;margin-top:8px;">{:t('app_ui.installer_upload_help')}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="width:0px"><hr>
                    <div class="layui-form-item">
                        <div class="layui-btn-container">
                            <button type="button" class="layui-btn" id="noticeBtn" lay-filter="submitBtn" lay-submit>&emsp;{:t('common.submit')}&emsp;</button>
                            <button type="reset" id="formreset" class="layui-btn layui-btn-primary">&emsp;{:t('common.reset')}&emsp;</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="/public/footer"}
<script>
    layui.use(['upload', 'admin', 'form', 'element','jquery', 'notice', 'layedit'], function () {
        var form = layui.form;
        var upload = layui.upload;
        var $ = layui.jquery;
        var notice = layui.notice;
        var element = layui.element;
        var admin = layui.admin;
        var layedit = layui.layedit;
        admin.iframeAuto();
        var richEditors = [];

        function initRichEditors() {
            if (richEditors.length) {
                return;
            }
            $('.qh-rich-editor').each(function () {
                richEditors.push(layedit.build($(this).attr('id'), {
                    height: 220,
                    tool: ['strong', 'italic', 'underline', 'del', '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'face']
                }));
            });
        }

        function syncRichEditors() {
            $.each(richEditors, function (_, index) {
                layedit.sync(index);
            });
        }

        var appInfoData = JSON.parse(JSON.stringify(admin.getLayerData()));
        if(!appInfoData.qh){
            $("input[name='logo']").val(appInfoData.logo);
            layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', appInfoData.logo);
            form.val('formBasForm', appInfoData);
            initRichEditors();
            form.render();
        }
        initRichEditors();

        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
        $.ajax({
            type: "POST",
            url: '{:url("/AuthTemplate/getList")}',
            dataType: "json",
            success: function(data) {
                notice.destroy();
                if (data.code == 0) {
                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                    var content = '<option value="">{:t('app_ui.select_template')}</option>';
                    $.each(data.data,function(index, value){
                        $.each(value,function(index, value){
                            content += '<option value="'+value.id+'">'+value.name+'</option>';
                        });
                    });
                    $("#auth_template").html(content);
                    if(!appInfoData.qh) {
                        form.val('formBasForm', appInfoData);
                    }
                } else {
                    notice.msg(data.msg, {icon: 2, audio:'1'});
                }
                form.render();
            },
            error: function() {
                notice.destroy();
                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
            }
        });

        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
        $.ajax({
            type: "POST",
            url: '{:url("/PowerTemplate/getList")}',
            dataType: "json",
            success: function(data) {
                notice.destroy();
                if (data.code == 0) {
                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                    var content = '<option value="">{:t('app_ui.select_template')}</option>';
                    $.each(data.data,function(index, value){
                        $.each(value,function(index, value){
                            content += '<option value="'+value.id+'">'+value.name+'</option>';
                        });
                    });
                    $("#power_template").html(content);
                    if(!appInfoData.qh) {
                        form.val('formBasForm', appInfoData);
                    }
                } else {
                    notice.msg(data.msg, {icon: 2, audio:'1'});
                }
                form.render();
            },
            error: function() {
                notice.destroy();
                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
            }
        });

        var uploadInst = upload.render({
            elem: '#upload'
            ,url: '{:url("/Upload/image")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
                notice.msg('{:t("app_ui.uploading")}', {icon: 4, close: true});
            }
            ,done: function(res){
                notice.destroy();
                //如果上传失败
                if(res.code == 0){
                    $("input[name='logo']").val(res.data.path);
                    layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.files.file);
                    notice.msg('{:t("upload.upload_success")}', {icon: 1, audio:'1'});
                }else{
                    notice.msg('{:t("common.upload_failed")}', {icon: 2, audio:'1'});
                }
            }
        });
        function installerSize(bytes) {
            bytes = parseInt(bytes || 0, 10);
            if (bytes <= 0) return '-';
            return bytes >= 1048576 ? (bytes / 1048576).toFixed(2) + ' MB' : (bytes / 1024).toFixed(2) + ' KB';
        }
        function showInstallerMeta(meta) {
            meta = meta || {};
            $('#qhInstallerName').text(meta.file_name || meta.installer_file_name || '{:t("app_ui.not_uploaded")}');
            $('#qhInstallerSize').text(installerSize(meta.size || meta.installer_size));
            var hash = meta.sha256 || meta.installer_sha256 || '';
            $('#qhInstallerHash').text(hash ? hash.substr(0, 20) + '…' : '-').attr('title', hash);
            $('#qhInstallerTime').text(meta.uploaded_at || meta.installer_uploaded_at || '-');
        }
        showInstallerMeta(appInfoData || {});
        var installerButton = $('#qhInstallerUpload');
        if (!appInfoData || appInfoData.qh || !appInfoData.id) {
            installerButton.addClass('layui-btn-disabled').prop('disabled', true);
            $('#qhInstallerHint').text('{:t("app_ui.save_before_installer")}');
        } else {
            upload.render({
                elem: '#qhInstallerUpload',
                url: '{:url("/App/uploadInstaller")}',
                data: {id: appInfoData.id},
                accept: 'file',
                exts: 'zip',
                acceptMime: '.zip,application/zip',
                size: 419922,
                before: function () {
                    installerButton.addClass('layui-btn-disabled').prop('disabled', true);
                    notice.msg('{:t("app_ui.installer_uploading")}', {icon: 4, close: true});
                },
                done: function (res) {
                    notice.destroy();
                    installerButton.removeClass('layui-btn-disabled').prop('disabled', false);
                    if (res.code == 0) {
                        showInstallerMeta(res.data || {});
                        notice.msg(res.msg || '{:t("app_ui.installer_upload_success")}', {icon: 1, audio:'1'});
                    } else {
                        notice.msg(res.msg || '{:t("app_ui.installer_upload_failed")}', {icon: 2, audio:'1'});
                    }
                },
                error: function () {
                    notice.destroy();
                    installerButton.removeClass('layui-btn-disabled').prop('disabled', false);
                    notice.msg('{:t("app_ui.upload_request_failed")}', {icon: 2, audio:'1'});
                }
            });
        }
        form.on('submit(submitBtn)', function (data) {
            syncRichEditors();
            data.field = {};
            $.each($('#formBasForm').serializeArray(), function (_, item) {
                data.field[item.name] = item.value;
            });
            if (data.field.name == "") {
                notice.msg('{:t("app_ui.enter_app_name")}', {icon: 3, audio:'1'});
                return false;
            }
            if (data.field.public_key == "") {
                notice.msg('{:t("app_ui.enter_public_key")}', {icon: 3, audio:'1'});
                return false;
            }
            if (data.field.private_key == "") {
                notice.msg('{:t("app_ui.enter_private_key")}', {icon: 3, audio:'1'});
                return false;
            }
            if (data.field.pirate_msg == "") {
                notice.msg('{:t("app_ui.enter_pirate_tip")}', {icon: 3, audio:'1'});
                return false;
            }
            if (data.field.endtime_msg == "") {
                notice.msg('{:t("app_ui.enter_auth_expire_tip")}', {icon: 3, audio:'1'});
                return false;
            }
            if (data.field.status_msg == "") {
                notice.msg('{:t("app_ui.enter_auth_block_tip")}', {icon: 3, audio:'1'});
                return false;
            }
            if (data.field.authcode_msg=="") {
                notice.msg('{:t("app_ui.enter_auth_code_tip")}', {icon: 3, audio:'1'});
                return false;
            }
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url: "{:url('/App/edit')}",
                data: data.field,
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    } else {
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                }
            });
            return false;
        });
        form.on('switch(register_switch)', function (data) {
            if (data.elem.checked) {
                $("#register_blacklist").css("display","inherit");
            }else{
                $("#register_blacklist").css("display","none");
            }
        });
        $('#formreset').click(function () {
            $("#formBasForm")[0].reset();
            notice.msg('{:t("notify.form_reset_success")}', {icon: 1, audio:'1'});
        });
    });
</script>
