{include file="/public/header"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this" data-type="purchase">{:t('plugin_record.purchased')}</li>
                    <li data-type="download">{:t('plugin_ui.download_records')}</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form toolbar">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">{:t('common.search')}</label>
                                    <div class="layui-input-inline">
                                        <input name="text" class="layui-input" placeholder="{:t('plugin_record.search_plugin')}"/>
                                    </div>
                                </div>
                                <div class="layui-inline layui-btn-container">
                                    <button class="layui-btn icon-btn" lay-filter="QH_TbSearch" lay-submit>
                                        <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <table id="QH_Table" lay-filter="QH_Table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="QH_TbBar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detail"><i class="layui-icon">&#xe705;</i>{:t('common.detail')}</a>
</script>

{include file="/public/footer"}
<script>
layui.use(['layer', 'form', 'table', 'element'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var table = layui.table;
    var element = layui.element;

    var currentType = 'purchase';

    var insTb = table.render({
        elem: '#QH_Table',
        url: '{:url("/UserPlugin/purchases")}',
        method: 'post',
        page: true,
        skin: 'line',
        size: 'lg',
        cellMinWidth: 100,
        where: { type: currentType },
        request: { pageName: 'current_page', limitName: 'limit' },
        parseData: function(res){
            return {
                "code": res.code, "msg": res.msg,
                "count": res.data.data.total, "data": res.data.data.data
            };
        },
        cols: [[
            {field: 'id', title: 'ID', width: 80},
            {field: 'icon', title: '{:t("plugin_ui.icon")}', width: 70, templet: function(d){
                return '<img src="'+(d.icon || '/Assets/img/default-plugin.png')+'" style="width:36px;height:36px;object-fit:cover;border-radius:4px;" onerror="this.src=\'/Assets/img/default-plugin.png\'">';
            }},
            {field: 'plugin_name', title: '{:t("plugin_ui.name")}', minWidth: 150},
            {field: 'plugin_version', title: '{:t("version_ui.version_suffix")}', width: 80},
            {field: 'author', title: '{:t("plugin_ui.author")}', width: 120},
            {field: 'plugin_price', title: '{:t("plugin_ui.price")}', width: 100, templet: function(d){
                var price = d.plugin_price || d.price || 0;
                if (price == 0) return '<span class="layui-badge layui-badge-green">{:t('upgrade.free')}</span>';
                if (d.pay_type === 'points') return '<span style="color:#ff5722;">'+parseInt(price)+' {:t("accounting.point_unit")}</span>';
                return '<span style="color:#ff5722;">¥'+price+'</span>';
            }},
            {field: 'order_price', title: '{:t("plugin_record.actual_paid")}', width: 100, templet: function(d){
                if (currentType === 'download') return '-';
                if (d.order_pay_type === 'points') return '<span style="color:#ff5722;">'+parseInt(d.order_price)+' {:t("accounting.point_unit")}</span>';
                return '<span style="color:#ff5722;">¥'+(d.order_price || 0)+'</span>';
            }},
            {field: 'paid_at', title: '{:t("accounting.time")}', width: 160, templet: function(d){
                return currentType === 'download' ? escapeHtml(d.created_at) : escapeHtml(d.paid_at);
            }},
            {field: 'plugin_status', title: '{:t("plugin_record.plugin_status")}', width: 100, templet: function(d){
                var s = d.plugin_status;
                if (s == 1) return '<span class="layui-badge layui-badge-green">{:t('user_home.published')}</span>';
                if (s == 0) return '<span class="layui-badge layui-badge-orange">{:t('plugin_ui.pending_review')}</span>';
                if (s == 2) return '<span class="layui-badge layui-badge-gray">{:t('plugin_ui.off_shelf')}</span>';
                if (s == 3) return '<span class="layui-badge layui-badge-red">{:t('plugin_detail.rejected')}</span>';
                return '-';
            }},
            {title: '{:t("common.operation")}', toolbar: '#QH_TbBar', align: 'center', width: 100}
        ]]
    });

    window.currentType = currentType;

    // 切换标签页
    element.on('tab', function(data) {
        var type = $(this).attr('data-type') || 'purchase';
        currentType = type;
        window.currentType = type;
        insTb.reload({
            where: { type: type },
            page: { curr: 1 }
        });
    });

    form.on('submit(QH_TbSearch)', function (data) {
        var params = Object.assign({}, data.field, { type: currentType });
        insTb.reload({where: params, page: {curr: 1}});
        return false;
    });

    table.on('tool(QH_Table)', function (obj) {
        if (obj.event === 'detail') {
            var pluginId = obj.data.plugin_id;
            layer.open({
                type: 2,
                title: '{:t("home.plugin_details")}',
                content: '{:url("/UserPlugin/detail")}?id=' + pluginId,
                area: ['90%', '90%'],
                maxmin: true
            });
        }
    });

    function escapeHtml(text) {
        var map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#039;'
        };
        return String(text || '').replace(/[&<>"']/g, function(m) { return map[m]; });
    }
});
</script>
