{include file="/public/header"}
{include file="/public/footer"}
<div class="layui-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="layui-card" id="divLoading">
        <div class="layui-card-body">
        {switch name="download"}
            {case value="1"}
            <form class="layui-form formBasForm" lay-filter="formBasForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('download_ui.auth_content_label')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="auth_info" class="layui-input" placeholder="{:t('download_ui.auth_content_placeholder')}"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('common_ui.auth_type')}QQ</label>
                    <div class="layui-input-block">
                        <input type="number" name="qq" class="layui-input" placeholder="{:t('common.enter_auth_holder_qq')}"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('download_ui.captcha_label')}</label>
                    <div class="layui-input-block" style="padding-right: 135px;">
                        <input type="text" name="code" class="layui-input" placeholder="{:t('download_ui.captcha_placeholder')}"/>
                        <button id="QH_CodeBtn" type="button" lay-filter="QH_GetCode" class="layui-btn" style="width: 120px;cursor: pointer;position: absolute;right: 0;top: 0;"  lay-submit/>
                        {:t('download_ui.get_captcha')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item text-right">
                    <button id="QH_DownloadBtn" type="button" class="layui-btn" lay-filter="QH_DownloadSubmit" lay-submit>{:t('download_ui.get_btn')}</button>
                    <button type="button" class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
                </div>
            </form>
            <script>
                layui.use(['layer', 'form', 'admin', 'notice'], function () {
                    var $ = layui.jquery;
                    var layer = layui.layer;
                    var form = layui.form;
                    var admin = layui.admin;
                    var notice = layui.notice;

                    form.on('submit(QH_GetCode)', function (data) {
                        admin.btnLoading('#QH_CodeBtn');
                        admin.showLoading('#divLoading', 3, '.8');
                        $.ajax({
                            type: "POST",
                            url: '{:url("/Ajax/")}',
                            data: data.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    if(data.data.status == 1){
                                        notice.warning({
                                            title: '查询通知',
                                            message: data.msg,
                                            animateInside:true,
                                            position:'topCenter',
                                            transitionOut:'flipOutX',
                                            transitionOutMobile: 'flipOutX',
                                            displayMode:'2',
                                            audio:'1'
                                        });
                                    }else{
                                        notice.success({
                                            title: '查询通知',
                                            message: data.msg,
                                            animateInside:true,
                                            position:'topCenter',
                                            transitionOut:'flipOutX',
                                            transitionOutMobile: 'flipOutX',
                                            displayMode:'2',
                                            audio:'1'
                                        });
                                    }
                                } else {
                                    notice.error({
                                        title: '查询通知',
                                        message: data.msg,
                                        animateInside:true,
                                        position:'topCenter',
                                        transitionOut:'flipOutX',
                                        transitionOutMobile: 'flipOutX',
                                        displayMode:'2',
                                        audio:'1'
                                    });
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.error({
                                    title: '查询通知',
                                    message: '服务器错误',
                                    animateInside:true,
                                    position:'topCenter',
                                    transitionOut:'flipOutX',
                                    transitionOutMobile: 'flipOutX',
                                    displayMode:'2',
                                    audio:'1'
                                });
                            }
                        });
                        return false;
                    });
                    form.on('submit(QH_ReplaceAuth)', function (info) {
                        notice.msg('正在执行中..', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/Ajax/checkReplaceAuth")}',
                            data: info.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    if(data.data.status == 1){
                                        notice.warning({
                                            title: '更换通知',
                                            message: data.msg,
                                            animateInside:true,
                                            position:'topCenter',
                                            transitionOut:'flipOutX',
                                            transitionOutMobile: 'flipOutX',
                                            displayMode:'2',
                                            audio:'1'
                                        });
                                    }else{
                                        info.field.type = 'replaceAuth';
                                        admin.open({
                                            type: 2,
                                            title: '扫码更换',
                                            content: '/qrlogin/qrlogin.html',
                                            area: ['400px', '300px'],
                                            data: info.field
                                        });
                                    }
                                } else {
                                    notice.error({
                                        title: '更换通知',
                                        message: data.msg,
                                        animateInside:true,
                                        position:'topCenter',
                                        transitionOut:'flipOutX',
                                        transitionOutMobile: 'flipOutX',
                                        displayMode:'2',
                                        audio:'1'
                                    });
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.error({
                                    title: '更换通知',
                                    message: '服务器错误',
                                    animateInside:true,
                                    position:'topCenter',
                                    transitionOut:'flipOutX',
                                    transitionOutMobile: 'flipOutX',
                                    displayMode:'2',
                                    audio:'1'
                                });
                            }
                        });
                        return false;
                    });
                    form.on('submit(QH_ReplacePay)', function (data) {
                        notice.msg('正在执行中..', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/Ajax/replacePay")}',
                            data: data.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    if(data.data.status == 1){
                                        notice.warning({
                                            title: '更换通知',
                                            message: data.msg,
                                            animateInside:true,
                                            position:'topCenter',
                                            transitionOut:'flipOutX',
                                            transitionOutMobile: 'flipOutX',
                                            displayMode:'2',
                                            audio:'1'
                                        });
                                    }else{
                                        admin.open({
                                            type: 2,
                                            title: '扫码更换',
                                            content: '/qrlogin/qrlogin.html',
                                            area: ['400px', '300px'],
                                            data: info.field
                                        });
                                    }
                                } else {
                                    notice.error({
                                        title: '更换通知',
                                        message: data.msg,
                                        animateInside:true,
                                        position:'topCenter',
                                        transitionOut:'flipOutX',
                                        transitionOutMobile: 'flipOutX',
                                        displayMode:'2',
                                        audio:'1'
                                    });
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.error({
                                    title: '更换通知',
                                    message: '服务器错误',
                                    animateInside:true,
                                    position:'topCenter',
                                    transitionOut:'flipOutX',
                                    transitionOutMobile: 'flipOutX',
                                    displayMode:'2',
                                    audio:'1'
                                });
                            }
                        });
                        return false;
                    });
                });
            </script>
            {/case}
            {case value="2"}

            {/case}
            {case value="3"}

            {/case}
            {default /}{:t('common_ui.download_disabled')}
        {/switch}
        </div>
    </div>
</div>

