{include file="/public/header"}
<div class="layui-fluid">
    <div class="layui-card" id="divLoading">
        <div class="layui-card-body">
            <form class="layui-form formBasForm" lay-filter="formBasForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('common_ui.belong_app')}</label>
                    <div class="layui-input-block">
                        <select name="appid" class="layui-input ew-select-fixed" lay-filter="app" lay-search lay-verify="required">
                            <option value="">{:t('download_ui.select_app')}</option>
                            {volist name="app_list.data.data" id="res"}
                            <option value="{$res.id}">{$res.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('download_ui.auth_content_label')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="auth_info" class="layui-input" placeholder="{:t('download_ui.auth_content_placeholder')}" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('common_ui.auth_type')}QQ</label>
                    <div class="layui-input-block">
                        <input type="number" name="qq" class="layui-input" placeholder="{:t('common.enter_auth_holder_qq')}" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('download_ui.captcha_label')}</label>
                    <div class="layui-input-block sf-code-field">
                        <input type="text" name="code" class="layui-input" placeholder="{:t('download_ui.captcha_placeholder')}"/>
                        <button id="SF_CodeBtn" type="button" lay-filter="SF_GetCode" class="layui-btn sf-code-button" lay-submit/>
                        {:t('download_ui.get_captcha')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item text-right">
                    <button id="SF_DownloadBtn" type="button" class="layui-btn" lay-filter="SF_DownloadSubmit" lay-submit>{:t('download_ui.get_btn')}</button>
                    <button type="button" class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;

        form.on('submit(SF_GetCode)', function (data) {
            admin.btnLoading('#SF_CodeBtn');
            admin.showLoading('#divLoading', 3, '.8');
            $.ajax({
                type: "POST",
                url: '{:url("/DownloadMail/getCode")}',
                data: data.field,
                dataType: "json",
                success: function(data) {
                    admin.btnLoading('#SF_CodeBtn', false);
                    admin.removeLoading('#divLoading', true, true);
                    if (data.code == 0) {
                        parent.layui.notice.success({
                            title: "{:t('download_ui.notice_title')}",
                            message: data.msg,
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                    } else {
                        parent.layui.notice.error({
                            title: "{:t('download_ui.notice_title')}",
                            message: data.msg,
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                    }
                },
                error: function() {
                    admin.btnLoading('#SF_CodeBtn', false);
                    admin.removeLoading('#divLoading', true, true);
                    parent.layui.notice.error({
                        title: "{:t('download_ui.notice_title')}",
                        message: "{:t('common.server_error')}",
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                }
            });
            return false;
        });
        form.on('submit(SF_DownloadSubmit)', function (info) {
            admin.btnLoading('#SF_DownloadBtn');
            admin.showLoading('#divLoading', 3, '.8');
            $.ajax({
                type: "POST",
                url: '{:url("/DownloadMail/verification")}',
                data: info.field,
                dataType: "json",
                success: function(data) {
                    admin.btnLoading('#SF_DownloadBtn', false);
                    admin.removeLoading('#divLoading', true, true);
                    if (data.code == 0) {
                        parent.layui.notice.success({
                            title: "{:t('download_ui.notice_title')}",
                            message: data.msg,
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                        window.open(data.data.url);
                    } else {
                        parent.layui.notice.error({
                            title: "{:t('download_ui.notice_title')}",
                            message: data.msg,
                            animateInside:true,
                            position:'topCenter',
                            transitionOut:'flipOutX',
                            transitionOutMobile: 'flipOutX',
                            displayMode:'2',
                            audio:'1'
                        });
                    }
                },
                error: function() {
                    admin.btnLoading('#SF_DownloadBtn', false);
                    admin.removeLoading('#divLoading', true, true);
                    parent.layui.notice.error({
                        title: "{:t('download_ui.notice_title')}",
                        message: "{:t('common.server_error')}",
                        animateInside:true,
                        position:'topCenter',
                        transitionOut:'flipOutX',
                        transitionOutMobile: 'flipOutX',
                        displayMode:'2',
                        audio:'1'
                    });
                }
            });
            return false;
        });
    });
</script>
