{include file="/public/header"}
<div class="layui-fluid">
    <div class="layui-card" id="divLoading">
        <div class="layui-card-body">
            <form class="layui-form formBasForm" lay-filter="formBasForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('common_ui.belong_app')}</label>
                    <div class="layui-input-block">
                        <select name="appid" class="layui-input ew-select-fixed" lay-filter="app" lay-search lay-verify="required">
                            <option value="">{:t('download_ui.select_app')}</option>
                            {volist name="app_list.data.data" id="res"}
                            <option value="{$res.id}">{$res.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:t('download_ui.auth_content_label')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="auth_info" class="layui-input" placeholder="{:t('download_ui.auth_content_placeholder')}" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block qh-form-help qh-download-help">{:t('download_ui.qq_oauth_help')}</div>
                </div>
                <div class="layui-form-item text-right">
                    <button id="QH_DownloadBtn" type="button" class="layui-btn" lay-filter="QH_DownloadSubmit" lay-submit>{:t('download_ui.get_btn')}</button>
                    <button type="button" class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="/public/footer"}
<script type="text/javascript" src="{__JS__}qq-oauth.js?v=20261004_3"></script>
<script>
    layui.use(['layer', 'form', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;

        form.on('submit(QH_DownloadSubmit)', function (info) {
            admin.btnLoading('#QH_DownloadBtn');
            admin.showLoading('#divLoading', 3, '.8');
            QHQqOauth.start({
                url:'/api.php/Social/verify',
                data:{scene:'download',appid:info.field.appid,auth_info:info.field.auth_info,return_to:location.pathname+location.search},
                onResult:function(data){
                    admin.btnLoading('#QH_DownloadBtn', false);
                    admin.removeLoading('#divLoading', true, true);
                    if(data && data.code == 0 && data.data && data.data.status === 'download'){
                        parent.layui.notice.msg(data.msg,{icon:1});
                        (parent.top || parent).location.href=data.data.url;
                    }else{
                        parent.layui.notice.msg((data&&data.msg)||"{:t('download_ui.qq_verification_failed')}",{icon:2});
                    }
                },
                onError:function(message){
                    admin.btnLoading('#QH_DownloadBtn', false);
                    admin.removeLoading('#divLoading', true, true);
                    parent.layui.notice.msg(message,{icon:2});
                }
            });
            return false;
        });
        QHQqOauth.resume(function(data){
            if(data && data.code == 0 && data.data && data.data.status === 'download'){
                (parent.top || parent).location.href=data.data.url;
            }else{
                parent.layui.notice.msg((data&&data.msg)||"{:t('download_ui.qq_verification_failed')}",{icon:2});
            }
        },function(message){parent.layui.notice.msg(message,{icon:2});});
    });
</script>
