
{include file="/public/header"}

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-body images install-banner">
            <img class="install-logo" src="{__IMG__}logo.png" alt="QH"/>
            <b id="QH_title" class="install-title">{:t('install_ui.system_title')}</b>
            <span id="tip" class="pull-right">
                <i class="qh-avatar qh-avatar-icon qh-avatar-small layui-icon layui-icon-help install-help-icon"></i>
            </span>
        </div>
        <div class="layui-card-body layui-form">
            <div class="layui-tab layui-steps layui-steps-readonly install-wizard" lay-filter="stepsDemoForget">
                <ul class="layui-tab-title">
                    <li class="layui-this">
                        <i class="layui-icon layui-icon-ok">1</i>
                        <span class="layui-steps-title">{:t('install_ui.step_label_1')}</span>
                        <span class="layui-steps-content">{:t('install_ui.step_agreement')}</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">2</i>
                        <span class="layui-steps-title">{:t('install_ui.step_label_2')}</span>
                        <span class="layui-steps-content">{:t('install.env_check')}</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">3</i>
                        <span class="layui-steps-title">{:t('install_ui.step_label_3')}</span>
                        <span class="layui-steps-content">{:t('install.fill_db_info')}</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">4</i>
                        <span class="layui-steps-title">{:t('install_ui.step_label_4')}</span>
                        <span class="layui-steps-content">{:t('install_ui.create_data_table')}</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">5</i>
                        <span class="layui-steps-title">{:t('install_ui.step_label_5')}</span>
                        <span class="layui-steps-content">{:t('install_ui.fill_site_info')}</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">6</i>
                        <span class="layui-steps-title">{:t('install_ui.step_label_6')}</span>
                        <span class="layui-steps-content">{:t('install.finish_install')}</span>
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form layui-form-pane">
                            <div class="layui-tab layui-tab-brief">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">{:t('install_ui.tab_agreement')}</li>
                                    <li>{:t('install_ui.tab_update_log')}</li>
                                    <li>{:t('install_ui.tab_auth_code')}</li>
                                    <li>{:t('install_ui.tab_about')}</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show" id="divLoading"><iframe class="install-content-frame" src="{:url('/Index/userAgreen')}"></iframe></div>
                                    <div class="layui-tab-item"><iframe class="install-content-frame" src="{:url('/Index/updateLog')}"></iframe></div>
                                    <div class="layui-tab-item"><iframe class="install-content-frame" src="{:url('/Index/userAgreen')}"></iframe></div>
                                    <div class="layui-tab-item">
                                        <div class="layui-col-sm12 layui-col-md12">
                                            <div class="layui-card">
                                                <div class="layui-card-body install-profile-card">
                                                    <div class="text-center layui-text">
                                                        <div class="user-info-head" id="userInfoHead">
                                                            <img src="//q4.qlogo.cn/headimg_dl?dst_uin=2129876388&amp;spec=100" alt=""/>
                                                        </div>
                                                        <h2 class="install-profile-title">{:t('install_ui.author')}</h2>
                                                        <p class="install-profile-subtitle">{:t('install_ui.motto')}</p>
                                                    </div>
                                                    <div class="layui-text install-profile-list">
                                                        <div class="user-info-list-item">
                                                            <i class="layui-icon layui-icon-username"></i>
                                                            <p>QQ:2129876388</p>
                                                        </div>
                                                        <div class="user-info-list-item">
                                                            <i class="layui-icon layui-icon-app"></i>
                                                            <p>{:t('install_ui.qh_slogan')}</p>
                                                        </div>
                                                        <div class="user-info-list-item">
                                                            <i class="layui-icon layui-icon-location"></i>
                                                            <p>{:t('install_ui.location')}</p>
                                                        </div>
                                                    </div>
                                                    <div class="layui-line-dash"></div>
                                                    <h3>{:t('install_ui.tags')}</h3>
                                                    <div class="layui-badge-list install-badge-list">
                                                        <span class="layui-badge layui-badge-red">{:t('install_ui.tag_creative')}</span>
                                                        <span class="layui-badge layui-badge-orange">{:t('install_ui.tag_design')}</span>
                                                        <span class="layui-badge layui-badge-yellow">{:t('install_ui.tag_ocd')}</span>
                                                        <span class="layui-badge layui-badge-green">{:t('install_ui.tag_lazy')}</span>
                                                        <span class="layui-badge layui-badge-blue">{:t('install_ui.tag_coding')}</span>
                                                        <span class="layui-badge layui-badge-purple">hhhc</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-sm12 layui-col-md12">
                                            <div class="layui-card">
                                                <div class="layui-card-body install-profile-card">
                                                    <div class="text-center layui-text">
                                                        <div class="user-info-head" id="userInfoHead">
                                                            <img src="//q4.qlogo.cn/headimg_dl?dst_uin=869998889&amp;spec=100" alt=""/>
                                                        </div>
                                                        <h2 class="install-profile-title">{:t('install_ui.sponsor_name')}</h2>
                                                        <p class="install-profile-subtitle"><a target="_blank" href="https://www.shiwaiyun.com/" class="install-sponsor-link">www.shiwaiyun.com</a> {:t('install_ui.sponsor_intro')} <span class="install-sponsor-offer">{:t('install_ui.sponsor_offer')}</span></p>
                                                    </div>
                                                    <div class="layui-text install-profile-list">
                                                        <div class="user-info-list-item">
                                                            <i class="layui-icon layui-icon-username"></i>
                                                            <p>QQ:869998889</p>
                                                        </div>
                                                        <div class="user-info-list-item">
                                                            <i class="layui-icon layui-icon-app"></i>
                                                            <p>{:t('install_ui.sponsor_brand')} {:t('install_ui.sponsor_desc')}</p>
                                                        </div>
                                                        <div class="user-info-list-item">
                                                            <i class="layui-icon layui-icon-location"></i>
                                                            <p>{:t('install_ui.sponsor_location')}</p>
                                                        </div>
                                                    </div>
                                                    <div class="layui-line-dash"></div>
                                                    <h3>{:t('install_ui.tags')}</h3>
                                                    <div class="layui-badge-list install-badge-list">
                                                        <span class="layui-badge layui-badge-red">{:t('install_ui.sponsor_service_cloud')}</span>
                                                        <span class="layui-badge layui-badge-orange">{:t('install_ui.sponsor_service_domain')}</span>
                                                        <span class="layui-badge layui-badge-yellow">{:t('install_ui.sponsor_service_hosting')}</span>
                                                        <span class="layui-badge layui-badge-green">{:t('install_ui.sponsor_service_dedicated')}</span>
                                                        <span class="layui-badge layui-badge-blue">{:t('install_ui.sponsor_service_colocation')}</span>
                                                        <span class="layui-badge layui-badge-purple">{:t('install_ui.sponsor_service_sms')}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div id="id" class="layui-form-item">
                                <input type="checkbox" name="agreen" id="agreen" value="agreen_QH" lay-skin="primary"  title="{:t('install_ui.i_agree')}"/></div>
                            <button class="layui-btn layui-btn-fluid layui-btn-radius"
                                    lay-filter="stepDemoFormSubmit1" lay-submit>{:t('install_ui.start_install')}
                            </button>
                        </form>
                    </div>
                    <div class="layui-tab-item text-center" id="divLoading2">
                        <div class="demo-cp-item install-progress">
                            <div id="QH_Progress"></div>
                        </div>
                        <div id="loading"></div>
                        <div id="qhhtml"></div>

                        <div id="stepButton" class="install-step-buttons">
                            <button data-steps="prev" type="button" align="left" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-radius install-half-button">{:t('intro_ui.prev')}
                            </button>
                            <button class="layui-btn layui-btn-radius install-half-button" align="right" lay-filter="stepDemoFormSubmit2" lay-submit>{:t('intro_ui.next')}
                            </button>
                        </div>
                    </div>
                    <div class="layui-tab-item layui-form-pane" id="divLoading3">
                        <form class="layui-form layui-form-pane" id="formBasForm" lay-filter="formBasForm">
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('install_ui.db_host')}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="hostname" value="localhost" class="layui-input"  placeholder="{:t('install_ui.db_host_placeholder')}" autocomplete="off" required/>
                                </div></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('install_ui.db_port')}</label>
                                <div class="layui-input-block">
                                    <input type="number" name="hostport" value="3306" class="layui-input" placeholder="{:t('install_ui.db_port_placeholder')}" autocomplete="off" required/>
                                </div></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('install_ui.db_user')}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="username" value="" class="layui-input" placeholder="{:t('install_ui.db_user_placeholder')}" autocomplete="off" required/>
                                </div></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('install_ui.db_password')}</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" value="" class="layui-input" placeholder="{:t('install_ui.db_password_placeholder')}" autocomplete="off" required/>
                                </div></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">{:t('install_ui.db_name')}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="database" value="" class="layui-input" placeholder="{:t('install_ui.db_name_placeholder')}" autocomplete="off" required/>
                                </div></div>

                            <div class="text-center">
                                <button data-steps="prev" type="button" align="left" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-radius install-half-button">{:t('intro_ui.prev')}
                                </button>
                                <button class="layui-btn layui-btn-radius install-half-button" align="right" lay-filter="stepDemoFormSubmit3" lay-submit>{:t('intro_ui.next')}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item" id="divLoading4">
                        <div class="layui-container">
                            <div id="mysql_old" style="display: none">
                                <div class="layui-row layui-col-space20">
                                    <div class="layui-col-md12">
                                        <blockquote class="layui-elem-quote-qh-info">
                                            {:t('install_ui.existing_install_detected')}
                                        </blockquote>
                                    </div>
                                    <div class="layui-col-md4">
                                        <button data-steps="prev" type="button" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-radius">{:t('intro_ui.prev')}
                                        </button>
                                    </div>
                                    <div class="layui-col-md4">
                                        <button class="layui-btn layui-btn-QH-green layui-btn-fluid layui-btn-radius" lay-filter="jump_install" lay-submit>{:t('install_ui.skip_install')}
                                        </button>
                                    </div>
                                    <div class="layui-col-md4">
                                        <button class="layui-btn layui-btn-fluid layui-btn-warm layui-btn-radius" lay-filter="must_install" lay-submit>{:t('install_ui.force_reinstall')}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="mysql_new" style="display: none">
                                <div class="layui-row layui-col-space20">
                                    <div class="layui-col-md6">
                                        <button data-steps="prev" type="button" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-radius">{:t('intro_ui.prev')}
                                        </button>
                                    </div>
                                    <div class="layui-col-md6">
                                        <button class="layui-btn layui-btn-fluid layui-btn-radius" lay-filter="mysql_install" lay-submit>{:t('install_ui.create_data_table')}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item" id="divLoading5">
                        <form class="layui-form layui-form-pane" id="adminForm" lay-filter="adminForm">
                            <div class="layui-tab layui-tab-brief">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">{:t('install_ui.admin_info')}</li>
                                    <li>{:t('install_ui.site_config')}</li>
                                    <li>{:t('install_ui.safe_config')}</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">{:t('install_ui.admin_account')}</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="admin_username" value="admin" class="layui-input"  placeholder="{:t('install_ui.admin_account_placeholder')}" lay-required/>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">{:t('install_ui.admin_password')}</label>
                                            <div class="layui-input-block">
                                                <input type="password" name="admin_password" value="123456" class="layui-input" placeholder="{:t('install_ui.admin_password_placeholder')}" autocomplete="off" lay-required/>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">{:t('install_ui.admin_qq')}</label>
                                            <div class="layui-input-block">
                                                <input type="number" name="admin_qq" value="" class="layui-input" placeholder="{:t('install_ui.admin_qq_placeholder')}" lay-required/>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">{:t('install_ui.admin_email')}</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="admin_email" value="" class="layui-input" placeholder="{:t('install_ui.admin_email_placeholder')}" lay-required/>
                                            </div>
                                            <blockquote class="layui-elem-quote-qh-warning">{:t('install_ui.admin_email_tip')}</blockquote>
                                        </div>
                                        <hr/><i class="layui-icon layui-icon-tips"></i> {:t('install_ui.install_tip')}
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">{:t('install_ui.site_name')}</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="sitename" value="{:t('install_ui.default_site_name')}" class="layui-input" placeholder="{:t('install_ui.site_name_placeholder')}" lay-required/>
                                            </div>
                                        </div>
                                        <hr/><i class="layui-icon layui-icon-tips"></i> {:t('install_ui.install_tip')}
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">{:t('install_ui.backend_entry')}</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="login_address" value="admin" class="layui-input" placeholder="{:t('install_ui.backend_entry_placeholder')}"/>
                                            </div>
                                            <blockquote class="layui-elem-quote-qh-warning">
                                                {:t('install_ui.backend_entry_tip')}
                                            </blockquote>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">{:t('install_ui.login_token')}</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="QH_LOGIN_KEY" value="" class="layui-input" placeholder="{:t('install_ui.login_token_placeholder')}"/>
                                            </div>
                                            <blockquote class="layui-elem-quote-qh-warning">
                                                {:t('install_ui.login_token_tip')}<br><br>{:t('install_ui.login_token_example')}<br>
                                                {:t('install_ui.backend_login_example')}：{:DOMAIN}/{:t('install_ui.backend_entry')}?123456
                                            </blockquote>
                                        </div>
                                        <button type="button" id="binding" class="layui-btn layui-btn-warm layui-btn-fluid layui-btn-radius">{:t('install_ui.bind_qq_login')}
                                        </button>
                                        <hr/><i class="layui-icon layui-icon-tips"></i> {:t('install_ui.install_tip')}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button data-steps="prev" type="button" align="left" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-radius install-half-button">{:t('intro_ui.prev')}
                                </button>
                                <button class="layui-btn layui-btn-radius install-half-button" align="right" lay-filter="admin_info" lay-submit>{:t('install_ui.save_info')}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item text-center" id="divLoading6">
                        <i class="layui-icon layui-icon-ok layui-circle install-complete-icon"></i>
                        <div class="install-complete-title">{:t('install_ui.install_success')}</div>
                        <div class="install-complete-subtitle">{:t('install_ui.welcome')}</div>
                        <div class="install-complete-actions">
                            <button align="left" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-radius install-half-button" lay-filter="QHindex" lay-submit>{:t('install_ui.website_home')}
                            </button>
                            <button class="layui-btn layui-btn-radius install-half-button" align="right" lay-filter="loginadmin" lay-submit>{:t('install_ui.login_backend_btn')}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'steps', 'form', 'admin', 'notice', 'CircleProgress'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var steps = layui.steps;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;
        var CircleProgress = layui.CircleProgress;
        $("#binding").click(function (){
            window.open("{:url('/Social/binding')}");
        });
        // 填写手机号
        form.on('submit(stepDemoFormSubmit1)', function (data) {
            admin.showLoading('#divLoading', 3, '.8');
            admin.btnLoading('[lay-filter="stepDemoFormSubmit1"]');
            setTimeout(function () {
                var chk_value = [];
                $('input[name="agreen"]:checked').each(function () {
                    chk_value.push($(this).val());
                });
                if (chk_value == ""){
                    admin.removeLoading('#divLoading', true, true);
                    admin.btnLoading('[lay-filter="stepDemoFormSubmit1"]', false);
                    notice.msg(window.t('install.agree_first'), {icon: 3,audio:'1'});
                    layer.tips(window.t('install.agree_checkbox'), '#id', {
                        tips: [1,'#1890ff']
                    });
                    return false;
                }else{
                    admin.removeLoading('#divLoading', true, true);
                    admin.btnLoading('[lay-filter="stepDemoFormSubmit1"]', false);
                    steps.next('stepsDemoForget');
                    $('#QH_title').html(window.t('install.env_check'));
                    $('#loading').html('<h2 class="install-loading-title"><b>' + window.t('install.env_checking') + '<span id="loginload">.</span></b></h2>');
                    var loadnum = 1;

                    setInterval(function (){
                        let load = '.';
                        if (loadnum == 1) {
                            load = '.';
                            loadnum += 1;
                        } else if (loadnum == 2){
                            load = '..';
                            loadnum += 1;
                        }else{
                            load = '...';
                            loadnum = 1;
                        }
                        $('#loginload').html(load);
                    },300);
                    $.ajax({
                        type: "POST",
                        url: "{:url('/Ajax/check')}",
                        dataType: "json",
                        success: function(data) {
                            if (data.code == 0) {
                                var ins10 = new CircleProgress('#QH_Progress', {
                                    max: 100,
                                    value: 0,
                                    textFormat: function (value, max) {
                                        return value + window.t('install_ui.score_suffix');
                                    }
                                });
                                var htmlarr = [];
                                htmlarr.push('<table class="layui-table qh-table" lay-skin="line"><thead><tr><th class="install-status-heading"><b>' + window.t('install_ui.status_detail') + '</b></th><th class="install-status-heading"><b>' + window.t('install_ui.detail') + '</b></th></tr></thead>');
                                $.each(data.data.check_msg.success, function(){
                                    htmlarr.push('<tr><td><span class="layui-badge layui-badge-green">' + window.t('install_ui.supported') + '</span></td><td>'+ this +'</td></tr>');
                                });
                                $.each(data.data.check_msg.error, function(){
                                    htmlarr.push('<tr><td><span class="layui-badge layui-badge-orange">' + window.t('install_ui.not_supported') + '</span></td><td>'+ this +'</td></tr>');
                                });
                                htmlarr.push('</table>');
                                var html = htmlarr.join("");
                                var timer10 = setInterval(function () {
                                    if(data.data.safe >= ins10.value){
                                        ins10.value += 1;
                                        if (ins10.value == ins10.max) {
                                            $('#QH_Progress').addClass('circle-progress-success');
                                            $('#loading').html('');
                                            $('#qhhtml').html(html);
                                            clearInterval(timer10);
                                            notice.msg(window.t('install.env_ok'), {icon: 1,audio:'1'});
                                            $("#stepButton").css('display','inherit');
                                        }
                                    } else {
                                        if (ins10.value == ins10.max) {
                                            $('#QH_Progress').addClass('circle-progress-success');
                                            $('#loading').html('');
                                            $('#qhhtml').html(html);
                                            clearInterval(timer10);
                                            notice.msg(window.t('install.env_ok'), {icon: 1,audio:'1'});
                                            $("#stepButton").css('display','inherit');
                                        }else if(data.data.safe>=90){
                                            $('#QH_Progress').addClass('circle-progress-info');
                                            $('#loading').html('');
                                            $('#qhhtml').html(html);
                                            clearInterval(timer10);
                                            notice.msg(window.t('install.env_caution'), {icon: 3,audio:'1'});
                                            $("#stepButton").css('display','inherit');
                                        } else {
                                            $('#QH_Progress').addClass('circle-progress-danger');
                                            $('#loading').html('');
                                            $('#qhhtml').html(html);
                                            clearInterval(timer10);
                                            notice.msg(window.t('install.env_fail'), {icon: 2,audio:'1'});
                                            $("#stepButton").css('display','inherit');
                                        }
                                    }
                                }, 20);
                            }else{
                                notice.msg(data.msg, {icon: 2,audio:'1'});
                            }
                        }
                    });
                }
            }, 600);
            return false;
        });

        // 获取验证码
        form.on('submit(stepDemoFormSubmit2)', function (data) {
            admin.showLoading('#divLoading2', 3, '.8');
            admin.btnLoading('[lay-filter="stepDemoFormSubmit2"]');
            $.ajax({
                type: "POST",
                url: "{:url('/Ajax/check')}",
                dataType: "json",
                success: function(data) {
                    admin.removeLoading('#divLoading2', true, true);
                    admin.btnLoading('[lay-filter="stepDemoFormSubmit2"]', false);
                    if (data.code == 0) {
                        if(data.data.safe != 100){
                            if(data.data.safe >= 90) {
                                layer.confirm(window.t('install.env_continue_confirm'), {
                                    skin: 'layui-layer-admin',
                                    icon: 3,
                                    shade: .1
                                }, function (i) {
                                    layer.close(i);
                                    steps.next('stepsDemoForget');
                                    $('#QH_title').html(window.t('install.fill_db_info'));
                                });
                            }else{
                                notice.msg(window.t('install.env_unsatisfied'), {icon: 2,audio:'1'});
                            }
                        }else{
                            steps.next('stepsDemoForget');
                            $('#QH_title').html(window.t('install.fill_db_info'));
                        }
                    }else{
                        notice.msg(window.t('common.server_error'), {icon: 2,audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                }
            });
        });


        form.on('submit(stepDemoFormSubmit3)', function (data) {
            admin.showLoading('#divLoading3', 3, '.8');
            admin.btnLoading('[lay-filter="stepDemoFormSubmit3"]');
            var data = data.field;
            if(data.hostname == ''){
                admin.removeLoading('#divLoading3', true, true);
                admin.btnLoading('[lay-filter="stepDemoFormSubmit3"]', false);
                notice.msg(window.t('install.db_host_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.hostport == ''){
                admin.removeLoading('#divLoading3', true, true);
                admin.btnLoading('[lay-filter="stepDemoFormSubmit3"]', false);
                notice.msg(window.t('install.db_port_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.username == ''){
                admin.removeLoading('#divLoading3', true, true);
                admin.btnLoading('[lay-filter="stepDemoFormSubmit3"]', false);
                notice.msg(window.t('install.db_user_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.password == ''){
                admin.removeLoading('#divLoading3', true, true);
                admin.btnLoading('[lay-filter="stepDemoFormSubmit3"]', false);
                notice.msg(window.t('install.db_pass_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.database == ''){
                admin.removeLoading('#divLoading3', true, true);
                admin.btnLoading('[lay-filter="stepDemoFormSubmit3"]', false);
                notice.msg(window.t('install.db_name_empty'), {icon: 3,audio:'1'});
                return false;
            }
            $.ajax({
                type: "POST",
                url: "{:url('/Ajax/install')}",
                data : data,
                dataType: "json",
                success: function(data) {
                    admin.removeLoading('#divLoading3', true, true);
                    admin.btnLoading('[lay-filter="stepDemoFormSubmit3"]', false);
                    if (data.code == 0) {
                        steps.next('stepsDemoForget');
                        notice.msg(data.msg, {icon: 1,audio:'1'});
                        $('#QH_title').html(window.t('install.create_table'));
                        if(data.data.type == 1){
                            $('#mysql_new').css('display','inherit');
                            $('#mysql_old').css('display','none');
                        }else{
                            $('#mysql_new').css('display','none');
                            $('#mysql_old').css('display','inherit');
                        }
                    } else {
                        notice.msg(data.msg, {icon: 2,audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                }
            });

            return false;
        });

        form.on('submit(jump_install)', function (data) {
            admin.showLoading('#divLoading4', 3, '.8');
            admin.btnLoading('[lay-filter="jump_install"]');
            steps.next('stepsDemoForget');
            steps.next('stepsDemoForget');
            $('#QH_title').html(window.t('install.finish_install'));
            admin.removeLoading('#divLoading4', true, true);
            admin.btnLoading('[lay-filter="jump_install"]', false);
            $.ajax({
                type: "GET",
                url: "{:url('/Ajax/putInstallLock')}",
                dataType: "json",
                success: function(data) {
                    if (data.code == 0) {
                        notice.msg(window.t('install.congratulations'), {icon: 1,audio:'1'});
                        $('#QH_user').html(data.user);
                        $('#QH_pwd').html(data.pwd);
                        $('#QH_qq').html(data.qq);
                    } else {
                        notice.msg(window.t('install.lock_not_created'), {icon: 2,audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                }
            });

        });

        form.on('submit(must_install)', function (data) {
            layer.confirm(window.t('install.fresh_install_warning'), {
                btn: [window.t('common.yes'), window.t('common.no')],
                skin: 'layui-layer-admin',
                icon: 3,
                closeBtn:0,
                shade: .1
            }, function (i) {
                layer.close(i);
                admin.showLoading('#divLoading4', 3, '.8');
                admin.btnLoading('[lay-filter="must_install"]');
                $.ajax({
                    type: "POST",
                    url: "{:url('/Ajax/importSQL')}",
                    dataType: "json",
                    success: function(data) {
                        if (data.code == 0) {
                            admin.removeLoading('#divLoading4', true, true);
                            admin.btnLoading('[lay-filter="must_install"]', false);
                            steps.next('stepsDemoForget');
                            notice.msg(data.msg, {icon: 1,audio:'1'});
                            $('#QH_title').html(window.t('install.fill_admin_info'));
                            var qqbindingcheck = setInterval(function() {
                                $.ajax({
                                    type: "POST",
                                    url: "{:url('/Ajax/bindingCheck')}",
                                    dataType: "json",
                                    success: function(data) {
                                        var binding=document.getElementById("binding");
                                        if (data.code == 0) {
                                            binding.setAttribute("class","layui-btn layui-btn-QH-green layui-btn-fluid layui-btn-radius");
                                            $("#binding").html(window.t('install_ui.qq_login_bound'));
                                            clearInterval(qqbindingcheck);
                                        } else {
                                            binding.setAttribute("class","layui-btn layui-btn-warm layui-btn-fluid layui-btn-radius");
                                            $("#binding").html(window.t('install_ui.bind_qq_login'));
                                        }
                                    }
                                });
                            },3000);
                        } else {
                            admin.removeLoading('#divLoading4', true, true);
                            admin.btnLoading('[lay-filter="must_install"]', false);
                            notice.msg(data.msg, {icon: 2,audio:'1'});
                            $('[lay-filter="must_install"]').html(window.t('install.click_retry'));
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                    }
                });

            });
            return false;
        });
        form.on('submit(mysql_install)', function (data) {
            admin.showLoading('#divLoading4', 3, '.8');
            admin.btnLoading('[lay-filter="mysql_install"]');
            $.ajax({
                type: "POST",
                url: "{:url('/Ajax/importSQL')}",
                dataType: "json",
                success: function(data) {
                    if (data.code == 0) {
                        admin.removeLoading('#divLoading4', true, true);
                        admin.btnLoading('[lay-filter="mysql_install"]', false);
                        steps.next('stepsDemoForget');
                        notice.msg(data.msg, {icon: 1,audio:'1'});
                        $('#QH_title').html(window.t('install.fill_admin_info'));
                    } else {
                        admin.removeLoading('#divLoading4', true, true);
                        admin.btnLoading('[lay-filter="mysql_install"]', false);
                        notice.msg(data.msg, {icon: 2,audio:'1'});
                        $('[lay-filter="mysql_install"]').html(window.t('install.click_retry'));
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                }
            });

            return false;
        });

        form.on('submit(admin_info)', function (data) {
            admin.showLoading('#divLoading5', 3, '.8');
            admin.btnLoading('[lay-filter="admin_info"]');
            var data = data.field;
            if(data.admin_username == ''){
                admin.removeLoading('#divLoading5', true, true);
                admin.btnLoading('[lay-filter="admin_info"]', false);
                notice.msg(window.t('install.admin_account_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.admin_password == ''){
                admin.removeLoading('#divLoading5', true, true);
                admin.btnLoading('[lay-filter="admin_info"]', false);
                notice.msg(window.t('install.admin_password_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.admin_qq == ''){
                admin.removeLoading('#divLoading5', true, true);
                admin.btnLoading('[lay-filter="admin_info"]', false);
                notice.msg(window.t('install.admin_qq_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.admin_email == ''){
                admin.removeLoading('#divLoading5', true, true);
                admin.btnLoading('[lay-filter="admin_info"]', false);
                notice.msg(window.t('install.admin_email_empty'), {icon: 3,audio:'1'});
                return false;
            }
            if(data.sitename==''){
                admin.removeLoading('#divLoading5', true, true);
                admin.btnLoading('[lay-filter="admin_info"]', false);
                notice.msg(window.t('install.site_name_empty'), {icon: 3,audio:'1'});
                return false;
            }
            $.ajax({
                type: "POST",
                url: "{:url('/Ajax/adminInfo')}",
                data : data,
                dataType: "json",
                success: function(data) {
                    if (data.code == 0) {
                        admin.removeLoading('#divLoading5', true, true);
                        admin.btnLoading('[lay-filter="admin_info"]', false);
                        steps.next('stepsDemoForget');
                        notice.msg(data.msg, {icon: 1,audio:'1'});
                        $('#QH_title').html(window.t('install.finish_install'));
                        $.ajax({
                            type: "POST",
                            url: "{:url('/Ajax/putInstallLock')}",
                            dataType: "json",
                            success: function(data) {
                                if (data.code == 0) {
                                    notice.msg(window.t('install.congratulations'), {icon: 1,audio:'1'})
                                } else {
                                    notice.msg(window.t('install.lock_not_created'), {icon: 2,audio:'1'});
                                }
                            }
                        });
                    } else {
                        admin.removeLoading('#divLoading5', true, true);
                        admin.btnLoading('[lay-filter="admin_info"]', false);
                        notice.msg(data.msg, {icon: 2,audio:'1'});
                        $('[lay-filter="admin_info"]').html(window.t('install.click_retry'));
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                }
            });

            return false;
        });

        form.on('submit(QHindex)', function (data) {
            admin.showLoading('#divLoading6', 3, '.8');
            admin.btnLoading('[lay-filter="QHindex"]');
            window.open("/");
            return false;
        });

        form.on('submit(loginadmin)', function (data) {
            admin.showLoading('#divLoading6', 3, '.8');
            admin.btnLoading('[lay-filter="loginadmin"]');
            $.ajax({
                type: "POST",
                url: "{:url('/Login/index')}",
                dataType: "json",
                success: function(data) {
                    admin.removeLoading('#divLoading6', true, true);
                    admin.btnLoading('[lay-filter="loginadmin"]', false);
                    if (data.code == 0) {
                        window.open(data.data.url);
                    } else {
                        notice.msg(window.t('install.admin_entry_failed'), {icon: 2,audio:'1'});
                    }
                },
                error: function() {
                    admin.removeLoading('#divLoading6', true, true);
                    admin.btnLoading('[lay-filter="loginadmin"]', false);
                    notice.msg(window.t('common.server_error'), {icon: 2, audio:'1'});
                }
            });
            return false;
        });
    });
</script>
