<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>QH{:t('common_ui.auth_type')}系统丨{:t('install_ui.tab_agreement')}</title>

    <!-- General CSS Files -->

    <link rel="stylesheet" href="{__MODULE__}admin.css?v=318"/>
    <link rel="stylesheet" href="{__CSS__}bootstrap.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{__CSS__}agreen_style.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /*.modal-backdrop{*/
        /*    z-index:0;*/
        /*}*/
        .imgbj{
            width: auto;
            height: auto;
            /*opacity: 0.6;*/
            top: 0;
            left: 0;
            z-index: -1;
            position: fixed;
            background-size: cover;
        }
        .imgc{
            background-size: 100% 100%;
            background-repeat: repeat;
            top: 0;
            position: fixed;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

    </style>
</head>
<body>
    <div class="imgc"></div>
    <img class="imgbj" src="{__IMG__}background.svg">
    <div id="app" style="opacity: 0.95;">
        <section class="section">
            <div class="container mt-5">
                <div class="card card-primary shadow-primary" style="border-radius: 10px;">
                    <div class="card-body">
                        <h4>
                            <code>QH授权系统许可及服务协议</code>
                            <div class="dropdown float-right">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    导航
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#home" class="dropdown-item">{:t('install_ui.agreement_section1')}</a>
                                    <a href="#index1" class="dropdown-item">{:t('install_ui.agreement_section2')}</a>
                                    <a href="#index2" class="dropdown-item">{:t('install_ui.agreement_section3')}</a>
                                    <a href="#index3" class="dropdown-item">QH{:t('common_ui.auth_type')}系统</a>
                                    <a href="#index4" class="dropdown-item">{:t('install_ui.agreement_section5')}</a>
                                    <a href="#index5" class="dropdown-item">{:t('install_ui.agreement_section6')}</a>
                                    <a href="#index6" class="dropdown-item">{:t('install_ui.agreement_section7')}</a>
                                    <a href="#index7" class="dropdown-item">{:t('install_ui.agreement_section8')}</a>
                                    <a href="#index8" class="dropdown-item">{:t('install_ui.agreement_section9')}</a>
                                    <a href="#index9" class="dropdown-item">{:t('install_ui.agreement_section10')}</a>
                                    <a href="#index10" class="dropdown-item">{:t('install_ui.agreement_section11')}</a>
                                    <a href="#index11" class="dropdown-item">{:t('install_ui.agreement_section12')}</a>
                                    <a href="#index12" class="dropdown-item">{:t('install_ui.agreement_section13')}</a>
                                    <a href="#index13" class="dropdown-item">{:t('install_ui.agreement_section14')}</a>
                                    <a href="#index14" class="dropdown-item">{:t('install_ui.agreement_section15')}</a>
                                    <a href="#index15" class="dropdown-item">{:t('install_ui.agreement_section16')}</a>
                                </div>
                            </div>
                        </h4>

                        <hr>
                        <div id="home" class="alert alert-warning">

                            <h6 style="text-align: center">
                                欢迎您使用QH{:t('common_ui.auth_type')}系统及服务！
                            </h6>
                        <br>
                        为使用QH{:t('common_ui.auth_type')}系统（以下统称“本系统”）及服务（以下统称“本服务”），您应当阅读并遵守《QH系统许可及{:t('install_ui.tab_agreement')}》（以下简称“本协议”），以及《QH{:t('install_ui.tab_agreement')}》、《QH{:t('common_ui.auth_type')}规则》、《QH隐私政策》。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制QH责任的条款、对用户权利进行限制的条款、约定争议解决方式和司法管辖的条款（如第十五条相关约定）等，以及开通或使用某项服务的单独协议。限制、免责条款或者{:t('install_ui.agreement_section16')}涉及您重大权益的条款可能以加粗、加下划线等形式提示您重点{:t('dashboard.security_notice')}。

                        除非您已充分阅读、完全理解并接受本协议所有条款，否则您无权{:t('wxpay_ui.download')}、安装或使用本系统和/或相关服务。您点击“同意”、“{:t('intro_ui.next')}”或您的{:t('wxpay_ui.download')}、安装、使用、登录等行为或者您以{:t('install_ui.agreement_section16')}任何明示或者默示方式表示接受本协议的，即视为您已阅读并同意本协议的约束。本协议即在您与QH之间产生法律效力，成为对双方均具有约束力的法律文件。

                        如果您因年龄、智力等因素而不具有完全民事行为能力，请在法定监护人（以下简称"监护人"）的陪同下阅读和判断是否同意本协议。

                        如果您是非中国大陆地区的用户，您订立或履行本协议以及使用本服务的行为还需要同时遵守您所属和/或所处国家或地区的法律。
                        <br>
                        </div>
                        <br>
                        <span id="index1" class="badge badge-info">一、【{:t('install_ui.agreement_section2')}】</span>
                        <br>
                        1.1 本协议是您与QH团队之间关于您{:t('wxpay_ui.download')}、安装、使用、登录本系统，以及使用本服务所订立的协议。
                        <br>
                        1.2 本协议的内容，包括但不限于以下与本系统和/或本服务相关的协议、规则、规范以及QH可能不断发布的关于本系统和/或本服务的相关协议、规则、规范等内容，前述内容一经正式发布，即为本协议不可分割的组成部分，与其构成统一整体，您同样应当遵守协议。
                        <br>
                        <span id="index2" class="badge badge-info">二、【{:t('install_ui.agreement_section3')}】</span>
                        <br>
                        2.1 本系统是指QH团队开发并按照本协议及QH团队{:t('install_ui.agreement_section16')}协议、规则之约定{:t('common_ui.auth_type')}用户{:t('wxpay_ui.download')}、安装、使用的QH{:t('common_ui.auth_type')}系统。
                        <br>
                        2.2 您知晓并同意，腾讯可能会根据需要更新或调整本系统和/或本服务的内容。
                        <br>
                        2.3 您可能可以通过电脑、手机等终端以客户端等形式使用本服务，具体以QH团队提供的为准。同时，QH团队会不断丰富您使用本服务的终端、形式等。当您使用本服务时，您应{:t('common_ui.choose')}与您的终端、系统等相匹配的本系统{:t('common_ui.version')}，否则，您可能无法{:t('set_ui.speed_normal')}使用本服务。
                        <br>
                        2.4 QH团队给予您一项个人的、不可转让及非排他性的许可，以按照本协议及QH团队{:t('install_ui.agreement_section16')}协议、规则限定的范围和方式使用本系统。
                        <br>
                        2.4.1 您可以为非商业目的在单一台终端设备上{:t('wxpay_ui.download')}、安装、使用、登录本系统。
                        <br>
                        2.4.2 您可以制作本系统的一个副本，仅用作备份。备份副本必须包含原系统中含有的所有著作权信息。
                        <br>
                        2.4.3 本条及本协议{:t('install_ui.agreement_section16')}条款未明示{:t('common_ui.auth_type')}的{:t('install_ui.agreement_section16')}一切权利仍由QH团队保留，您在行使这些权利时须另外取得QH团队的书面许可。QH团队如果未行使前述任何权利，并不构成对该权利的放弃。
                        <br>
                        <span id="index3" class="badge badge-info">三、【QH{:t('common_ui.auth_type')}系统】</span>
                        <br>
                        使用本系统您需要购买{:t('common_ui.auth_type')}，并应当遵守《QH{:t('common_ui.auth_type')}规则》。若您购买的{:t('common_ui.auth_type')}账号长期没有登录或使用，QH团队有权将{:t('common_ui.auth_type')}账号进行回收处理，您将无法再继续使用相应账号。
                        <br>
                        <span id="index4" class="badge badge-info">四、【{:t('install_ui.agreement_section5')}】</span>
                        <br>
                        4.1 您可以直接从QH团队的官方网站、官方应用分发平台以及腾讯{:t('common_ui.auth_type')}的第三方网站、应用分发平台等QH官方或腾讯{:t('common_ui.auth_type')}的渠道{:t('download_ui.get_btn')}本系统。
                        <br>
                        4.2 如果您从未经腾讯{:t('common_ui.auth_type')}的第三方{:t('download_ui.get_btn')}本系统或与本系统名称相同的安装程序，QH团队无法保证该系统能够{:t('set_ui.speed_normal')}使用，并对因此给您造成的损失不予负责。
                        <br>
                        <span id="index5" class="badge badge-info">五、【{:t('install_ui.agreement_section6')}】</span>
                        <br>
                        5.1 QH{:t('common_ui.auth_type')}系统可能为不同的终端、系统等开发不同的系统{:t('common_ui.version')}，您应当根据实际情况{:t('common_ui.choose')}{:t('wxpay_ui.download')}合适的{:t('common_ui.version')}进行安装。
                        <br>
                        5.2 {:t('wxpay_ui.download')}安装程序后，您需要按照该程序提示的步骤正确安装。
                        <br>
                        5.3 为提供更加优质、{:t('dashboard.secure')}的服务，在本系统安装时QH团队可能推荐您安装{:t('install_ui.agreement_section16')}系统，您可以{:t('common_ui.choose')}安装或不安装。
                        <br>
                        5.4 因经营策略安排或调整等原因,不同地区的用户于本系统可使用的具体服务内容可能会存在差异，具体以腾讯实际提供的为准。
                        <br>
                        5.5 如果您不再需要使用本系统或者需要安装新版系统，可以自行卸载。如果您愿意帮助腾讯改进产品服务，请告知卸载的原因。
                        <br>
                        <span id="index6" class="badge badge-info">六、【{:t('install_ui.agreement_section7')}】</span>
                        <br>
                        6.1 为了增进用户体验、完善服务内容，QH团队可能不断努力开发新的服务，并为您不时提供系统更新。
                        <br>
                        6.2 为了改善用户体验或提高服务{:t('dashboard.secure')}性、保证功能的一致性等目的，腾讯有权对本系统进行更新，或者对系统的部分功能效果、服务内容进行改变。
                        <br>
                        6.3 本系统新{:t('common_ui.version')}发布后，旧{:t('common_ui.version')}的系统可能无法使用。QH团队不保证旧{:t('common_ui.version')}系统继续可用，也不保证继续对旧{:t('common_ui.version')}系统提供相应的客服和维护服务，请您随时核对并{:t('wxpay_ui.download')}最新{:t('common_ui.version')}。
                        <br>
                        <span id="index7" class="badge badge-info">七、【{:t('install_ui.agreement_section8')}】</span>
                        <br>
                        7.1 保护用户{:t('common_ui.personal_info')}是QH团队的一项基本原则，QH团队将按照本协议及《QH隐私政策》的规定收集、使用、储存和分享您的{:t('common_ui.personal_info')}。本协议对{:t('common_ui.personal_info')}保护相关内容未作明确规定的，均应以《QH隐私政策》的内容为准。
                        <br>
                        7.2 您在购买{:t('common_ui.auth_type')}帐号或使用本服务的过程中，可能需要填写一些必要的信息。若国家法律法规（本协议中的“法律法规”指用户所属/所处地区、国家现行有效的法律、行政法规、司法解释、地方法规、地方规章、部门规章及{:t('install_ui.agreement_section16')}规范性文件以及对于该等法律法规的不时{:t('common_ui.repair')}和补充，以及相关政策规定等，下同。）有特殊规定的，您需要填写真实的身份信息（包括但不限于手机号等信息）。若您填写的信息不完整或不真实，则可能无法使用本服务或在使用过程中受到限制。
                        <br>
                        7.3 {:t('dashboard.security_normal')}情况下，您可根据相关产品规则浏览、{:t('common_ui.repair')}自己{:t('common.submit')}的信息，但出于{:t('dashboard.secure')}性和身份识别（如号码{:t('common_ui.repair')}服务等）的考虑，您可能无法{:t('common_ui.repair')}购买时提供的初始购买信息及{:t('install_ui.agreement_section16')}{:t('login.verify_token')}信息。
                        <br>
                        7.4 QH团队将运用各种{:t('dashboard.secure')}技术和程序建立完善的管理制度来保护您的{:t('common_ui.personal_info')}，以免遭受未经{:t('common_ui.auth_type')}的访问、使用或披露。
                        <br>
                        7.5 QH团队不会将您的{:t('common_ui.personal_info')}转移或披露给任何第三方，除非：
                        <br>
                        （1）相关法律法规或司法机关、行政机关要求；或
                        <br>
                        （2）为{:t('intro_ui.done')}合并、分立、收购或资产转让而转移；或
                        <br>
                        （3）为提供您要求的服务所必需。
                        <br>
                        （4）依据《QH隐私政策》或{:t('install_ui.agreement_section16')}相关协议规则可以转移或披露给任何第三方的情形。
                        <br>
                        7.6 QH团队非常重视对未成年人{:t('common_ui.personal_info')}的保护。若您不具备完全民事行为能力，在使用本服务前，应事先取得您的监护人的同意。
                        <br>
                        <span id="index8" class="badge badge-info">八、【{:t('install_ui.agreement_section9')}】</span>
                        <br>
                        8.1 【用户{:t('dashboard.security_notice')}事项】
                        <br>
                        您充分理解并同意：
                        <br>
                        8.1.1 为了向您提供更好的服务或维护系统{:t('dashboard.secure')}的目的，QH团队将按照法律法规规定的“合法、必要、正当”的原则{:t('download_ui.get_btn')}、使用您的相关信息。例如：您的QQ好友可以查询您{:t('common.submit')}的可公开的个人资料，为了方便好友与您进行语音通话或视频聊天，会{:t('download_ui.get_btn')}并展示您的设备信息、网络{:t('common.status')}等。您应了解本部分的信息公开和透露可能会给您带来潜在风险，并自行承担由此造成的风险。
                        <br>
                        8.1.2 为增加用户使用本服务的娱乐性，促进用户之间的沟通和交流，改善、优化相应服务，腾讯会对您的昵称、{:t('common_ui.avatar_field')}以及在本系统中的相关{:t('common.operation')}等信息进行使用，也可能通过腾讯的服务或第三方提供的服务向您本人、{:t('install_ui.agreement_section16')}用户展示您的相关信息。腾讯也可能会基于保护您的QQ号码{:t('dashboard.secure')}等需求，收集、使用您的相关{:t('common.operation')}行为等信息。
                        <br>
                        8.1.3 您在使用本服务某一特定功能时，QH团队可以使用您终端设备的相关{:t('common_ui.power_type')}、接口及相关信息等以实现相应的功能，某些特定功能可能还需同意单独的协议、规则等，您在使用该项功能前请仔细阅读前述相关协议、规则。
                        <br>
                        8.1.4 您可以{:t('common_ui.choose')}不向QH团队提供您的某些信息，或者根据产品设置{:t('common.cancel')}QH团队收集某些信息的权利，但因此可能会导致相关服务功能无法实现。
                        <br>
                        8.1.5 QH团队将会尽其商业上的合理努力保障您在本服务中的数据存储{:t('dashboard.secure')}，但是，QH团队并不能就此提供完全保证，包括但不限于以下情形：
                        <br>
                        （1）QH团队不对由于非QH团队原因造成的您在本系统和/或本服务中相关数据的{:t('common.delete')}或储存{:t('common.failed')}负责。
                        <br>
                        （2）您应自行备份存储在本系统和/或本服务中的数据、信息或与本系统和/或本服务相关的数据、信息，双方另有约定的按相应约定执行。
                        <br>
                        （3）如果您停止使用本系统和/或本服务，或因您违反法律法规或本协议而被{:t('common.cancel')}或终止使用本服务，QH团队有权从服务器上永久地{:t('common.delete')}您的数。您的服务停止、终止或{:t('common.cancel')}后，QH团队没有义务向您返还任何数据。
                        <br>
                        8.1.6 本系统内的运营活动均由QH团队或第三方举办，活动中涉及到的奖品，也均由QH团队或第三方自行购买，除有特别声明外，活动中提供的奖品生产商（如奖品为阿杰机器人系统的阿杰机器人，下同）等均未参与本系统内的运营活动。因运营活动产生纠纷的，由QH团队或第三方在法律规定的范围内承担责任，与奖品生产商无关。因活动奖品质量产生纠纷的,按照相关法律规定处理。
                        <br>
                        8.1.7 您使用本服务时，本服务的内容可能会因您使用系统{:t('common_ui.version')}的不同而有差别。您理解当您在使用本系统的某些{:t('common_ui.version')}开通或进入腾讯开发的应用分发类产品或应用分发类功能的相关页面时，此应用分发类产品或功能为更好地向您提供与终端设备上应用相关的升级提示等服务，可能会使用或向您的好友展示您终端设备上使用应用程序的相关信息。
                        <br>
                        8.1.8 本服务可能会向您提供一些与地理位置、兴趣爱好等信息相关的基于非好友用户之间的交友、拓展好友的功能，您使用这些功能即表示您同意本服务{:t('download_ui.get_btn')}、使用您的地理位置、兴趣爱好等信息。同时，您理解并同意：在前述相关功能中，相关信息的发布由用户自行发布，并自行确保其合法、健康、真实以及自行承担相关法律责任；您应自行通过各种手段认真核实相关用户及其发布信息的合法性、真实性，若您与{:t('install_ui.agreement_section16')}用户涉及线下见面、约会或交友等各种实体活动的，要{:t('dashboard.security_notice')}保护好自己的人身、财产{:t('dashboard.secure')}；同时，腾讯在前述相关功能中，仅提供技术支持和平台服务，基于互联网虚拟的特性，腾讯无法核实相关用户及发布信息的真实性、合法性，也无法向您提供任何保证。若由于前述相关功能，导致您在线上、线下有任何人身、财产损失的，您同意自行承担{:t('common.all')}责任，与腾讯无关也不会追究腾讯的任何责任。
                        <br>
                        8.1.9 基于用户体验、QQ或相关服务平台运营{:t('dashboard.secure')}、平台规则要求及健康发展等综合因素，QH团队有权{:t('common_ui.choose')}提供服务的对象，决定功能设置，决定功能开放、数据接口和相关数据披露的对象和范围。针对以下情形，有权视具体情况中止或终止提供相关服务，包括但不限于：
                        <br>
                        （1）违反法律法规或本协议的。
                        <br>
                        （2）影响服务体验的。
                        <br>
                        （3）存在{:t('dashboard.secure')}隐患的。
                        <br>
                        （4）与QQ或其服务平台已有主要功能或功能组件相似、相同，或可实现上述功能或功能组件的主要效用的。
                        <br>
                        （5）界面、风格、功能、描述或使用者体验与QQ或其服务平台类似，可能造成QQ用户认为其所使用的功能或服务来源于腾讯或经腾讯{:t('common_ui.auth_type')}的。
                        <br>
                        （6）利诱用户分享：指通过各种形式的奖励来诱导用户在本系统和/或本服务中分享任何用户、公司或机构的商业或非商业信息，包括但不限于：邀请好友拆礼盒，集赞，分享可增加一次抽奖机会等，下同。
                        <br>
                        （7）胁迫、煽动用户分享：指用夸张、诅咒性质言语来胁迫、引诱用户分享，包括但不限于：“不转不是中国人”“请好心人转发一下”“转发后一生平安”“转疯了”“必转”等，下同。
                        <br>
                        （8）非法{:t('download_ui.get_btn')}用户数据、信息：未经用户明确同意并向用户如实披露数据用途、使用范围等相关系信息的情形下{:t('common.copy')}、存储、使用或传输用户数据的，包括但不限于要求用户共享{:t('common_ui.personal_info')}（手机号、出生日期等）才可使用其功能，或收集用户密码或者用户{:t('common_ui.personal_info')}（包括但不限于手机号、身份证号、生日、住址等），或未经QH团队书面许可，通过本系统和/或本服务收集、存储、抓取、获得或要求用户提供包括但不限于QQ、其服务平台的信息内容、用户数据等QH团队认为属于敏感信息范畴的数据（包括但不限于QQ帐号、用户关系链、好友列表数据、银行账号和密码等），或者将所有获得的前述数据自行或提供给其用户、客户用于创建、补充或维护自身关系链。
                        <br>
                        （9）违背QQ或其服务平台运营原则，或不符合腾讯{:t('install_ui.agreement_section16')}管理要求的。
                        <br>
                        8.2 【用户禁止行为】
                        <br>
                        您在使用本系统和/或本服务的过程中，应遵守相关法律法规、用户协议、规则规范等，不得从事包括但不限于以下任何行为，也不得为以下任何行为提供便利：
                        <br>
                        8.2.1 法律法规禁止的行为
                        <br>
                        您在使用本服务时须遵守法律法规，不得制作、{:t('common.copy')}、发布、传播含有下列内容的信息或从事相关行为，也不得为制作、{:t('common.copy')}、发布、传播含有下列内容的信息或从事相关行为提供便利：
                        <br>
                        （1）反对宪法所{:t('common.confirm')}的基本原则的。
                        <br>
                        （2）危害国家{:t('dashboard.secure')}，泄露国家秘密，颠覆国家政权，破坏国家统一的。
                        <br>
                        （3）损害国家荣誉和利益的。
                        <br>
                        （4）煽动民族仇恨、民族歧视，破坏民族团结的。
                        <br>
                        （5）破坏国家宗教政策，宣扬邪教和封建迷信的。
                        <br>
                        （6）散布谣言，扰乱社会秩序，破坏社会稳定的。
                        <br>
                        （7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的。
                        <br>
                        （8）侮辱或者诽谤他人，侵害他人合法权益的。
                        <br>
                        （9）违反法律法规底线、社会主义制度底线、国家利益底线、公民合法权益底线、社会公共秩序底线、道德风尚底线和信息真实性底线的“七条底线”要求的。
                        <br>
                        （10）法律法规、QH协议或规则等禁止的{:t('install_ui.agreement_section16')}行为。
                        <br>
                        8.2.2 系统使用
                        <br>
                        除非法律法规允许或QH团队书面许可，您不得从事下列行为：
                        <br>
                        （1）{:t('common.delete')}本系统及其副本上关于著作权的信息。
                        <br>
                        （2）对本系统进行反向工程、反向汇编、反向编译，或者以{:t('install_ui.agreement_section16')}方式尝试发现本系统的源代码。
                        <br>
                        （3）对QH团队拥有知识产权的内容进行使用、出租、出借、{:t('common.copy')}、{:t('common_ui.repair')}、链接、转载、汇编、发表、出版、建立镜像站点等。
                        <br>
                        （4）对本系统或者本系统运行过程中释放到任何终端内存中的数据、系统运行过程中客户端与服务器端的交互数据，以及本系统运行所必需的系统数据，进行{:t('common.copy')}、{:t('common_ui.repair')}、增加、{:t('common.delete')}、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非QH团队经{:t('common_ui.auth_type')}的第三方工具/服务接入本系统和相关系统。
                        <br>
                        （5）通过{:t('common_ui.repair')}或伪造系统运行中的指令、数据，增加、删减、变动系统的功能或运行效果，或者将用于上述用途的系统、方法进行运营或向公众传播，无论这些行为是否为商业目的。
                        <br>
                        （6）通过非QH团队开发、{:t('common_ui.auth_type')}的第三方系统、插件、外挂、系统，登录或使用本系统和/或本服务，或制作、发布、传播上述工具。
                        <br>
                        （7）自行、{:t('common_ui.auth_type')}他人或利用第三方系统对本系统和/或本服务及其组件、模块、数据等进行干扰。
                        <br>
                        （8）{:t('install_ui.agreement_section16')}可能影响、干扰本系统和/或本服务{:t('set_ui.speed_normal')}运行的行为。
                        <br>
                        8.2.3 平台健康和用户体验
                        <br>
                        本系统和/或本服务的目的是为了好友之间、用户之间进行各种{:t('set_ui.speed_normal')}的沟通、交流，所以您不得从事包括但不限于以下任何行为，也不得为以下任何行为提供便利：
                        <br>
                        （1）进行任何超出本系统和/或本服务设定目的的非{:t('set_ui.speed_normal')}沟通、交流等行为，包括但不限于：向新发现好友、陌生人发起临时会话，打招呼等行为的频次、时间、地域等超出{:t('set_ui.speed_normal')}范围；向{:t('install_ui.agreement_section16')}用户以各种形式发送、分享任何用户、公司或机构的商业或非商业信息（比如利诱用户分享，胁迫、煽动用户分享等）。
                        <br>
                        （2）出于超出本系统和/或本服务设定目的的好友或用户之间的非{:t('set_ui.speed_normal')}沟通、交流等目的（包括但不限于为发送{:t('install_ui.agreement_section11')}、垃圾、骚扰或违法违规等信息的目的），通过自己{:t('common.add')}或诱导他人{:t('common.add')}等任何方式使自己与{:t('install_ui.agreement_section16')}用户形成好友关系（好友关系包括但不限于单向好友关系和双向好友关系，下同）。您理解并同意：若您违反前述约定，腾讯有权不经您同意而直接解除您的好友关系；若您的单向或双向好友(简称“违规用户”)违反前述约定，QH团队有权按照本协议、相关协议或相关法律法规等，对违规用户进行处理，由此可能会影响您与违规用户之间的信息交流、好友关系等以及您对本服务的使用，这是QH团队为了维护健康良好的网络环境而采取的必要措施，若由于腾讯按照前述约定对违规用户采取措施而对您产生影响或任何损失的，您会自行承担相关损失。
                        <br>
                        （3）通过非人工或非手动方式（比如外挂系统、程序等）发送信息。
                        <br>
                        （4）发送各种形式的{:t('install_ui.agreement_section11')}、推广、垃圾、骚扰或违法违规等信息。
                        <br>
                        （5）通过非人工或非手动方式（比如外挂系统、程序等）进行帐号登录、加好友、加群组、点赞、留言、发帖、发相片等非{:t('set_ui.speed_normal')}的{:t('common.operation')}行为。
                        <br>
                        （6）通过本系统和/或本服务向好友或{:t('install_ui.agreement_section16')}用户批量发送信息或发送非{:t('set_ui.speed_normal')}信息。
                        <br>
                        （7）{:t('install_ui.agreement_section16')}可能影响平台健康、用户交流、用户体验的行为。
                        <br>
                        8.2.4 危害平台{:t('dashboard.secure')}内容
                        <br>
                        您不得从事包括但不限于以下任何行为，也不得为以下任何行为提供便利：
                        <br>
                        （1）传播虚假中奖信息、钓鱼欺诈信息、非法或虚假理财信息等非法、诈骗或虚假信息。
                        <br>
                        （2）传播包含病毒、木马等的文件、程序或相应制作教程等的内容、信息。
                        <br>
                        （3）盗取他人钱财、虚拟物品或{:t('install_ui.agreement_section16')}财产。
                        <br>
                        （4）{:t('install_ui.agreement_section16')}危害QH团队、本系统或{:t('install_ui.agreement_section16')}主体{:t('dashboard.secure')}的内容、信息或行为。
                        <br>
                        8.2.5 数据{:t('download_ui.get_btn')}使用
                        <br>
                        为了保护数据{:t('dashboard.secure')}，您不得从事包括但不限于以下行为，也不得为其提供便利：
                        <br>
                        （1）未经{:t('install_ui.agreement_section16')}QQ用户明确同意，或未向{:t('install_ui.agreement_section16')}QQ用户如实披露数据用途、使用范围等相关信息的情形收集、{:t('common.copy')}、存储、使用或传输{:t('install_ui.agreement_section16')}QQ用户数据，侵害{:t('install_ui.agreement_section16')}QQ用户合法权益。
                        <br>
                        （2）将{:t('install_ui.agreement_section16')}QQ用户QQ号、昵称、手机号、电子邮箱地址和出生日期等{:t('common_ui.personal_info')}用于任何未经用户及腾讯{:t('common_ui.auth_type')}的用途。
                        <br>
                        （3）企图进行反射查找、跟踪、关联、挖掘、{:t('download_ui.get_btn')}用户QQ号、手机号、电子邮箱地址和出生日期等{:t('common_ui.personal_info')}。
                        <br>
                        （4）通过各种程序、系统等抓取任何用户的信息或与本系统和/或本服务相关的任何信息、数据。
                        <br>
                        （5）未经QH团队{:t('common_ui.auth_type')}使用任何第三方系统、插件、外挂、系统等{:t('common.view')}、{:t('download_ui.get_btn')}本系统和/或本服务中所包含的QH团队、QH合作伙伴或用户的任何相关信息、数据等内容。
                        <br>
                        （6）{:t('install_ui.agreement_section16')}危害数据{:t('dashboard.secure')}的行为。
                        <br>
                        8.2.6 解封{:t('common_ui.auth_type')}
                        <br>
                        自行通过人工手动的方式按照QH团队指定流程、规则{:t('common.submit')}解封申请，您不得实施通过系统、程序等申请解封的行为，也不得{:t('common.submit')}虚假资料、相关信息等。
                        <br>
                        8.3 【法律责任】
                        <br>
                        8.3.1 您理解并同意：若您违反法律法规、本协议和/或QH团队{:t('install_ui.agreement_section16')}协议、规则的，QH团队有权随时单方根据相应情形采取以下一项或多项措施（具体措施以及采取措施的时间长短由QH团队根据您的违法、违约情节相应情况{:t('common.confirm')}）：
                        <br>
                        对您进行警告。
                        <br>
                        限制您使用本系统和/或本服务部分或{:t('common.all')}功能。
                        <br>
                        {:t('common.delete')}、屏蔽相关内容或断开链接。
                        <br>
                        中止、终止您对相应{:t('common_ui.auth_type')}账号的使用(简称“封号”) 。
                        <br>
                        采取{:t('install_ui.agreement_section16')}合理、合法的措施。
                        <br>
                        依法追究您的法律责任。
                        <br>
                        8.3.2 如果您违反法律法规、本协议和/或QH团队{:t('install_ui.agreement_section16')}协议、规则，QH团队对您或您使用的本系统和/或本服务采取任何行为或措施后，导致您暂时或永久无法使用QQ、无法使用QQ登录或使用{:t('install_ui.agreement_section16')}产品和/或服务，您应自行承担相应后果（包括但不限于通信中断，用户资料、邮件和虚拟财产及相关数据、增值服务、产品或服务等的清空或无法使用等）。由此造成您损失的，您应自行承担。
                        <br>
                        8.3.3 您应自行对因使用本服务而产生或存储在本服务中的数据(包括但不限于好友信息、图片、个人资料信息、照片等) ，在本服务之外采取合理、{:t('dashboard.secure')}的备份。若腾讯根据本协议对您采取永久封号等措施的，对于您的与本服务相关的{:t('common.all')}数据或您存储在本服务中的{:t('common.all')}数据、信息等，腾讯有权将该等数据{:t('common.all')}予以{:t('common.delete')}，相应后果您应自行承担。
                        <br>
                        8.3.4 您导致任何第三方损害的，您应当独立承担责任；QH团队因此遭受损失的，您也应当一并赔偿。
                        <br>
                        8.4 【对自己行为负责】
                        <br>
                        您充分了解并同意，您必须为自己使用本系统和/或本服务的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对使用本系统和/或本服务时接触到的内容自行加以判断，包括因对内容的正确性、完整性或实用性的依赖而产生的风险，并承担由此引起的相应风险。腾讯在法律允许的范围内不对您因前述风险而导致的任何损失或损害承担责任。
                        <br>
                        8.5 【用户发送、传播的内容与投诉处理】
                        <br>
                        8.5.1 如果您发送或传播的内容违法违规或侵犯他人权利的，您同意QH团队有权进行独立判断并采取{:t('common.delete')}、屏蔽或断开链接等措施。
                        <br>
                        8.5.2如您被他人投诉或您投诉他人，QH团队有权将争议中相关方的主体、联系方式、投诉相关内容等必要信息提供给相关当事方或相关部门，以便及时解决投诉纠纷，保护各方合法权益。
                        <br>
                        <span id="index9" class="badge badge-info">九、【{:t('install_ui.agreement_section10')}】</span>
                        <br>
                        9.1 您在QH团队平台上使用{:t('install_ui.agreement_section10')}时，除遵守本协议约定外，还应遵守第三方的用户协议。腾讯和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。
                        <br>
                        9.2 因用户使用本系统或要求腾讯提供特定服务时，本系统可能会调用第三方系统或者通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供（包括但不限于您通过本服务跳转到的第三方提供的服务及内容，第三方通过腾讯开放平台接入的服务及内容等）。
                        <br>
                        <span id="index10" class="badge badge-info">十、【{:t('install_ui.agreement_section11')}】</span>
                        <br>
                        10.1 您同意QH团队可以自行或由第三方通过短信、电子邮件或电子信息等多种方式向您发送、展示{:t('install_ui.agreement_section11')}或{:t('install_ui.agreement_section16')}信息（包括商业与非商业信息），{:t('install_ui.agreement_section11')}或{:t('install_ui.agreement_section16')}信息的具体发送及展示形式、频次及内容等以QH团队实际提供为准。
                        <br>
                        10.2 QH团队将依照相关法律法规要求开展{:t('install_ui.agreement_section11')}业务。您同意，对本服务中出现的{:t('install_ui.agreement_section11')}，您应审慎判断其真实性和可靠性，除法律明确规定外，您应对因该{:t('install_ui.agreement_section11')}而实施的行为负责。
                        <br>
                        <span id="index11" class="badge badge-info">十一、【{:t('install_ui.agreement_section12')}】</span>
                        <br>
                        11.1 QH团队是本系统的知识产权权利人。本系统的著作权、商标权、专利权、商业秘密等知识产权，以及与本系统相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受法律法规和相应的国际条约保护，腾讯依法享有上述相关知识产权，但相关权利人依照法律规定应享有的权利除外。
                        <br>
                        11.2 未经QH团队或相关权利人书面同意，您不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权。
                        <br>
                        11.3 您理解并同意，在使用本系统及相关服务时，通过好友微视、好友动态、兴趣部落等（功能名称的变更不影响本协议的效力）内容分享功能{:t('common.upload')}、发布、共享的文字、图片、视频、音频等均由您原创或已获合法{:t('common_ui.auth_type')}（含转{:t('common_ui.auth_type')}）。您通过本系统{:t('common.upload')}、发布、共享的任何内容的知识产权归属您或原始著作权人所有。
                        <br>
                        11.4 您知悉、理解并同意，您将于好友微视、好友动态、兴趣部落等（功能名称的变更不影响本协议的效力）内容分享功能发布、{:t('common.upload')}、共享的内容（包括但不限于文字、图片、视频、音频以及上述内容的构成元素等）的相关权利（包括但不限于{:t('common.copy')}权、汇编权、信息网络传播权等），授予腾讯及其关联公司、控制公司、继承公司在全球范围内的免费、非独家、可再许可（通过多层次）、提供给{:t('install_ui.agreement_section16')}用户{:t('wxpay_ui.download')}的权利，适用范围包括但不限于相应的自助下单系统、网站、客户端等。您在此确认，使用的形式包括但不限于使用于具体产品、服务或者为了推广相应产品、服务。
                        <br>
                        <span id="index12" class="badge badge-info">十二、【{:t('install_ui.agreement_section13')}】</span>
                        <br>
                        12.1 您理解并同意，本系统和/或本服务同大多数互联网系统、服务一样，可能会受多种因素影响（包括但不限于用户原因、网络服务质量、社会环境等）；也可能会受各种{:t('dashboard.secure')}问题的侵扰（包括但不限于他人非法利用用户资料，进行现实中的骚扰；用户{:t('wxpay_ui.download')}安装的{:t('install_ui.agreement_section16')}系统或访问的{:t('install_ui.agreement_section16')}网站中可能含有病毒、木马程序或{:t('install_ui.agreement_section16')}恶意程序，威胁您终端的信息和数据的{:t('dashboard.secure')}，继而影响本系统、本服务的{:t('set_ui.speed_normal')}使用等），因此，您应加强信息{:t('dashboard.secure')}及{:t('common_ui.personal_info')}的保护意识，{:t('dashboard.security_notice')}密码保护，以免遭受损失。
                        <br>
                        12.2 您不得制作、发布、使用、传播用于窃取{:t('common_ui.auth_type')}账号和/或他人{:t('common_ui.personal_info')}、财产的恶意程序。
                        <br>
                        12.3 维护系统{:t('dashboard.secure')}与{:t('set_ui.speed_normal')}使用是QH团队和您的共同责任，腾讯将按照行业标准合理审慎地采取必要技术措施保护您的终端信息和数据{:t('dashboard.secure')}，但是您承认和同意腾讯不能就此提供任何保证。
                        <br>
                        <span id="index13" class="badge badge-info">十三、【{:t('install_ui.agreement_section14')}】</span>
                        <br>
                        13.1 本系统可能会使用{:t('install_ui.agreement_section14')}（包括本系统可能使用的开源代码和公共领域代码等，下同），这种使用已经获得合法{:t('common_ui.auth_type')}。
                        <br>
                        13.2 本系统如果使用了第三方的系统或技术，QH团队将按照相关法规或约定，对相关的协议或{:t('install_ui.agreement_section16')}文件，可能通过本协议附件、在本系统安装包特定文件夹中打包等形式进行展示，它们可能会以“系统使用许可协议”“{:t('common_ui.auth_type')}协议”“开源代码许可证”或{:t('install_ui.agreement_section16')}形式来表达。
                        <br>
                        13.3 前述通过各种形式展现的相关协议或{:t('install_ui.agreement_section16')}文件，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，您应当遵守这些要求。如果您没有遵守这些要求，该第三方或者国家机关可能会对您提起诉讼、罚款或采取{:t('install_ui.agreement_section16')}制裁措施，并要求腾讯给予协助，您应当自行承担法律责任。
                        <br>
                        <span id="index14" class="badge badge-info">十四、【{:t('install_ui.agreement_section15')}】</span>
                        <br>
                        14.1 您理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务受到影响。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，腾讯将努力在第一时间与相关单位配合，争取及时进行处理，但是由此给您造成的损失QH团队在法律允许的范围内免责。
                        <br>
                        14.2 在法律允许的范围内，腾讯对以下情形导致的服务中断或受阻不承担责任：
                        <br>
                        （1）受到计算机病毒、木马或{:t('install_ui.agreement_section16')}恶意程序、黑客攻击的破坏。
                        <br>
                        （2）用户或腾讯的电脑系统、系统、硬件和通信线路出现故障。
                        <br>
                        （3）用户{:t('common.operation')}不当或用户通过非QH团队{:t('common_ui.auth_type')}的方式使用本服务。
                        <br>
                        （4）程序{:t('common_ui.version')}过时、设备的老化和/或其兼容性问题。
                        <br>
                        （5）{:t('install_ui.agreement_section16')}QH团队无法控制或合理预见的情形。
                        <br>
                        14.3 您理解并同意，在使用本服务的过程中，可能会遇到网络信息或{:t('install_ui.agreement_section16')}用户行为带来的风险，QH团队不对任何信息的真实性、适用性、合法性承担责任，也不对因侵权行为给您造成的损害负责。这些风险包括但不限于：
                        <br>
                        （1）来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息。
                        <br>
                        （2）遭受他人误导、欺骗或{:t('install_ui.agreement_section16')}导致或可能导致的任何心理、生理上的伤害以及经济上的损失。
                        <br>
                        （3）{:t('install_ui.agreement_section16')}因网络信息或用户行为引起的风险。
                        <br>
                        14.4 QH团队依据本协议约定获得处理违法违规内容的权利，该权利不构成QH团队的义务或承诺，QH团队不能保证及时发现违法行为或进行相应处理。
                        <br>
                        14.5 在任何情况下，您不应轻信借款、索要密码或{:t('install_ui.agreement_section16')}涉及财产的信息。涉及财产{:t('common.operation')}的，请一定先核实对方身份，并请经常留意腾讯有关防范诈骗犯罪的提示。
                        <br>
                            <span id="index15" class="badge badge-info">十五、【{:t('install_ui.agreement_section16')}】</span>
                        <br>
                        15.1 您使用本系统和/或本服务即视为您已阅读本协议并接受本协议的约束。QH团队有权在必要时{:t('common_ui.repair')}本协议条款。您可以在相关服务页面查阅最新{:t('common_ui.version')}的协议条款。本协议条款变更后，如果您继续使用QH团队提供的系统或服务，即视为您已接受变更后的协议。
                        <br>
                        15.2 本协议签订地为中华人民共和国。
                        <br>
                        15.3 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
                        <br>
                        15.4 若您和QH团队之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议{:t('common.submit')}本协议签订至有管辖权的人民法院管辖。
                        <br>
                        15.5 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。
                        <br>
                        15.6 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。
                        <br>
                        15.7 若本协议有中文、英文等多个语言{:t('common_ui.version')}，相应内容不一致的，均以中文版的内容为准。（完）
                        <br>
                        <br>
                        <center>━ 最终解释权归QH团队所有 ━</center>

                    </div>
                </div>
        </section>
    </div>
<script>
    $("#close").click(function(){
        $('#myModal').modal('hide');
    });
</script>
</body>
</html>