{include file="/public/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('auth_portal.content')}</label>
                        <div class="layui-input-inline">
                            <input name="text" class="layui-input" placeholder="{:t('common.search_by_power_name')}"/>
                        </div>
                    </div>
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label">状&emsp;态</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <select name="status" class="ew-select-fixed">-->
<!--                                <option value="">{:t('common_ui.select_status')}</option>-->
<!--                                <option value="1">{:t('common.show')}</option>-->
<!--                                <option value="0">{:t('common.hide')}</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="QH_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>{:t('common_ui.search_btn')}
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{:t('price_ui.template')}</label>
                        <div class="layui-input-inline">
                            <select id="select_template_list" class="layui-input ew-select-fixed" lay-filter="template" lay-search>
                                <option value="">{:t('common.all')}{:t('common_ui.power_type')}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->

            <table id="QH_Table" lay-filter="QH_Table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="QH_PowerBar">
<a lay-event="setPowerTop" lay-tips="{:t('price_ui.move_top')}" lay-direction="4" lay-bg="#4facfe">
    <img src="{__IMG__}top.svg" style="width: 25px;">
</a>
<a lay-event="setPowerUp" lay-tips="{:t('price_ui.move_up')}" lay-direction="1" lay-bg="#4facfe">
    <img src="{__IMG__}up.svg" style="width: 25px;">
</a>
<a lay-event="setPowerDown" lay-tips="{:t('price_ui.move_down')}" lay-direction="3" lay-bg="#4facfe">
    <img src="{__IMG__}down.svg" style="width: 25px;">
</a>
<a lay-event="setPowerBottom" lay-tips="{:t('price_ui.move_bottom')}" lay-direction="2" lay-bg="#4facfe">
    <img src="{__IMG__}bottom.svg" style="width: 25px;">
</a>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="QH_TbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">{:t('common.edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">{:t('common.delete')}</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="QH_TbState">
    <input type="checkbox" lay-filter="QH_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="{:t('common_ui.show_hide')}" {{d.status==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="QH_TbAddAuthPower">
    <input type="checkbox" lay-filter="QH_TbAddAuthPowerCk" value="{{d.id}}" lay-skin="switch" {{d.addauth_power==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="QH_TbAddUserPower">
    <input type="checkbox" lay-filter="QH_TbAddUserPowerCk" value="{{d.id}}" lay-skin="switch" {{d.adduser_power==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="QH_TbDefaultPower">
    <input type="checkbox" lay-filter="QH_TbDefaultPowerCk" value="{{d.id}}" lay-skin="switch" {{d.default_power==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="QH_Tbid">
    <span id="QH_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-qh-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="QH_EditDialog">
    <form id="QH_EditForm" lay-filter="QH_EditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">{:t('price_ui.template_label')}</label>
            <div class="layui-input-block">
                <select id="tid" name="tid" class="layui-input ew-select-fixed" lay-search lay-filter="tid">
                    <option value="">{:t('app_ui.select_template')}</option>
                </select>
            </div>
        </div>
        <div id="form_data" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.name_label')}</label>
                <div class="layui-input-block">
                    <input type="text" name="name" placeholder="{:t('power_price.name_placeholder')}" class="layui-input"
                           lay-verType="tips" lay-verify="required" required/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.auth_discount_label')}</label>
                <div class="layui-input-block">
                    <input type="number" name="addauth_discount" placeholder="{:t('power_price.auth_discount_placeholder')}" class="layui-input" step="1" min="0" max="100"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.agent_discount_label')}</label>
                <div class="layui-input-block">
                    <input type="number" name="adduser_discount" placeholder="{:t('power_price.agent_discount_placeholder')}" class="layui-input" step="1" min="0" max="100"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:t('power_price.enable_discount_code')}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="discount_code_enabled" value="1" lay-skin="switch" title="{:t('power_price.discount_code_help')}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:t('power_price.enable_rebate')}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="rebate_enabled" value="1" lay-skin="switch" title="{:t('power_price.rebate_help')}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.rebate_rate_label')}</label>
                <div class="layui-input-block">
                    <input type="number" name="rebate_rate" placeholder="{:t('power_price.rebate_rate_placeholder')}" class="layui-input" step="0.01" min="0" max="100"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.parent_id_label')}</label>
                <div class="layui-input-block">
                    <select id="parentid" name="parentid" class="layui-input ew-select-fixed" lay-search>
                        <option value="">{:t('power_price.select_parent')}</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.price_label')}</label>
                <div class="layui-input-block">
                    <input type="number" name="money" placeholder="{:t('price_ui.sale_price_placeholder')}" class="layui-input" step="0.01" min="0" max="999999"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">{:t('power_price.introduction')}</label>
                <div class="layui-input-block">
                    <textarea name="introduce" class="layui-textarea" style="height:100px" placeholder="{:t('power_price.introduction_placeholder')}"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.add_auth_label')}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="addauth_power" value="1" lay-skin="switch"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('power_price.add_subordinate_label')}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="adduser_power" value="1" lay-skin="switch"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">{:t('auth_portal.status_label')}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" value="1" lay-skin="switch" checked/>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="QH_EditSubmit" lay-submit>{:t('common.save')}</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">{:t('common.cancel')}</button>
        </div>
    </form>
</script>

{include file="/public/footer"}
<script>
    layui.use(['layer', 'form', 'admin', 'notice','treeTable', 'util'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var notice = layui.notice;
        var treeTable = layui.treeTable;
        var util = layui.util;
        var insTb = treeTable.render({
            elem: '#QH_Table',
            url: '{:url("/PowerPrice/list")}',
            method: 'post',
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>{:t('common.add')}</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>{:t('common.delete')}</button>',
                '</p>'].join(''),
            tree: {
                idName: 'id',                                // id的字段名
                pidName: 'parentid',                         // pid的字段名
                openName: 'open',                            // 是否默认展开的字段名
                iconIndex: 3,
                isPidData: true,                             // 图标列的索引
            },
            cols: [[
                {type: 'checkbox', fixed: true},
                {field: 'id', title: 'ID', templet: '#QH_Tbid', sort: true, width: 80, fixed: true},
                {field: 'templateName', title: '{:t("price_ui.owned_template")}', sort: true, minWidth: 120, templet: function (d) {
                        return '<span class="layui-badge layui-badge-orange">'+d.templateName+'</span>';
                    }},
                {field: 'name', title: '{:t("power_price.name")}', sort: true, minWidth: 250},
                {field: 'power', title: '{:t("power_price.purchase_discount")}', align: 'right', templet: function (d) {
                    if (d.addauth_discount >= '100') {
                        var addauth = '<span class="layui-badge layui-badge-red">{:t("power_price.auth_no_discount")}</span> ';
                    } else {
                        var discount = parseInt(d.addauth_discount) / 10;
                        if(discount == '0'){
                            var addauth = '<span class="layui-badge layui-badge-green">{:t("power_price.auth_free")}</span> ';
                        }else{
                            var addauth = '<span class="layui-badge layui-badge-blue">'+t('power_price.auth_discount', {discount:discount,rate:parseInt(d.addauth_discount)})+'</span> ';
                        }
                    }
                    if (d.adduser_discount >= '100') {
                        var adduser = '<span class="layui-badge layui-badge-red">{:t("power_price.agent_no_discount")}</span>';
                    } else {
                        var discount = parseInt(d.adduser_discount) / 10;
                        if(discount == '0'){
                            var adduser = '<span class="layui-badge layui-badge-green">{:t("power_price.agent_free")}</span> ';
                        }else{
                            var adduser = '<span class="layui-badge layui-badge-blue">'+t('power_price.agent_discount', {discount:discount,rate:parseInt(d.adduser_discount)})+'</span> ';
                        }
                    }
                    return addauth + adduser;
                    }, sort: true, minWidth: 352
                },
                {field: 'addauth_power', title: '{:t("auth_portal.add_auth")}', templet: '#QH_TbAddAuthPower', sort: true, minWidth: 110},
                {field: 'adduser_power', title: '{:t("power_price.add_subordinate")}', templet: '#QH_TbAddUserPower', sort: true, minWidth: 110},
                {field: 'discount_code_enabled', title: '{:t("recharge.discount_code")}', templet: function(d){
                    return d.discount_code_enabled==1
                        ? '<span class="layui-badge layui-badge-green">{:t('common.open')}</span>'
                        : '<span class="layui-badge layui-badge-gray">{:t('common.close')}</span>';
                }, sort: true, minWidth: 90},
                {field: 'rebate_enabled', title: '{:t("power_price.rebate")}', templet: function(d){
                    return d.rebate_enabled==1
                        ? '<span class="layui-badge layui-badge-blue">'+t('power_price.enabled_rate', {rate:d.rebate_rate})+'</span>'
                        : '<span class="layui-badge layui-badge-gray">{:t('common.close')}</span>';
                }, sort: true, minWidth: 130},
                {field: 'introduce', title: '{:t("power_price.introduction")}', sort: true, minWidth: 120},
                {field: 'money', title: '{:t("common_ui.power_price")}', sort: true, minWidth: 100},
                {field: 'default_power', title: '{:t("user_home.default_permission")}', templet: '#QH_TbDefaultPower', sort: true, minWidth: 100},
                {field: 'addtime', title: '{:t("common.add_time")}', sort: true, minWidth: 200},
                {field: 'status', title: '{:t("common.status")}', templet: '#QH_TbState', sort: true, minWidth: 100},
                {title: '{:t("common.operation")}', toolbar: '#QH_TbBar', align: 'center', width: 200, minWidth: 200}
            ]]
        });

        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
        $.ajax({
            type: "POST",
            url: '{:url("/PowerTemplate/getList")}',
            dataType: "json",
            success: function(data) {
                notice.destroy();
                if (data.code == 0) {
                    notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                    var content = '';
                    $.each(data.data.data,function(index, value){
                        content += '<option value="'+value.id+'">'+value.name+'</option>';
                    });
                    $("#select_template_list").html(content);
                } else {
                    notice.msg(data.msg, {icon: 2, audio:'1'});
                }
                form.render();
            },
            error: function() {
                notice.destroy();
                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
            }
        });

        form.on('select(tid)', function (data) {
            if (data.value == "") {
                $("#form_data").css("display","none");
            }else{
                notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: '{:url("/PowerPrice/getPowerList")}',
                    data: {
                        "tid": data.value,
                        "exclude_id": $("#QH_EditForm input[name='id']").val() || 0,
                        "include_disabled": 1
                    },
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            notice.msg('{:t("common.list_success")}', {icon: 1, audio:'1'});
                            var content = '<option value="">{:t("power_price.select_parent")}</option><option value="0">{:t("power_price.no_parent")}</option>';
                            $.each(data.data.data, function(index, value) {
                                content +='<option value="'+value.id+'">'+value.name+(value.status==1?'':'{:t("power_price.disabled_suffix")}')+'</option>';
                            });
                            $("#parentid").html(content);
                        } else {
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                        form.render();
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    }
                });
                $("#form_data").css("display","inherit");
            }

        });
        form.on('switch(permanent_switch)', function (data) {
            if (data.elem.checked) {
                $("#day").css("display","none");
            }else{
                $("#day").css("display","inherit");
            }
        });

        /* 表格搜索 */
        form.on('submit(QH_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        form.on('select(template)', function (data) {
            if(data.value == ''){
                insTb.reload({where: {tid:data.value}});
            }else{
                insTb.reload({where: {tid:data.value}});
            }
            return false;
        });
        {if $tid != ''}
        insTb.reload({where: {tid:{$tid}}});
        {/if}
        /* 表格工具条点击事件 */
        treeTable.on('tool(QH_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            }
        });

        /* 表格头工具栏点击事件 */
        treeTable.on('toolbar(QH_Table)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = insTb.checkStatus();
                if (checkRows.length === 0) {
                    layer.msg('{:t("confirm.please_select_data")}', {icon: 2});
                    return;
                }
                var ids = checkRows.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.popupRight({
                type: 1,
                title: (mData ? '{:t("common.edit")}' : '{:t("common.add")}') + '{:t("common_ui.power_type")}',
                content: $('#QH_EditDialog').html(),
                success: function (layero, dIndex) {
                    notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                    $.ajax({
                        type: "POST",
                        url: '{:url("/PowerTemplate/getList")}',
                        dataType: "json",
                        success: function(data) {
                            notice.destroy();
                            if (data.code == 0) {
                                notice.msg("{:t('common.list_success')}", {icon: 1, audio:'1'});
                                var content = '<option value="">{:t('app_ui.select_template')}</option>';
                                $.each(data.data.data,function(index, value){
                                    content += '<option value="'+value.id+'">'+value.name+'</option>';
                                });
                                $("#tid").html(content);
                            } else {
                                notice.msg(data.msg, {icon: 2, audio:'1'});
                            }
                            form.render();
                        },
                        error: function() {
                            notice.destroy();
                            notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                        }
                    });
                    // 回显表单数据
                    if(mData){
                        $("#form_data").css("display", "inherit");
                        notice.msg('{:t("common.loading_text")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/PowerPrice/getPowerList")}',
                            data: {"tid":mData.tid,"exclude_id":mData.id,"include_disabled":1},
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    notice.msg(data.msg, {icon: 1, audio:'1'});
                                    var content = '<option value="">{:t("power_price.select_parent")}</option><option value="0">{:t("power_price.no_parent")}</option>';
                                    $.each(data.data.data, function(index, value) {
                                        content +='<option value="'+value.id+'">'+value.name+(value.status==1?'':'{:t("power_price.disabled_suffix")}')+'</option>';
                                    });
                                    $("#parentid").html(content);
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                                form.render();
                                form.val('QH_EditForm', mData);
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                    }else{
                        form.render();
                        $("#form_data").css("display","none");
                    }

                    // 表单提交事件
                    form.on('submit(QH_EditSubmit)', function (data) {
                        notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                        $.ajax({
                            type: "POST",
                            url: '{:url("/PowerPrice/edit")}',
                            data: data.field,
                            dataType: "json",
                            success: function(data) {
                                notice.destroy();
                                if (data.code == 0) {
                                    insTb.refresh();
                                    notice.msg(data.msg, {icon: 1, audio:'1'});
                                } else {
                                    notice.msg(data.msg, {icon: 2, audio:'1'});
                                }
                            },
                            error: function() {
                                notice.destroy();
                                notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                            }
                        });
                        return false;
                    });
                    // 禁止弹窗出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('{:t("auth_portal.confirm_delete")}', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('{:t("common.loading")}', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/PowerPrice/drop")}' : '{:url("/PowerPrice/batchDrop")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            insTb.refresh();
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                    }
                });
            });
        }

        /* 修改用户状态 */
        form.on('switch(QH_TbStateCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/PowerPrice/setStatus")}',
                data: {id:obj.value,status:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                }
            });
        });

        form.on('switch(QH_TbAddAuthPowerCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/PowerPrice/setPower")}',
                data: {id:obj.value,type:'addauth_power',status:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                }
            });
        });



        form.on('switch(QH_TbAddUserPowerCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/PowerPrice/setPower")}',
                data: {id:obj.value,type:'adduser_power',status:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                }
            });
        });

        form.on('switch(QH_TbDefaultPowerCk)', function (obj) {
            notice.msg('{:t("common.loading")}', {icon: 4, close: true});
            $.ajax({
                type: "POST",
                url:'{:url("/PowerPrice/setDefaultPower")}',
                data: {id:obj.value,default_power:obj.elem.checked ? 1 : 0},
                dataType: "json",
                success: function(data) {
                    notice.destroy();
                    if (data.code == 0) {
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 1, audio:'1'});
                    }else{
                        insTb.refresh();
                        notice.msg(data.msg, {icon: 2, audio:'1'});
                    }
                },
                error: function() {
                    notice.destroy();
                    notice.msg("{:t('common.server_error')}", {icon: 2, audio:'1'});
                }
            });
        });
    });
</script>
